{% load staticfiles %}
{% load humanize %}

<!DOCTYPE HTML>
<html>

<head>
    {% block meta %}
    <title>{{ author.store_name }} | {{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
     <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="website {{author.store_name}}, halaman {{author.store_name}}, lokasi {{author.store_name}}, situs {{author.store_name}}, toko {{author.store_name}}, shop {{author.store_name}}, rating {{author.store_name}}, reputasi {{author.store_name}}" />
    <meta name="description" content="{{author.about_store}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% endblock %}

    <!-- Google fonts -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

    <!-- pace -->
    <script src="{% static "library/pace/pace.min.js" %}"></script>
    <link href="{% static "library/pace/themes/blue/pace-theme-flash.css" %}" rel="stylesheet" />

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/boostrap.css" %}" type="text/css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="{% static "css/font_awesome.css" %}">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->
    
    <!--  -->
    <link rel="stylesheet" href="{% static "library/bootstrap-select/dist/css/bootstrap-select.min.css" %}">
    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logos/favicon.ico" />

    <style type="text/css">
    .product-thumb .product-title {
        font-size: 14px;
    }
    .sidebar-right{
        margin-left: 0px;
    }
    </style>
</head>

<body>


    <div class="global-wrap">


        <!-- //////////////////////////////////
    //////////////MAIN HEADER///////////// 
    ////////////////////////////////////-->
        <div class="top-main-area text-center">
            <div class="container">
               <a href="{% url 'index' %}" class="">
                            <img style="width:130px; margin-left:10px;" src="{% static 'img/logos/keudee.png' %}" alt="Keudee" title="{{ WEBSITES.meta_information.title }}" />
                        </a>
            </div>
        </div>
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- MAIN NAVIGATION -->
                        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
                        <nav>
                           <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                                <li><a href="{% url 'index' %}">Beranda</a> </li>
                                <li><a>Tentang</a>
                                    <ul>
                                        
                                        <li><a href="{% url 'page' page='tentang.html' %}">Keudee.com</a>
                                        </li>
                                        <li><a href="{% url 'page' page='syarat-dan-ketentuan-layanan.html' %}">Syarat dan Ketentuan Layanan</a>
                                        </li>

                                    </ul>
                                </li>

                                <li><a href="{% url 'blogs' %}">Blog</a></li>
                                <li><a href="{% url 'page' page='faq.html' %}">Faq</a></li>
                                <li><a href="{% url 'page' page='kontak.html' %}">Kontak</a></li>
                                        
                            </ul>
                        </nav>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                    <div class="col-md-6">
                        <!-- LOGIN REGISTER LINKS -->
                        <ul class="login-register">
                            {% if kedai %}
                            <li>
                                <a href="{% url 'profile' %}"><i class="fa fa-user"></i>Hi, {{ kedai.store_name }}</a>
                            </li>
                            <li>
                                <a href="{% url 'log_out' %}">
                                <i class="fa fa-sign-out"></i>Log Out</a>
                            </li>

                            {% else %}

                            <li>
                                <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}"><i class="fa fa-edit"></i>Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        


        <!-- PAGE TITLE -->
        <!-- <div class="top-title-area">
            <div class="container">
                <h1 class="title-page"></h1>
            </div>
        </div> -->
        <!-- END PAGE TITLE -->

        <!-- SEARCH AREA -->
        <form action="{% url 'search' %}" method="GET" class="search-area form-group search-area-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 clearfix">
                        <label><i class="fa fa-search"></i><span>Saya mencari</span>
                        </label>
                        <div class="search-area-division search-area-division-input">
                            <input name="q" {% if get_search %} value="{{ get_search }}" {% endif %}class="form-control" type="text" placeholder="Laptob" />
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <label><i class="fa fa-map-marker"></i><span>di</span>
                        </label>
                        <div class="search-area-division search-area-division-location">
                            <input class="form-control" type="text" placeholder="Banda Aceh" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <!-- //////////////////////////////////
    //////////////END MAIN HEADER////////// 
    ////////////////////////////////////-->


        <!-- //////////////////////////////////
    //////////////PAGE CONTENT///////////// 
    ////////////////////////////////////-->


        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-right hidden-phone">
                        <div class="product-info box"  style="text-align:center;">
                                    {% if author.logo_image %}
                                            <img style="margin-top: 13px;width: 100px; height: 80px; border:1px solid gray;" src="{{WEBSITES.upload.photo_profile}}{{ author.logo_image}}"  class="img-circle img-rounded">
                                            {% else %}
                                            <img style="width: 100px; height: 80px; " src="{% static 'img/no-avatar.gif' %}" class="img-circle img-rounded">
                                            {% endif %}
                                        <h3 class="show-product-brand-name" style="margin-top: 7px;">
                                            <a href="{% url 'author' slug_url=author.store_url_slug %}" style="text-decoration:underline;">{{ author.store_name }}
                                            </a>
                                        </h3>    
                                        <ul class="list-inline">
                                            <li><i class="fa fa-map-marker fa-fw"></i> {{ author.region.region }}</li>
                                            <li><i class="fa fa-phone fa-fw"></i> 
                                            {% if author.phone_number %} 
                                                {{ author.phone_number }} 
                                            {% else %}
                                                Tidak ada 
                                            {% endif %}
                                            </li>
                                        </ul>
                                <ul class="list-inline" style="margin-top: 3px; text-align:center;">
                                     <li><small>Bergabung Sejak <b> {{ author.author.date_joined | date:"d M, y"}}</b>.</small></li>
                                    <li><small>Terakhir Online <b>{{ author.author.last_login | naturalday }}</b></small>.</li>
                                </ul>
                                    
                            </div>

                            <div class="gap gap-mini"></div>

                            <div class="sidebar-box">
                            <h5>Produk Popular</h5>
                            <ul class="thumb-list">
                                {% for popular_products in popular_products %}
                                <li>
                                    <a href="{% url 'display_product' slug=popular_products.slug_url %}">
                                        <img src="{{WEBSITES.upload.product_thumbnails}}{{popular_products.kedai.id}}/{{ popular_products.images.0 }}" alt="{{ popular_products.product_name }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                        <a href="{% url 'display_product' slug=popular_products.slug_url %}">{{ popular_products.product_name }}</a>
                                        </h5>
                                        <p>Rp. {{ popular_products.price | intcomma }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            </div>
                       
                    </aside>
                </div>
                <div class="col-md-9">
                    <!-- <a href="#"> -->
                        <div class="header-author">
                            {% if author.header_image %}
                            <img style="width: 100%; height:235px; " src="{{ WEBSITES.upload.header_author }}{{ author.header_image }}">
                            {% else %}
                            {% endif %}
                        </div>
                    <!-- </a> -->
                    <br>
                    <form method="GET" id="author_sort" action="{% url 'author' slug_url=author.store_url_slug %}">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" name="q" class="form-control" placeholder="Cari Produk" {% if search_product %} value="{{ search_product }}" {%endif%}>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                 <select name="condition" class="form-control selectpicker show-tick">
                                 {% if condition == '0' %}
                                    <option value="0" selected="">Semua</option>
                                    <option value="1">Baru</option>
                                    <option value="2">Bekas</option>  

                                 {% elif condition == '1' %}
                                    <option value="0">Semua</option>
                                    <option value="1" selected="">Baru</option>
                                    <option value="2">Bekas</option>  
                                 {% elif condition == '2' %}   
                                    <option value="0">Semua</option>
                                    <option value="1">Baru</option>
                                    <option value="2" selected="">Bekas</option>
                                 {% else %}   
                                    <option value="0" selected="">Semua</option>
                                    <option value="1">Baru</option>
                                    <option value="2">Bekas</option> 
                                 {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                 <select name="sort_product" class="form-control selectpicker show-tick">
                                   {% if sort_product == '1' %}
                                       <option value="1" selected="selected">Produk Terbaru</option>
                                       <option value="2">Nama Produk</option>
                                       <option value="3">Dilihat Terbanyak</option>
                                       <option value="4">Harga Terendah</option>
                                       <option value="5">Harga Tertinggi</option>
                                   {% elif sort_product == '2' %}   
                                       <option value="1">Produk Terbaru</option>
                                       <option value="2" selected="selected">Nama Produk</option>
                                       <option value="3">Dilihat Terbanyak</option>
                                       <option value="4">Harga Terendah</option>
                                       <option value="5">Harga Tertinggi</option>
                                   {% elif sort_product == '3' %}   
                                       <option value="1">Produk Terbaru</option>
                                       <option value="2">Nama Produk</option>
                                       <option value="3" selected="selected">Dilihat Terbanyak</option>
                                       <option value="4">Harga Terendah</option>
                                       <option value="5">Harga Tertinggi</option>     
                                   {% elif sort_product == '4' %}   
                                       <option value="1">Produk Terbaru</option>
                                       <option value="2">Nama Produk</option>
                                       <option value="3">Dilihat Terbanyak</option>
                                       <option value="4" selected="selected">Harga Terendah</option>
                                       <option value="5">Harga Tertinggi</option>    
                                    {% elif sort_product == '5' %}   
                                       <option value="1">Produk Terbaru</option>
                                       <option value="2">Nama Produk</option>
                                       <option value="3">Dilihat Terbanyak</option>
                                       <option value="4">Harga Terendah</option>
                                       <option value="5" selected="selected">Harga Tertinggi</option>       
                                    {% else %}   
                                    <option value="1" selected="selected">Produk Terbaru</option>
                                       <option value="2">Nama Produk</option>
                                       <option value="3">Dilihat Terbanyak</option>
                                       <option value="4">Harga Terendah</option>
                                       <option value="5">Harga Tertinggi</option>
                                   {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    </form>

                    <div class="author-product">
                        <div class="row row-wrap" id="masonry">
                            {% for products in products %}
                            <a class="col-md-3 col-masonry" href="{% url 'display_product' slug=products.slug_url %}">
                                <div class="product-thumb">
                                    <header class="product-header">
                                        {% if products.viewer > WEBSITES.rating.popular  %}
                                        <span class="product-label label label-success">popular</span>
                                        {% else %}
                                        {% endif %}
                                        <img src="{{WEBSITES.upload.product_thumbnails}}{{products.kedai.id}}/{{ products.images.0 }}" title="{{ products.information |striptags | truncatewords:50 }}" />
                                        
                                    </header>
                                    <div class="product-inner">
                                        <h5 class="product-title">{{ products.product_name }}</h5>
                                        <div class="product-meta"><span class="product-time"></span>
                                            <ul class="product-price-list">
                                                <li style="font-size: 13px; color: black;">Rp. {{ products.price | intcomma }}</li>
                                            </ul>
                                        </div>
                                        <p class="product-location"><i class="fa fa-map-marker"></i> {{ products.kedai.region.region }}</p>
                                    </div>
                                </div>
                            </a>

                            {% endfor %}
                        </div>
                            {% if paginator.num_pages > 1%}         
                     <ul class="pagination">

                        {% if products.has_previous %}
                        <li class="prev">
                            <a href="?page={{ products.previous_page_number }}"></a>
                        </li>
                        {% endif %}

                        {% for page_range in paginator.page_range %}
                        <li {% if products.number  == page_range  %} class="active"{% endif %}><a href="?{% if condition %}condition={{ condition }}&{%endif%}{% if sort_product %}sort_product={{ sort_product }}&{%endif%}page={{ page_range }}">{{ page_range }}</a></li> 
                        {% endfor %}
                        

                        {% if products.has_next %}
                        <li class="next">
                            <a href="?page={{ products.next_page_number }}"></a>
                        </li>
                        {% endif %}
                    </ul>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            <div class="gap gap-mini"></div>
        </div>

        {% endblock %}

        <!-- //////////////////////////////////
    //////////////END PAGE CONTENT///////// 
    ////////////////////////////////////-->



        <!-- //////////////////////////////////
    //////////////MAIN FOOTER////////////// 
    ////////////////////////////////////-->

        <!-- MAIN FOOTER -->
        <script src="/static/js/jquery.js"></script>

</script>
<footer class="main">

            <div class="footer-top-area">
                <div class="container">
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <a href="{% url 'index' %}">
                                <img style="width: 110px; margin-left: 0px;" src="{% static 'img/logos/keudee.png' %}" alt="{{ WEBSITES.meta_information.title }}" title="{{ WEBSITES.meta_information.title }}" class="logo">
                            </a>
                            <ul class="list list-social">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="{{ WEBSITES.social_media.facebook }}" target="blank" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="{{ WEBSITES.social_media.twitter }}" target="blank" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr box-icon" href="{{ WEBSITES.social_media.flickr }}" target="blank" data-toggle="tooltip" title="Flickr"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr box-icon" href="#" data-toggle="tooltip" title="Tumblr"></a>
                                </li>
                                
                            </ul>
                            
                            <p>{{ WEBSITES.meta_information.description }}</p>
                        </div>
                        <div class="col-md-3">
                            <h4>Berlangganan Berita</h4>
                            <div class="box">
                                    <div class="form-group mb10">
                                        <label>E-mail</label>
                                        <input type="text" id="subscriber-email" class="form-control" />
                                    </div>
                                    <p class="mb10">Dapatkan pemberitahuan otomatis, diskon, artikel dan banyak lagi.</p>

                                    <a id="subscriber-button" class="btn btn-primary">Berlangganan</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Informasi Umum</h4>
                            <li><a href="/page/tentang.html">Tentang Kami</a></li>
                            <li><a href="{% url 'confirmation' %}">Konfirmasi Pembayaran</a></li>
                            <li><a href="#">Kebijakan Privasi</a></li>
                             <li><a href="/page/syarat-dan-ketentuan-layanan.html">Syarat dan Ketentuan Layanan</a></li>
                             <li><a href="{% url 'blogs' %}">Blog dan Artikel</a></li>
                             <li><a href="/page/kontak.html">Layanan Kontak</a></li>
                             <li><a href="/page/faq.html">FAQ (Pertanyaan yang sering diajukan</a></li>
                        </div>
                        <div class="col-md-3">
                            <h4>Artikel Terbaru</h4>
                            <ul class="thumb-list blogpost">
                                {% for blogs in blogs %}
                                <li>
                                    <a href="{% url 'display_blog' slug=blogs.slug_url %}">
                                        <img src="{{ WEBSITES.upload.blog }}{{ blogs.image_thumbnail }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                            <a href="{% url 'display_blog' slug=blogs.slug_url %}" style="color: white;">{{ blogs.post_name }}
                                            </a>
                                        </h5>
                                        <p class="thumb-list-item-meta">{{ blogs.date_created | naturalday  }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>{{ WEBSITES.meta_information.copyright }}</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="pull-right">
                                <ul class="list-inline list-payment">
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-aceh.jpg" %}" alt="Bank Aceh" title="Bank Aceh" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bni.png" %}" alt="Bank BNI" title="Bank BNI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-mandiri.png" %}" alt="Bank Mandiri" title="Bank Mandiri" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/Bank-BRI.png" %}" alt="Bank BRI" title="Bank BRI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bca.jpg" %}" alt="Bank BCA" title="Bank BCA" />
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- END FOOTER -->
        <!-- //////////////////////////////////
    //////////////END MAIN  FOOTER///////// 
    ////////////////////////////////////-->



       <!-- Scripts queries -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/boostrap.min.js" %}"></script>
        <script src="{% static "js/countdown.min.js" %}"></script>
        <script src="{% static "js/flexnav.min.js" %}"></script>
        <script src="{% static "js/magnific.js" %}"></script>
        <script src="{% static "js/tweet.min.js" %}"></script>
        <script src="{% static "js/fitvids.min.js" %}"></script>
        <script src="{% static "js/mail.min.js" %}"></script>
        <script src="{% static "js/ionrangeslider.js" %}"></script>
        <script src="{% static "js/icheck.js" %}"></script>
        <script src="{% static "js/fotorama.js" %}"></script>
        <script src="{% static "js/card-payment.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>

        <script src="{% static "js/masonry.js" %}"></script>
        <script src="{% static "js/nicescroll.js" %}"></script>

          <script src="{% static "library/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>
            
        <!-- Custom scripts -->

        <script src="{% static "js/custom.js" %}"></script>
        <script src="{% static "js/mystyles.js" %}"></script>

    </div>
</body>

</html>