{% load staticfiles %}
{% load humanize %}
{% load compress %}
<!DOCTYPE HTML>
<html>

<head>
    <title>{{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="{{ WEBSITES.meta_information.keywords }}" />
    <meta name="description" content="{{ WEBSITES.meta_information.description }}">
    <meta name="author" content="{{ WEBSITES.meta_information.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Z-2zKZNaQZnqgE1vsHd3U-AvquGBmsKskaG-cAaLR8M" />

    <!-- Facebook Meta -->
    <meta property="fb:app_id"       content="514632702050782" />
    <meta property="og:type"          content="ecommerce" />
    <meta property="og:title"         content="{{ WEBSITES.meta_information.title }}" />
    <meta property="og:description"   content="{{ WEBSITES.meta_information.description }}" />
    <meta property="og:image"         content="{{ request.META.HTTP_HOST }}{% static 'img/logos/keudee.png' %}" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@keudee">
    <meta name="twitter:creator" content="@keudee">
    <meta name="twitter:title" content="{{ WEBSITES.meta_information.title }}">
    <meta name="twitter:image" content="{{ request.META.HTTP_HOST }}{% static 'img/logos/keudee.png' %}">
    <meta name="twitter:description" content="{{ WEBSITES.meta_information.description }}" />


    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    
    {% compress css %}
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/boostrap.css" %}" type="text/css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="{% static "css/font_awesome.css" %}">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">

    <!-- pace -->
    <script src="{% static "library/pace/pace.min.js" %}"></script>
    <link href="{% static "library/pace/themes/blue/pace-theme-flash.css" %}" rel="stylesheet" />
    
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
       <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->

    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}">
    {% endcompress %}
    

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logos/favicon.ico" />

    <style type="text/css">
        .owl-controls .owl-pagination {
            bottom:1px !important;
        }
        .owl-page {
        }

    </style>
</head>
<body>


    <div class="global-wrap">


        <!-- //////////////////////////////////
	//////////////MAIN HEADER///////////// 
	////////////////////////////////////-->
        <div class="top-main-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="{% url 'index' %}" class="">
                            <img style="width:130px;" src="{% static 'img/logos/keudee.png' %}" alt="Keudee" title="{{ WEBSITES.meta_information.title }}" />
                        </a>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <div class="pull-right">
                            <ul class="header-features">
                                <li><i class="fa fa-phone"></i>
                                    <div class="header-feature-caption">
                                        <h5 class="header-feature-title">0852 7054 6820</h5>
                                        <p class="header-feature-sub-title">24/7 bantuan </p>
                                    </div>
                                </li>
                                <li><i class="fa fa-fw fa-shopping-cart "></i>
                                    <div class="header-feature-caption">
                                        <h5 class="header-feature-title">Gratis Beriklan</h5>
                                        <p class="header-feature-sub-title">Unlimited Features</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-fw fa-plus "></i>
                                    <div class="header-feature-caption">
                                        <a href="{% url 'profile' %}">    
                                        <h5 class="header-feature-title">Pasang iklan</h5>
                                        <p class="header-feature-sub-title">Tanpa harus Login</p>
                                        </a>    
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
                        <nav>
                            <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                                <li class="active"><a href="{% url 'index' %}">Beranda</a> </li>
                                <li><a>Tentang</a>
                                    <ul>
                                        
                                        <li><a href="{% url 'page' page='tentang.html' %}">Keudee.com</a>
                                        </li>
                                        <li><a href="{% url 'page' page='syarat-dan-ketentuan-layanan.html' %}">Syarat dan Ketentuan Layanan</a>
                                        </li>

                                    </ul>
                                </li>

                                <li><a href="{% url 'blogs' %}">Blog</a></li>
                                <li><a href="{% url 'page' page='faq.html' %}">Faq</a></li>
                                <li><a href="{% url 'page' page='kontak.html' %}">Kontak</a></li>
                                        
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        <ul class="login-register">
                            {% if kedai %}
                            <li>
                                <a href="{% url 'profile' %}"><i class="fa fa-user"></i>Hi, {{ kedai.store_name }}</a>
                            </li>
                            <li>
                                <a href="{% url 'log_out' %}">
                                <i class="fa fa-sign-out"></i>Log Out</a>
                            </li>

                            {% else %}

                            <li>
                                <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}"><i class="fa fa-edit"></i>Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- TOP AREA -->
        {% if slider %}
        <div class="top-area">
            <div class="owl-carousel owl-slider" id="owl-carousel-slider" data-inner-pagination="true" data-white-pagination="true" data-nav="true">
                {% for slider in slider %}
                {% if slider.redirect_url %}
                <div>
                <a href="{% url 'display_product_by_id' id=slider.redirect_url %}">
                    <div class="bg-holder">
                        <img src="{{WEBSITES.upload.slider}}{{slider.image}}" alt="Bubuk Kopi Solong" />
                        {% if slider.content %}
                        {% endif %}
                    </div>
                </a>    
                </div>
                {% else %}
                <div>
                    <div class="bg-holder">
                        <img src="{{WEBSITES.upload.slider}}{{slider.image}}" alt="Bubuk Kopi Solong" />
                        {% if slider.content %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                
            </div>
        </div>
        {% endif %}
        <!-- END TOP AREA -->

        <!-- SEARCH AREA -->
        <form action="{% url 'search' %}" method="GET" class="search-area form-group search-area-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 clearfix">
                        <label><i class="fa fa-search"></i><span>Saya mencari</span>
                        </label>
                        <div class="search-area-division search-area-division-input">
                            <input name="q" {% if get_search %} value="{{ get_search }}" {% endif %}class="form-control" type="text" placeholder="Laptop" />
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <label><i class="fa fa-map-marker"></i><span>di</span>
                        </label>
                        <div class="search-area-division search-area-division-location">
                            <input class="form-control" type="text" placeholder="Banda Aceh" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <!-- //////////////////////////////////
	//////////////END MAIN HEADER////////// 
	////////////////////////////////////-->


        <!-- //////////////////////////////////
	//////////////PAGE CONTENT///////////// 
	////////////////////////////////////-->



        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'beranda' %}"><i class="fa fa-ticket"></i>All</a>
                            </li>
                            {% for product_category in product_category %}
                                <li>
                                    <a href="{% url 'category' slug_url=product_category.slug_url %}"><i class="fa {{product_category.css_class_name}}"></i>{{product_category.category_name}}</a>
                            {% endfor %}
                        </ul>
                        <div class="sidebar-box">
                            <h5>Produk Popular</h5>
                            <ul class="thumb-list">
                                {% for popular_products in popular_products %}
                                <li>
                                    <a href="{% url 'display_product' slug=popular_products.slug_url %}">
                                        <img src="{{WEBSITES.upload.product_thumbnails}}{{popular_products.kedai.id}}/{{ popular_products.images.0 }}" alt="{{ popular_products.product_name }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                        <a href="{% url 'display_product' slug=popular_products.slug_url %}">{{ popular_products.product_name }}</a>
                                        </h5>
                                        <p>Rp. {{ popular_products.price | intcomma }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="row row-wrap" id="masonry">
                        {% for products in products %}
                        <a class="col-md-3 col-masonry" href="{% url 'display_product' slug=products.slug_url %}">
                            <div class="product-thumb">
                                <header class="product-header">
                                    {% if products.viewer > WEBSITES.rating.popular  %}
                                    <span class="product-label label label-success">popular</span>
                                    {% else %}
                                    {% endif %}
                                    <img src="{{WEBSITES.upload.product_thumbnails}}{{products.kedai.id}}/{{ products.images.0 }}" title="{{ products.information | striptags | truncatewords:50 }}" />
                                    
                                </header>
                                <div class="product-inner">
                                    <h5 class="product-title">{{ products.product_name }}</h5>
                                    <div class="product-meta"><span class="product-time"></span>
                                        <ul class="product-price-list">
                                            <li style="font-size: 13px; color: black;">Rp. {{ products.price | intcomma }}</li>
                                        </ul>
                                    </div>
                                    <p class="product-location"><i class="fa fa-map-marker"></i> {{ products.kedai.region.region }}</p>
                                </div>
                            </div>
                        </a>

                        {% endfor %}
                    </div>
                    <div class="text-center">
                        <a href="{% url 'beranda' %}" class="btn btn-primary">Jelajahi Semua Produk !</a>
                    </div>

                </div>
            </div>
            <div class="gap"></div>
        </div>


        <!-- //////////////////////////////////
	//////////////END PAGE CONTENT///////// 
	////////////////////////////////////-->



        <!-- //////////////////////////////////
	//////////////MAIN FOOTER////////////// 
	////////////////////////////////////-->

       <footer class="main">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <a href="{% url 'index' %}">
                                <img style="width: 110px; margin-left: 0px;" src="{% static 'img/logos/keudee.png' %}" alt="{{ WEBSITES.meta_information.title }}" title="{{ WEBSITES.meta_information.title }}" class="logo">
                            </a>
                            <ul class="list list-social">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="{{ WEBSITES.social_media.facebook }}" target="blank" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="{{ WEBSITES.social_media.twitter }}" target="blank" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr box-icon" href="{{ WEBSITES.social_media.flickr }}" target="blank" data-toggle="tooltip" title="Flickr"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr box-icon" href="#" data-toggle="tooltip" title="Tumblr"></a>
                                </li>
                            </ul>
                            <p>{{ WEBSITES.meta_information.description }}</p>
                        </div>
                        <div class="col-md-3">
                            <h4>Berlangganan Berita</h4>
                            <div class="box">
                                <form>
                                    <div class="form-group mb10">
                                        <label>E-mail</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                     <p class="mb10">Dapatkan pemberitahuan otomatis, diskon, artikel dan banyak lagi.</p>

                                    <input type="submit" class="btn btn-primary" value="Berlangganan" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Informasi Umum</h4>
                            <li><a href="/page/tentang.html">Tentang Kami</a></li>
                            <li><a href="{% url 'confirmation' %}">Konfirmasi Pembayaran</a></li>
                            <li><a href="#">Kebijakan Privasi</a></li>
                             <li><a href="/page/syarat-dan-ketentuan-layanan.html">Syarat dan Ketentuan Layanan</a></li>
                             <li><a href="{% url 'blogs' %}">Blog dan Artikel</a></li>
                             <li><a href="/page/kontak.html">Layanan Kontak</a></li>
                             <li><a href="/page/faq.html">FAQ (Pertanyaan yang sering diajukan</a></li>
                        </div>
                        <div class="col-md-3">
                            <h4>Artikel Terbaru</h4>
                            <ul class="thumb-list">
                                {% for blogs in blogs %}
                                <li>
                                    <a href="{% url 'display_blog' slug=blogs.slug_url %}">
                                        <img src="{{ WEBSITES.upload.blog }}{{ blogs.image_thumbnail }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                            <a href="{% url 'display_blog' slug=blogs.slug_url %}" style="color: white;">{{ blogs.post_name }}
                                            </a>
                                        </h5>
                                        <p class="thumb-list-item-meta">{{ blogs.date_created | naturalday  }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>{{ WEBSITES.meta_information.copyright }}</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="pull-right">
                                <ul class="list-inline list-payment">
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-aceh.jpg" %}" alt="Bank Aceh" title="Bank Aceh" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bni.png" %}" alt="Bank BNI" title="Bank BNI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-mandiri.png" %}" alt="Bank Mandiri" title="Bank Mandiri" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/Bank-BRI.png" %}" alt="Bank BRI" title="Bank BRI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bca.jpg" %}" alt="Bank BCA" title="Bank BCA" />
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //////////////////////////////////
	//////////////END MAIN  FOOTER///////// 
	////////////////////////////////////-->



        <!-- Scripts queries -->
        {% compress js %}
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/boostrap.min.js" %}"></script>
        <script src="{% static "js/countdown.min.js" %}"></script>
        <script src="{% static "js/flexnav.min.js" %}"></script>
        <script src="{% static "js/magnific.js" %}"></script>
        <script src="{% static "js/tweet.min.js" %}"></script>
        <script src="{% static "js/fitvids.min.js" %}"></script>
        <script src="{% static "js/mail.min.js" %}"></script>
        <script src="{% static "js/ionrangeslider.js" %}"></script>
        <script src="{% static "js/icheck.js" %}"></script>
        <script src="{% static "js/fotorama.js" %}"></script>
        <script src="{% static "js/card-payment.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>
        <script src="{% static "js/masonry.js" %}"></script>
        <script src="{% static "js/nicescroll.js" %}"></script>

        <!-- Custom scripts -->
        <script src="{% static "js/custom.js" %}"></script>
        {% endcompress %}
        
        <script>
          {{ WEBSITES.online_plugin.google_analytics | safe}}
        </script>

        <script>
          {{ WEBSITES.online_plugin.facebook_website | safe}}
        </script>
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
        if (screen.width > 640) {
        
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?3Rz7brE54POApBWcBvVZUQVcsQ2qd5YY";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");

        }
        </script>
        <!--End of Zopim Live Chat Script-->
    </div>
</body>

</html>
