{% extends 'account/profile.html' %}
{% block side_menu %}
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profil</a>
                            </li>
                            <li><a href="{% url 'social_media' %}"><i class="fa fa-bullhorn"></i>Social Media</a>
                            </li>
                            <li><a href="{% url 'account_settings' %}"><i class="fa fa-truck"></i>Pengaturan</a>
                        </ul>    
                    </aside>  
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'products' %}"><i class="fa fa-file-text-o"></i>Semua Produk</a>
                            </li>
                            <li  class="active"><a href=""><i class="fa fa-plus"></i>Tambah Produk</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'account_transaction' %}"><i class="fa fa-credit-card"></i>Transaksi</a>
                            </li>
                            <li><a href="{% url 'account_feedback'  %}"><i class="fa fa-hand-o-right"></i>Feedback</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'change_password'  %}"><i class="fa fa-unlock"></i>Ganti Password</a>
                            </li>
                        </ul>
                    </aside>     
                        {% endblock %}
{% block form %}
                    <div class="col-md-6">
                        <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="name">Nama Produk </label>
                            <input type="text" name="name" id="name" maxlength="200" class="form-control" > 
                          </div>
                          
                          <div class="form-group">
                            <label for="category">Kategori Produk</label>
                            <select  name="category" id="category" class="form-control selectpicker show-tick" data-live-search="true" title='Pilih Kategori' >
                            {% for product_category in product_category %}
                            <option data-icon="fa fa-fw {{ product_category.css_class_name }}" value="{{ product_category.id }}">{{ product_category.category_name }}</option>
                            {% endfor %}
                            </select>
                          </div>

                          <div class="form-group" id="status_sub_category">
                            <label for="sub_category">Sub Kategori Produk</label>
                              <select name="sub_category" id="sub_category" class="form-control selectpicker show-tick" title='Pilih Sub Kategori' data-live-search="true" disabled>
                              </select>
                          </div>
                    </div>
                        
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="price">Harga Produk </label>
                        
                        <div class="input-group">
                          <div class="input-group-addon">Rp.</div>
                            <input class="form-control" id="price" name="price" maxlength="50" placeholder="" type="text"  >
                            <div class="input-group-addon">.00</div>
                          </div>

                        </div>
                            <div class="form-group">
                              <label for="price">Kondisi</label>
                              <select name="condition" id="category" class="form-control selectpicker show-tick">            
                                <option value="new">Baru</option>
                                <option value="second">Bekas</option>
                              </select>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="price">Stok Produk</label>
                                   <input class="form-control" value="3" type="number" name="quantity" min="1" max="100">
                                </div>
                              </div>  
                              <div class="col-md-6">
                                <label>Berat Produk</label>
                                <div class="input-group">
                                  <input type="number" name="weight" class="form-control" min="1" max="25" value="100">
                                  <div class="input-group-addon">Gram</div>
                                </div>
                              </div>  

                            </div>  
                            <!-- <div class="form-group">
                                 <label> Tags (gunakan tanda koma) </label><br>
                                 <input type="text" name="tags" data-role="tagsinput" class="form-control ">
                             </div>                              -->


                    </div>
                    <div class="gap gap-mini"></div>
                    <div class="form-group center">


                     <input  type="file" name="photo" multiple="true" style="text-align:center; display: inline;" accept="image/x-png, image/gif, image/jpeg">

                     <figure class="note"><strong>Petunjuk: </strong>Anda dapat meng-upload semua gambar sekaligus (<strong>CTRL</strong> untuk menandai)</figure>


                    </div> 
                    <div class="form-group" style="margin-left:15px;margin-right:15px;">
                        <label><b>Informasi Produk</b></label>
                        <textarea name="information" rows="6" maxlength="1000" class="form-control ckeditor"></textarea>
                    </div>

                    <div class="form-group" style="margin-left:15px;margin-right:15px;">
                        <label><b>Pengiriman dan Pembayaran</b></label>
                        <textarea name="shipping_payment" rows="3" maxlength="1000" class="form-control ckeditor"></textarea>
                    </div>


                    <input type="submit" style="margin-left:15px" value="Tambah Produk" class="btn btn-primary">

                  </form>
                  </div>
{% endblock %}
