{% extends 'account/profile.html' %}
{% block side_menu %}
<aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profil</a>
                            </li>
                            <li><a href="{% url 'social_media' %}"><i class="fa fa-bullhorn"></i>Social Media</a>
                            </li>
                            <li><a href="{% url 'account_settings' %}"><i class="fa fa-truck"></i>Pengaturan</a>
                        </ul>    
                    </aside>  
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'products' %}"><i class="fa fa-file-text-o"></i>Semua Produk</a>
                            </li>
                            <li><a href="{% url 'add_product' %}"><i class="fa fa-plus"></i>Tambah Produk</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'account_transaction' %}"><i class="fa fa-credit-card"></i>Transaksi</a>
                            </li>
                            <li><a href="{% url 'account_feedback'  %}"><i class="fa fa-hand-o-right"></i>Feedback</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li class="active"><a href="{% url 'change_password'  %}"><i class="fa fa-unlock"></i>Ganti Password</a>
                            </li>
                        </ul>
                    </aside>     
{% endblock %}

{% block form %}
<form action="{% url 'change_password' %}" method="POST">
                        
                            <div class="form-group">
                                    <label for="">Password Lama: </label>
                                    <input type="password" name="last_password" class="form-control">
                            </div>
                            <hr>
                            <div class="form-group">
                                    <label for="">Password Baru: </label>
                                    <input type="password" name="new_password1" class="form-control">
                            </div>
                            <div class="form-group">
                                    <label for="">Verifikasi Password Baru: </label>
                                    <input type="password" name="new_password2" class="form-control">
                            </div>
                            
                           <input type="submit" value="Ganti Password" class="btn btn-primary"> 

{% endblock %}
