{% extends 'account/profile.html' %}
{% load humanize %}
{% block side_menu %}
    <style type="text/css">
        img.images {
            width: 50px;
        }
    </style>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profil</a>
                            </li>
                            <li><a href="{% url 'social_media' %}"><i class="fa fa-bullhorn"></i>Social Media</a>
                            </li>
                            <li><a href="{% url 'account_settings' %}"><i class="fa fa-truck"></i>Pengaturan</a>
                        </ul>    
                    </aside>  
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li  class="active"><a href="{% url 'products' %}"><i class="fa fa-file-text-o"></i>Semua Produk</a>
                            </li>
                            <li><a href="{% url 'add_product'  %}"><i class="fa fa-plus"></i>Tambah Produk</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'account_transaction' %}"><i class="fa fa-credit-card"></i>Transaksi</a>
                            </li>
                            <li><a href="{% url 'account_feedback'  %}"><i class="fa fa-hand-o-right"></i>Feedback</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'change_password'  %}"><i class="fa fa-unlock"></i>Ganti Password</a>
                            </li>
                        </ul>
                    </aside>     
                        {% endblock %}
{% block form %}
                    <div class="col-md-12">

                    <form method="GET" id="account_sort" action="{% url 'products' %}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {% if search_product %}
                                    <input type="text" name="q" class="form-control" value="{{ search_product }}" >
                                    {% else %}
                                    <input type="text" name="q" class="form-control" placeholder="Cari Produk" >
                                    {% endif %}

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                     <select name="condition" class="form-control selectpicker show-tick">
                                     {% if condition == '0' %}
                                        <option value="0" selected="">Semua</option>
                                        <option value="1">Baru</option>
                                        <option value="2">Bekas</option>  

                                     {% elif condition == '1' %}
                                        <option value="0">Semua</option>
                                        <option value="1" selected="">Baru</option>
                                        <option value="2">Bekas</option>  
                                     {% elif condition == '2' %}   
                                        <option value="0">Semua</option>
                                        <option value="1">Baru</option>
                                        <option value="2" selected="">Bekas</option>
                                     {% else %}   
                                        <option value="0" selected="">Semua</option>
                                        <option value="1">Baru</option>
                                        <option value="2">Bekas</option> 
                                     {% endif %}
                                </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                     <select name="sort_product" class="form-control selectpicker show-tick">
                                       {% if sort_product == '1' %}
                                           <option value="1" selected="selected">Produk Terbaru</option>
                                           <option value="2">Nama Produk</option>
                                           <option value="3">Dilihat Terbanyak</option>
                                           <option value="4">Harga Terendah</option>
                                           <option value="5">Harga Tertinggi</option>
                                       {% elif sort_product == '2' %}   
                                           <option value="1">Produk Terbaru</option>
                                           <option value="2" selected="selected">Nama Produk</option>
                                           <option value="3">Dilihat Terbanyak</option>
                                           <option value="4">Harga Terendah</option>
                                           <option value="5">Harga Tertinggi</option>
                                       {% elif sort_product == '3' %}   
                                           <option value="1">Produk Terbaru</option>
                                           <option value="2">Nama Produk</option>
                                           <option value="3" selected="selected">Dilihat Terbanyak</option>
                                           <option value="4">Harga Terendah</option>
                                           <option value="5">Harga Tertinggi</option>     
                                       {% elif sort_product == '4' %}   
                                           <option value="1">Produk Terbaru</option>
                                           <option value="2">Nama Produk</option>
                                           <option value="3">Dilihat Terbanyak</option>
                                           <option value="4" selected="selected">Harga Terendah</option>
                                           <option value="5">Harga Tertinggi</option>    
                                        {% elif sort_product == '5' %}   
                                           <option value="1">Produk Terbaru</option>
                                           <option value="2">Nama Produk</option>
                                           <option value="3">Dilihat Terbanyak</option>
                                           <option value="4">Harga Terendah</option>
                                           <option value="5" selected="selected">Harga Tertinggi</option>       
                                        {% else %}   
                                        <option value="1" selected="selected">Produk Terbaru</option>
                                           <option value="2">Nama Produk</option>
                                           <option value="3">Dilihat Terbanyak</option>
                                           <option value="4">Harga Terendah</option>
                                           <option value="5">Harga Tertinggi</option>
                                       {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>

                      <table class="table table-order">
                                <thead>
                                    <tr>
                                        <th class="image_account"><b>Gambar</b></th>
                                        <th><b>Nama Produk</b></th>
                                        <th><b>Harga</b></th>
                                        <th class="viewer_account"><b>Viewer</b></th>
                                        <th class="center"><b>Aksi</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for products in products %}
                                <tr id="">
                                     <td class="image_account">
                                      <a target="blank" href="{% url 'display_product' slug=products.slug_url %}"><img class="images" src="{{WEBSITES.upload.product_thumbnails}}{{products.kedai.id}}/{{ products.images.0 }}"></a>
                                     </td>
                                     <td><a target="blank" href="{% url 'display_product' slug=products.slug_url %}" title="{{products.product_name}}">{{products.product_name | truncatewords:10}}</a></td> 
                                     <td>Rp. {{ products.price|intcomma }}
</td> 
                                     <td class="viewer_account">{{products.viewer}}</td>
                                     <td class="actions center">
                                            <a href="{% url 'edit_product' products.id %}" data-toggle="tooltip" title="Ubah" href="#" class="btn btn-primary btn-mini fa fa-gear"> edit</a>

                                            <a href="{% url 'delete_product' products.id %}" onclick="return confirm('Apakah Anda yakin ingin menghapus?');" data-effect="mfp-move-from-top" data-id="{{ get_item.id }}" data-toggle="tooltip" title="Hapus"  class="btn btn-danger btn-mini fa fa-trash-o popup-text delete-item"> hapus</a>
                                        </td>
                                </tr>
                                {% endfor %}
                       </tbody>
                       </table>            

                       {% if paginator.num_pages > 1%}         
                     <ul class="pagination">

                        {% if products.has_previous %}
                        <li class="prev">
                            <a href="?page={{ products.previous_page_number }}"></a>
                        </li>
                        {% endif %}

                        {% for page_range in paginator.page_range %}
                        <li {% if products.number  == page_range  %} class="active"{% endif %}><a href="?page={{ page_range }}">{{ page_range }}</a></li> 
                        {% endfor %}
                        

                        {% if products.has_next %}
                        <li class="next">
                            <a href="?page={{ products.next_page_number }}"></a>
                        </li>
                        {% endif %}
                    </ul>
                        {% endif %}
                    </div>

{% endblock %}
