{% load staticfiles %}
{% load humanize %}
<!DOCTYPE HTML>
<html>

<head>
    {% block meta %}
    <title>{{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="{{ WEBSITES.meta_information.keywords }}" />
    <meta name="description" content="{{ WEBSITES.meta_information.description }}">
    <meta name="author" content="{{ WEBSITES.meta_information.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

    <!-- pace -->
    <script src="{% static "library/pace/pace.min.js" %}"></script>
    <link href="{% static "library/pace/themes/blue/pace-theme-flash.css" %}" rel="stylesheet" />

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/boostrap.css" %}" type="text/css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="{% static "css/font_awesome.css" %}">
    <!-- Bootstrap Tagsinput-->
    <link rel="stylesheet" href="{% static "library/bootstrap-tagsinput/src/bootstrap-tagsinput.css" %}">
    <!-- Bootstrap Fileinput-->
    <link rel="stylesheet" href="{% static "library/bootstrap-fileinput/css/fileinput.min.css" %}">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="{% static "library/bootstrap-select/dist/css/bootstrap-select.min.css" %}">
    <!-- Icheck -->
    <link href="{% static "library/icheck/skins/minimal/minimal.css" %}" rel="stylesheet">
    <!-- owl-carousel -->
    <link href="{% static "library/carousel/owl-carousel/owl.carousel.css" %}" rel="stylesheet">
    <link href="{% static "library/carousel/owl-carousel/owl.theme.css" %}" rel="stylesheet">
    <!-- Magnific-Popup -->
    <link rel="stylesheet" href="{% static "library/Magnific-Popup/dist/magnific-popup.css" %}" type="text/css">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logos/favicon.ico" />

    
</head>


<body>


    <div class="global-wrap">


        <!-- //////////////////////////////////
    //////////////MAIN HEADER///////////// 
    ////////////////////////////////////-->
        <div class="top-main-area text-center">
            <div class="container">
                <a href="{% url 'index' %}" class="">
                            <img style="width:130px;" src="{% static 'img/logos/keudee.png' %}" alt="Keudee" title="{{ WEBSITES.meta_information.title }}" />
                        </a>
            </div>
        </div>
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu<span class="touch-button"></span></div>
                        <nav>
                            <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                                <li><a href="{% url 'index' %}">Beranda</a> </li>
                                <li><a>Tentang</a>
                                    <ul>
                                        <li><a href="{% url 'page' page='tentang.html' %}">keudee.com</a>
                                        </li>
                                        <li><a href="{% url 'page' page='syarat-dan-ketentuan-layanan.html' %}">Syarat dan Ketentuan Layanan</a>
                                        </li>

                                    </ul>
                                </li>

                                <li><a href="{% url 'blogs' %}">Blog</a></li>
                                <li><a href="{% url 'page' page='faq.html' %}">Faq</a></li>
                                <li><a href="{% url 'page' page='kontak.html' %}">Kontak</a></li>
                                        
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6">
                         <ul class="login-register">
                            {% if kedai %}
                            <li>
                                <a href="{% url 'profile' %}"><i class="fa fa-user"></i>Hi, {{ kedai.store_name }}</a>
                            </li>
                            <li>
                                <a href="{% url 'log_out' %}">
                                <i class="fa fa-sign-out"></i>Log Out</a>
                            </li>

                            {% else %}

                            <li>
                                <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}"><i class="fa fa-edit"></i>Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>


        <!-- PAGE TITLE -->
        <!-- <div class="top-title-area">
            <div class="container">
                <h1 class="title-page"></h1>
            </div>
        </div> -->
        <!-- END PAGE TITLE -->

        <!-- SEARCH AREA -->
        <form action="{% url 'search' %}" method="GET" class="search-area form-group search-area-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 clearfix">
                        <label><i class="fa fa-search"></i><span>Saya mencari</span>
                        </label>
                        <div class="search-area-division search-area-division-input">
                            <input name="q" {% if get_search %} value="{{ get_search }}" {% endif %}class="form-control" type="text" placeholder="Laptop" />
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <label><i class="fa fa-map-marker"></i><span>di</span>
                        </label>
                        <div class="search-area-division search-area-division-location">
                            <input class="form-control" type="text" placeholder="Banda Aceh" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <!-- //////////////////////////////////
    //////////////END MAIN HEADER////////// 
    ////////////////////////////////////-->


        <!-- //////////////////////////////////
    //////////////PAGE CONTENT///////////// 
    ////////////////////////////////////-->



        <div class="container">
            <div class="row" >
                <div class="col-md-3">
                    {% block side_menu %}
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li class="active"><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profil</a>
                            </li>
                            <li><a href="{% url 'social_media' %}"><i class="fa fa-bullhorn"></i>Social Media</a>
                            </li>
                            <li><a href="{% url 'account_settings' %}"><i class="fa fa-truck"></i>Pengaturan</a>
                        </ul>    
                    </aside>  
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'products' %}"><i class="fa fa-file-text-o"></i>Semua Produk</a>
                            </li>
                            <li><a href="{% url 'add_product'  %}"><i class="fa fa-plus"></i>Tambah Produk</a>
                            </li>
                        </ul>
                    </aside>
                     <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'account_transaction' %}"><i class="fa fa-credit-card"></i>Transaksi</a>
                            </li>
                            <li><a href="{% url 'account_feedback'  %}"><i class="fa fa-hand-o-right"></i>Feedback</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'change_password'  %}"><i class="fa fa-unlock"></i>Ganti Password</a>
                            </li>
                        </ul>
                    </aside>     
                    {% endblock %}

                </div>
                <div class="col-md-9">
                    <div class="row">
                    {% if messages %}
                                        {% for message in messages %}
                                           
                                           {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                            <div class="alert alert-success">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Sukses!</strong> {{ message }}
                                            </div>
                                            {% endif %}

                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Terjadi Kesalahan!</strong> {{ message }}
                                            </div>
                                            {% endif %}    

                                        {% endfor %}
                            {% endif %}      
                        {% block form %}
                        <div class="col-md-6">
                            <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label for="kedai">Nama Kedai</label>
                                        <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-shopping-cart"></i></div>
                                          <input type="text" maxlength="20" pattern=".{5,}" title="Minimal 5 karakter" value="{{ kedai.store_name }}" name="store_name" id="kedai" class="form-control" maxlength="30">
                                        </div>
                                    </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                          <input type="text" value="{{ kedai.author.email }}" name="email" id="email" class="form-control">
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="nohp">No. Handphone</label>
                                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                                <input type="text" value="{{ kedai.phone_number }}"  name="phone_number" id="nohp" class="form-control">
                                           </div>
                                </div>
                                <div class="form-group">
                                    <label for="address">Alamat </label>
                                    <textarea rows="6" name="address" maxlength="200" class="form-control" id="address">{{ kedai.address }}</textarea>
                                 </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">

                                <div class="col-md-3">
                                           <div class="form-group">
                                            {% if kedai.logo_image %}
                                            <img style="width: 100px; height: 80px; border:1px solid gray; " src="{{WEBSITES.upload.photo_profile}}{{ kedai.logo_image}}" class="img-circle img-rounded">
                                            {% else %}
                                            <img style="width: 100px; height: 80px; " src="{% static 'img/no-avatar.gif' %}" class="img-circle img-rounded">
                                            {% endif %}
                                            </div>
                                            
                                </div>
                                <div class="col-xs-3" style="margin-top: 20px;">
                                    <label for="choose_file" class="btn btn-default"><i class="fa fa-file-photo-o fa-fw"></i> Ganti Photo Profile</label>
                                    <input type="file" id="choose_file" name="logo_img" class="btn btn-default" style="display:none;" accept="image/x-png, image/gif, image/jpeg" >
                                </div>            

                            </div>

                            <div class="form-group">
                                    <label>Link Kedai</label>
                                    <a href="{% url 'author' slug_url=kedai.store_url_slug %}">
                                    <div class="input-group">
                                      <div class="input-group-addon">keudee.com/author/</div>
                                      <input type="text" class="form-control"  name="store" disabled="" value="{{ kedai.store_url_slug }}">
                                    </div>
                                    </a>
                            </div>
                            <div class="form-group">
                                    <label for="owner_name">Nama Pemilik</label>
                                    <input type="text" value="{{ kedai.author.full_name }}" name="owner_name" id="owner_name" class="form-control">
                            </div>
                            <div class="form-group">
                                    <label for="postal_code">Kode Pos</label>
                                    <input type="text" value="{{ kedai.postal_code }}" name="postal_code" id="postal_code" class="form-control" maxlength="8">
                            </div>
                            <div class="form-group">
                                    <label for="">Kabupaten/Kota:</label>
                                    <select name="region" class="form-control selectpicker show-tick" data-live-search="true">
                                        {% for list_region in list_region %}
                                       <option value="{{ list_region.id }}"
                                        {% if list_region.region == kedai.region.region %} selected
                                        {% endif %}>{{ list_region.region }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>

                        <div class="gap gap-mini"></div>
                        <div class="form-group" style="margin-left:15px;margin-right:15px;">
                            <label>Tentang</label>
                            <textarea rows="3"  name="about" maxlength="200" class="form-control ckeditor">{{ kedai.about_store }}</textarea>
                        </div>
                        <input type="submit" style="margin-left:15px" value="Simpan Perubahan" class="btn btn-primary">

                        </form>

                        {% endblock %}
                    </div>
                    <div class="gap"></div>
                </div>
            </div>

        </div>


        <!-- //////////////////////////////////
    //////////////END PAGE CONTENT///////// 
    ////////////////////////////////////-->



        <!-- //////////////////////////////////
    //////////////MAIN FOOTER////////////// 
    ////////////////////////////////////-->

        <footer class="main">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row row-wrap">
                        <div class="col-md-3">
                             <a href="{% url 'index' %}">
                                <img style="width: 110px; margin-left: 0px;" src="{% static 'img/logos/keudee.png' %}" alt="{{ WEBSITES.meta_information.title }}" title="{{ WEBSITES.meta_information.title }}" class="logo">
                            </a>
                            <ul class="list list-social">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="{{ WEBSITES.social_media.facebook }}" target="blank" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="{{ WEBSITES.social_media.twitter }}" target="blank" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr box-icon" href="{{ WEBSITES.social_media.flickr }}" target="blank" data-toggle="tooltip" title="Flickr"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr box-icon" href="#" data-toggle="tooltip" title="Tumblr"></a>
                                </li>
                            </ul>
                            <p>{{ WEBSITES.meta_information.description }}</p>
                        </div>
                        <div class="col-md-3">
                            <h4>Berlangganan Berita</h4>
                            <div class="box">
                                <form>
                                    <div class="form-group mb10">
                                        <label>E-mail</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <p class="mb10">Dapatkan pemberitahuan otomatis, diskon, artikel dan banyak lagi.</p>

                                    <input type="submit" class="btn btn-primary" value="Berlangganan" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Informasi Umum</h4>
                            <li><a href="/page/tentang.html">Tentang Kami</a></li>
                            <li><a href="{% url 'confirmation' %}">Konfirmasi Pembayaran</a></li>
                            <li><a href="#">Kebijakan Privasi</a></li>
                             <li><a href="/page/syarat-dan-ketentuan-layanan.html">Syarat dan Ketentuan Layanan</a></li>
                             <li><a href="{% url 'blogs' %}">Blog dan Artikel</a></li>
                             <li><a href="/page/kontak.html">Layanan Kontak</a></li>
                             <li><a href="/page/faq.html">FAQ (Pertanyaan yang sering diajukan</a></li>
                        </div>
                        <div class="col-md-3">
                            <h4>Artikel Terbaru</h4>
                            <ul class="thumb-list">
                                {% for blogs in blogs %}
                                <li>
                                    <a href="{% url 'display_blog' slug=blogs.slug_url %}">
                                        <img src="{{ WEBSITES.upload.blog }}{{ blogs.image_thumbnail }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">{{ blogs.date_created | naturalday  }}</p>
                                        <h5 class="thumb-list-item-title">
                                            <a href="{% url 'display_blog' slug=blogs.slug_url %}" style="color: white;">{{ blogs.post_name }}
                                            </a>
                                        </h5>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>{{ WEBSITES.meta_information.copyright }}</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="pull-right">
                                <ul class="list-inline list-payment">
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-aceh.jpg" %}" alt="Bank Aceh" title="Bank Aceh" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bni.png" %}" alt="Bank BNI" title="Bank BNI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-mandiri.png" %}" alt="Bank Mandiri" title="Bank Mandiri" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/Bank-BRI.png" %}" alt="Bank BRI" title="Bank BRI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bca.jpg" %}" alt="Bank BCA" title="Bank BCA" />
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //////////////////////////////////
    //////////////END MAIN  FOOTER///////// 
    ////////////////////////////////////-->



        <!-- Scripts queries -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/boostrap.min.js" %}"></script>
        <script src="{% static "js/countdown.min.js" %}"></script>
        <script src="{% static "js/flexnav.min.js" %}"></script>
        <script src="{% static "js/magnific.js" %}"></script>
        <script src="{% static "js/tweet.min.js" %}"></script>
        <script src="{% static "js/fitvids.min.js" %}"></script>
        <script src="{% static "js/mail.min.js" %}"></script>
        <script src="{% static "js/ionrangeslider.js" %}"></script>
        <script src="{% static "js/icheck.js" %}"></script>
        <script src="{% static "js/fotorama.js" %}"></script>
        <script src="{% static "js/card-payment.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>
        <script src="{% static "js/masonry.js" %}"></script>
        <script src="{% static "js/nicescroll.js" %}"></script>
        <script src="{% static "library/icheck/icheck.js" %}"></script>
        <script src="{% static "library/ckeditor/ckeditor.js" %}"></script>
        <script src="{% static "library/bootstrap-fileinput/js/fileinput.min.js" %}"></script>
        <script src="{% static "library/carousel/owl-carousel/owl.carousel.min.js" %}"></script>
        <script src="{% static "library/bootstrap-tagsinput/src/bootstrap-tagsinput.js" %}"></script>

        <script type="text/javascript" src="{% static "library/Magnific-Popup/dist/jquery.magnific-popup.min.js" %}"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        
        <script src="{% static "js/custom.js" %}"></script>
        <script src="{% static "js/mystyles.js" %}"></script>


        <!-- Custom scripts -->
        <script src="{% static "library/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>
        <script>
            $(document).ready(function(){
              $('input').iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                increaseArea: '20%' // optional
              });
            });
        </script>
    </div>
</body>

</html>
