{% extends 'account/profile.html' %}
{% block side_menu %}
                        <aside class="sidebar-left">
                            <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                                <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profil</a>
                                </li>
                                <li><a href="{% url 'social_media' %}"><i class="fa fa-bullhorn"></i>Social Media</a>
                                </li>
                                <li class="active">
                                    <a href="{% url 'account_settings' %}"><i class="fa fa-truck"></i>Pengaturan</a>
                                </li>
                            </ul>
                        </aside>    
                        <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'products' %}"><i class="fa fa-file-text-o"></i>Semua Produk</a>
                            </li>
                            <li><a href="{% url 'add_product' %}"><i class="fa fa-plus"></i>Tambah Produk</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'account_transaction' %}"><i class="fa fa-credit-card"></i>Transaksi</a>
                            </li>
                            <li><a href="{% url 'account_feedback'  %}"><i class="fa fa-hand-o-right"></i>Feedback</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'change_password'  %}"><i class="fa fa-unlock"></i>Ganti Password</a>
                            </li>
                        </ul>
                    </aside>         
                        {% endblock %}
{% block form %}

              <form action="{%  url 'account_settings' %}" method="POST" enctype="multipart/form-data">
                <div id="googleMap" style="margin: 2px 20px 18px 20px;;width:840;height:300px;"></div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Kabupaten/Kota</label>
                          <select name="region" id="region" class="form-control selectpicker show-tick" data-live-search="true">
                            {% for list_region in list_region %}
                            <option value="{{ list_region.id }}" data-lat="{{ list_region.latitude }}" data-long="{{ list_region.longtitude }}"
                            {% if list_region.region == kedai.region.region %} selected
                            {% endif %}>{{ list_region.region }}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                              <label>Bank Pembayaran</label>  
                              <select name="bank_account" title="{{ kedai.bank_account }}" class="form-control selectpicker show-tick">
                                <option value="Bank Aceh">Bank Aceh</option>
                                <option value="BNI">BNI</option>
                                <option value="Mandiri">Mandiri</option>
                                <option value="BRI">BRI</option>
                                <option value="BCA">BCA</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group" style="">
                           <label>No. Rekening</label>
                           <input type="text" name="no_rekening" value="{{ kedai.bank_no_account }}"  class="form-control">
                          </div>
                        </div>    
                      </div>  
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                          <label>Latitude</label>  
                          <input type="text" name="latitude" value="{{ kedai.map_latitude }}" class="form-control account_latitude" readOnly="true">
                      </div>
                      <div class="col-md-6">
                          <label>Longtitude</label>  
                          <input type="text" name="longtitude" value="{{ kedai.map_longtitude }}"  class="form-control account_longtitude" readOnly="true">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div style="margin-top: 15px;">
                           <label>Ganti Gambar Cover</label><br>
                           <label for="header_image" data-toggle="tooltip" title="Rekomendasi ukuran 852x235" class="btn btn-default"><i class="fa fa-file-photo-o fa-fw"></i> Ganti Gambar Cover </label>
                            <input type="file" id="header_image" name="header_image" class="btn btn-default" style="display:none;" accept="image/x-png, image/gif, image/jpeg" >
                        </div>
                      </div>

                      <div class="col-md-6" style="margin-top: 15px;">
                          <label>Lihat Gambar</label>  
                          <a href="#display_author_image" class="btn btn-default btn-info popup-text" data-effect="mfp-move-from-top"><i class="fa fa-eye fa-fw"></i> Lihat Gambar Cover</a>
                      </div>


                       <!-- POP UP IMAGE -->
                       <div id="display_author_image" class="mfp-with-anim mfp-hide mfp-dialog clearfix container">

                         <h4>Gambar Author</h4>
                         <hr>

                         <img src="{{WEBSITES.upload.header_author}}{{ kedai.header_image}}
                         ">

                         <hr>

                       </div>



                    </div>    

                  </div>

                    <div class="gap gap-mini"></div>

                  <div class="form-group" style="margin-left:15px;margin-right:15px;">
                            <label>Pengiriman dan Pembayaran : 
                              <a href="#" data-toggle="tooltip" title="Pengiriman dan Pembayaran"  class="fa fa-question-circle"> </a>
                            </label>
                            <textarea rows="3" name="pengiriman_pembayaran" maxlength="200" class="form-control ckeditor">{{ kedai.pengiriman_pembayaran}}</textarea>
                        </div>
                    <input type="submit" value="Simpan Pengaturan" class="btn btn-primary"style="margin-left:15px;">
                  </form>






                  
{% endblock %}
