{% extends 'account/profile.html' %}
{% block side_menu %}
                        <aside class="sidebar-left">
                            <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                                <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profil</a>
                                </li>
                                <li class="active"><a href="{% url 'social_media' %}"><i class="fa fa-bullhorn"></i>Social Media</a>
                                </li>
                                <li>
                                    <a href="{% url 'account_settings' %}"><i class="fa fa-truck"></i>Pengaturan</a>
                                </li>
                            </ul>
                        </aside>    
                        <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'products' %}"><i class="fa fa-file-text-o"></i>Semua Produk</a>
                            </li>
                            <li><a href="{% url 'add_product' %}"><i class="fa fa-plus"></i>Tambah Produk</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'account_transaction' %}"><i class="fa fa-credit-card"></i>Transaksi</a>
                            </li>
                            <li><a href="{% url 'account_feedback'  %}"><i class="fa fa-hand-o-right"></i>Feedback</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'change_password'  %}"><i class="fa fa-unlock"></i>Ganti Password</a>
                            </li>
                        </ul>
                    </aside>         
                        {% endblock %}
{% block form %}
<div class="col-md-6">

                            <form action="{%  url 'social_media' %}" method="POST">
                            <input type="hidden" />
                            
                                <div class="form-group">
                                    <label> Facebook</label>
                                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa fa-facebook"></i></div>
                                          <input type="text" name="facebook" value="{{ social_media.facebook }}" class="form-control" placeholder="https://facebook.com/keudee">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label> Twitter</label>
                                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa fa-twitter"></i></div>
                                          <input type="text" name="twitter" value="{{ social_media.twitter }}" class="form-control" placeholder="https://twitter.com/">
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label> PIN BBM (Blackberry Messenger)</label>
                                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa fa-btc"></i></div>
                                          <input type="text" name="bbm" style='text-transform:uppercase'  value="{{ social_media.BBM }}" class="form-control">
                                    </div>
                                    
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label> Google+ </label>
                                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-google-plus"></i></div>
                                          <input type="text" name="google_plus" value="{{ social_media.google_plus }}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label> Instagram </label>
                                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-instagram"></i></div>
                                          <input type="text" name="instagram" value="{{ social_media.instagram }}" class="form-control" placeholder="https://instagram.com/">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label> Pinterest </label>
                                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-pinterest"></i></div>
                                          <input type="text" name="pinterest" value="{{ social_media.pinterest }}" class="form-control" placeholder="https://pinterest.com/">
                                    </div>
                                </div>
                                <input type="submit" value="Simpan Perubahan" class="btn btn-primary">
                            </form>
                                
                        </div>
{% endblock %}
