
<!DOCTYPE HTML>
<html>

<head>
    <title>Couponia - Page 404</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Koupon HTML5 Template" />
    <meta name="description" content="Koupon - Premiun HTML5 Template for Coupons Website">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/boostrap.css" %}" type="text/css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="{% static "css/font_awesome.css" %}">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}">

</head>

<body>


    <div class="global-wrap">


        <div class="demo_changer" id="demo_changer">
            <div class="demo-icon fa fa-sliders"></div>
            <div class="form_holder">
                <div class="line"></div>
                <p>Color Scheme</p>
                <div class="predefined_styles" id="styleswitch_area">
                    <a href="?default=true" class="styleswitch" style="background:#2A8FBD"></a>
                    <a href="" data-source="apple" class="styleswitch" style="background:#56AD48"></a>
                    <a href="" data-source="pink" class="styleswitch" style="background:#FF0066"></a>
                    <a href="" data-source="teal" class="styleswitch" style="background:#1693A5"></a>
                    <a href="" data-source="gold" class="styleswitch" style="background:#FBB829"></a>
                    <a href="" data-source="downy" class="styleswitch" style="background:#6dcda7"></a>
                    <a href="" data-source="atlantis" class="styleswitch" style="background:#8cc732"></a>
                    <a href="" data-source="red" class="styleswitch" style="background:#FF0000"></a>
                    <a href="" data-source="violet" class="styleswitch" style="background:#D31996"></a>
                    <a href="" data-source="pomegranate" class="styleswitch" style="background:#F02311"></a>
                    <a href="" data-source="violet-red" class="styleswitch" style="background:#F23A65"></a>
                    <a href="" data-source="mexican-red" class="styleswitch" style="background:#9b2139"></a>
                    <a href="" data-source="victoria" class="styleswitch" style="background:#544AA1"></a>
                    <a href="" data-source="orient" class="styleswitch" style="background:#025D8C"></a>
                    <a href="" data-source="jgger" class="styleswitch" style="background:#420943"></a>
                    <a href="" data-source="de-york" class="styleswitch" style="background:#8CCA91"></a>
                    <a href="" data-source="blaze-orange" class="styleswitch" style="background:#FF6600"></a>
                    <a href="" data-source="hot-pink" class="styleswitch" style="background:#FF5EAA"></a>
                </div>
                <div class="line"></div>
                <p>Layout</p>
                <div class="predefined_styles">
                    <a href="#" class="btn btn-sm" id="btn-wide">Wide</a>
                    <a href="#" class="btn btn-sm" id="btn-boxed">Boxed</a>
                </div>
                <div class="line"></div>
                <p>Background patterns</p>
                <div class="predefined_styles" id="patternswitch_area">
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/binding_light.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/binding_dark.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/dark_fish_skin.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/dimension.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/escheresque_ste.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/food.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/giftly.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/grey_wash_wall.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/ps_neutral.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/pw_maze_black.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/pw_pattern.png')"></a>
                    <a href="#" class="patternswitch" style="background-image: url('img/patterns/simple_dashed.png')"></a>
                </div>
                <div class="line"></div>
                <p>Background images</p>
                <div class="predefined_styles" id="bgimageswitch_area">
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/bike.jpg')" data-source="img/backgrounds/bike.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/flowers.jpg')" data-source="img/backgrounds/flowers.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/wood.jpg')" data-source="img/backgrounds/wood.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/taxi.jpg')" data-source="img/backgrounds/taxi.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/phone.jpg')" data-source="img/backgrounds/phone.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/road.jpg')" data-source="img/backgrounds/road.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/keyboard.jpg')" data-source="img/backgrounds/keyboard.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/beach.jpg')" data-source="img/backgrounds/beach.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/street.jpg')" data-source="img/backgrounds/street.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/nature.jpg')" data-source="img/backgrounds/nature.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/bridge.jpg')" data-source="img/backgrounds/bridge.jpg"></a>
                    <a href="#" class="bgimageswitch" style="background-image: url('img/switcher/cameras.jpg')" data-source="img/backgrounds/cameras.jpg"></a>
                </div>
                <div class="line"></div>
            </div>
        </div>


        <!-- //////////////////////////////////
    //////////////MAIN HEADER///////////// 
    ////////////////////////////////////-->
        <div class="top-main-area text-center">
            <div class="container">
                <a href="index.html" class="logo mt5">
                    <img src="img/logo-small-dark.png" alt="Image Alternative text" title="Image Title" />
                </a>
            </div>
        </div>
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- MAIN NAVIGATION -->
                        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
                        <nav>
                            <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                                <li><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index-shop-layout-1.html">Shop Layout</a>
                                            <ul>
                                                <li><a href="index-shop-layout-1.html">Layout 1</a>
                                                </li>
                                                <li><a href="index-shop-layout-2.html">Layout 2</a>
                                                </li>
                                                <li><a href="index-shop-layout-3.html">Layout 3</a>
                                                </li>
                                                <li><a href="index-shop-layout-4.html">Layout 4</a>
                                                </li>
                                                <li><a href="index-shop-layout-5.html">Layout 5</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="index-coupon-layout-1.html">Coupon Layout</a>
                                            <ul>
                                                <li><a href="index-coupon-layout-1.html">Layout 1</a>
                                                </li>
                                                <li><a href="index-coupon-layout-2.html">Layout 2</a>
                                                </li>
                                                <li><a href="index-coupon-layout-3.html">Layout 3</a>
                                                </li>
                                                <li><a href="index.html">Layout 4</a>
                                                </li>
                                                <li><a href="index-coupon-layout-5.html">Layout 5</a>
                                                </li>
                                                <li><a href="index-coupon-layout-6.html">Layout 6</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="index-header-layout-1.html">Headers</a>
                                            <ul>
                                                <li><a href="index-header-layout-1.html">Layout 1</a>
                                                </li>
                                                <li><a href="index-header-layout-2.html">Layout 2</a>
                                                </li>
                                                <li><a href="index-header-layout-3.html">Layout 3</a>
                                                </li>
                                                <li><a href="index-header-layout-4.html">Layout 4</a>
                                                </li>
                                                <li><a href="index-header-layout-5.html">Layout 5</a>
                                                </li>
                                                <li><a href="index-header-logged-user.html">Logged User</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="category-page-shop.html">Category</a>
                                    <ul>
                                        <li><a href="category-page-shop.html">Shop</a>
                                        </li>
                                        <li><a href="category-page-coupon.html">Coupon</a>
                                        </li>
                                        <li><a href="category-page-thumbnails-shop-layout-1.html">Thumbnails</a>
                                            <ul>
                                                <li><a href="category-page-thumbnails-shop-layout-1.html">Shop</a>
                                                    <ul>
                                                        <li><a href="category-page-thumbnails-shop-layout-1.html">Layout 1</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-layout-2.html">Layout 2</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-layout-3.html">Layout 3</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-layout-4.html">layout 4</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-layout-5.html">Layout 5</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-layout-6.html">Layout 6</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-shop-horizontal.html">Horizontal</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="category-page-thumbnails-coupon-layout-1.html">Coupon</a>
                                                    <ul>
                                                        <li><a href="category-page-thumbnails-coupon-layout-1.html">Layout 1</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-2.html">Layout 2</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-3.html">Layout 3</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-4.html">Layout 4</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-5.html">Layout 5</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-6.html">Layout 6</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-7.html">Layout 7</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-layout-8.html">Layout 8</a>
                                                        </li>
                                                        <li><a href="category-page-thumbnails-coupon-horizontal.html">Horizontal</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="category-page-thumbnails-breadcrumbs.html">Breadcrumbs</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="product-shop-sidebar.html">Product </a>
                                    <ul>
                                        <li><a href="product-shop-sidebar.html">Shop</a>
                                            <ul>
                                                <li><a href="product-shop-sidebar.html">Sidebar</a>
                                                </li>
                                                <li><a href="product-shop-sidebar-left.html">Sidebar Left</a>
                                                </li>
                                                <li><a href="product-shop-centered.html">Centered</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="product-coupon-default.html">Coupon</a>
                                            <ul>
                                                <li><a href="product-coupon-default.html">Default</a>
                                                </li>
                                                <li><a href="product-coupon-meta-right.html">Meta right</a>
                                                </li>
                                                <li><a href="product-coupon-gallery.html">Gallery</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="features-typography.html">Features</a>
                                    <ul>
                                        <li><a href="features-typography.html">Typography</a>
                                        </li>
                                        <li><a href="features-elements.html">Elements</a>
                                        </li>
                                        <li><a href="features-grid.html">Grid</a>
                                        </li>
                                        <li><a href="features-icons.html">Icons</a>
                                        </li>
                                        <li><a href="features-image-hover.html">Image Hovers</a>
                                        </li>
                                        <li><a href="features-sliders.html">Sliders</a>
                                        </li>
                                        <li><a href="features-media.html">Media</a>
                                        </li>
                                        <li><a href="features-lightbox.html">Lightbox</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog-sidebar-right.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-sidebar-right.html">Sidebar Right</a>
                                        </li>
                                        <li><a href="blog-sidebar-left.html">Sidebar Left</a>
                                        </li>
                                        <li><a href="blog-full-width.html">Full Width</a>
                                        </li>
                                        <li><a href="post-sidebar-right.html">Post</a>
                                            <ul>
                                                <li><a href="post-sidebar-right.html">Sidebar Right</a>
                                                </li>
                                                <li><a href="post-sidebar-left.html">Sidebar Left</a>
                                                </li>
                                                <li><a href="post-full-width.html">Full Width</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active"><a href="page-full-width.html">Pages</a>
                                    <ul>
                                        <li><a href="page-my-account-settings.html">My Account</a>
                                            <ul>
                                                <li><a href="page-my-account-settings.html">Settings</a>
                                                </li>
                                                <li><a href="page-my-account-addresses.html">Address Book</a>
                                                </li>
                                                <li><a href="page-my-account-orders.html">Orders History</a>
                                                </li>
                                                <li><a href="page-my-account-wishlist.html">Wishlist</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="page-full-width.html">Full Width</a>
                                        </li>
                                        <li><a href="page-sidebar-right.html">Sidebar Right</a>
                                        </li>
                                        <li><a href="page-sidebar-left.html">Sidebar Left</a>
                                        </li>
                                        <li><a href="page-faq.html">Faq</a>
                                        </li>
                                        <li><a href="page-about-us.html">About us</a>
                                        </li>
                                        <li><a href="page-team.html">Team</a>
                                        </li>
                                        <li><a href="page-cart.html">Shopping Cart</a>
                                        </li>
                                        <li><a href="page-checkout.html">Checkout</a>
                                        </li>
                                        <li class="active"><a href="page-404.html">404</a>
                                        </li>
                                        <li><a href="page-search.html">Search</a>
                                            <ul>
                                                <li><a href="page-search-black.html">Black</a>
                                                </li>
                                                <li><a href="page-search-white.html">White</a>
                                                </li>
                                                <li><a href="page-search-sticky.html">Sticky</a>
                                                </li>
                                                <li><a href="page-search-no-search.html">No Search</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="page-contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                    <div class="col-md-6">
                        <!-- LOGIN REGISTER LINKS -->
                        <ul class="login-register">
                            <li class="shopping-cart"><a href="page-cart.html"><i class="fa fa-shopping-cart"></i>My Cart</a>
                                <div class="shopping-cart-box">
                                    <ul class="shopping-cart-items">
                                        <li>
                                            <a href="product-shop-sidebar.html">
                                                <img src="img/amaze_70x70.jpg" alt="Image Alternative text" title="AMaze" />
                                                <h5>New Glass Collection</h5><span class="shopping-cart-item-price">$150</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-shop-sidebar.html">
                                                <img src="img/gamer_chick_70x70.jpg" alt="Image Alternative text" title="Gamer Chick" />
                                                <h5>Playstation Accessories</h5><span class="shopping-cart-item-price">$170</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="list-inline text-center">
                                        <li><a href="page-cart.html"><i class="fa fa-shopping-cart"></i> View Cart</a>
                                        </li>
                                        <li><a href="page-checkout.html"><i class="fa fa-check-square"></i> Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="popup-text" href="#login-dialog" data-effect="mfp-move-from-top"><i class="fa fa-sign-in"></i>Sign in</a>
                            </li>
                            <li><a class="popup-text" href="#register-dialog" data-effect="mfp-move-from-top"><i class="fa fa-edit"></i>Sign up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- LOGIN REGISTER LINKS CONTENT -->
        <div id="login-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
            <i class="fa fa-sign-in dialog-icon"></i>
            <h3>Member Login</h3>
            <h5>Welcome back, friend. Login to get started</h5>
            <form class="dialog-form">
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" placeholder="email@domain.com" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="My secret password" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Remember me
                    </label>
                </div>
                <input type="submit" value="Sign in" class="btn btn-primary">
            </form>
            <ul class="dialog-alt-links">
                <li><a class="popup-text" href="#register-dialog" data-effect="mfp-zoom-out">Not member yet</a>
                </li>
                <li><a class="popup-text" href="#password-recover-dialog" data-effect="mfp-zoom-out">Forgot password</a>
                </li>
            </ul>
        </div>


        <div id="register-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
            <i class="fa fa-edit dialog-icon"></i>
            <h3>Member Register</h3>
            <h5>Ready to get best offers? Let's get started!</h5>
            <form class="dialog-form">
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" placeholder="email@domain.com" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="My secret password" class="form-control">
                </div>
                <div class="form-group">
                    <label>Repeat Password</label>
                    <input type="password" placeholder="Type your password again" class="form-control">
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Your Area</label>
                            <input type="password" placeholder="Boston" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Postal/Zip</label>
                            <input type="password" placeholder="12345" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Get hot offers via e-mail
                    </label>
                </div>
                <input type="submit" value="Sign up" class="btn btn-primary">
            </form>
            <ul class="dialog-alt-links">
                <li><a class="popup-text" href="#login-dialog" data-effect="mfp-zoom-out">Already member</a>
                </li>
            </ul>
        </div>


        <div id="password-recover-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
            <i class="icon-retweet dialog-icon"></i>
            <h3>Password Recovery</h3>
            <h5>Fortgot your password? Don't worry we can deal with it</h5>
            <form class="dialog-form">
                <label>E-mail</label>
                <input type="text" placeholder="email@domain.com" class="span12">
                <input type="submit" value="Request new password" class="btn btn-primary">
            </form>
        </div>
        <!-- END LOGIN REGISTER LINKS CONTENT -->



        <!-- SEARCH AREA -->
        <form class="search-area form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 clearfix">
                        <label><i class="fa fa-search"></i><span>I am searching for</span>
                        </label>
                        <div class="search-area-division search-area-division-input">
                            <input class="form-control" type="text" placeholder="Travel Vacation" />
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <label><i class="fa fa-map-marker"></i><span>In</span>
                        </label>
                        <div class="search-area-division search-area-division-location">
                            <input class="form-control" type="text" placeholder="Boston" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <!-- //////////////////////////////////
    //////////////END MAIN HEADER////////// 
    ////////////////////////////////////-->


        <!-- //////////////////////////////////
    //////////////PAGE CONTENT///////////// 
    ////////////////////////////////////-->



        <div class="container">
            <h1 class="title-hero">

    404

</h1>
            <h1>Sorry, the page you requested was not found.</h1>
            <div class="gap gap-small"></div><a href="index.html" class="btn btn-primary btn-mega">Back To Home</a>
            <div class="gap"></div>
        </div>


        <!-- //////////////////////////////////
    //////////////END PAGE CONTENT///////// 
    ////////////////////////////////////-->



        <!-- //////////////////////////////////
    //////////////MAIN FOOTER////////////// 
    ////////////////////////////////////-->

        <footer class="main" id="main-footer">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <a href="index.html">
                                <img src="img/logo.png" alt="logo" title="logo" class="logo">
                            </a>
                            <ul class="list list-social">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="#" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="#" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr box-icon" href="#" data-toggle="tooltip" title="Flickr"></a>
                                </li>
                                <li>
                                    <a class="fa fa-linkedin box-icon" href="#" data-toggle="tooltip" title="LinkedIn"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr box-icon" href="#" data-toggle="tooltip" title="Tumblr"></a>
                                </li>
                            </ul>
                            <p>Purus pellentesque nibh duis neque metus elementum aliquet ut egestas orci elit pellentesque pulvinar in nam class mollis netus dolor</p>
                        </div>
                        <div class="col-md-3">
                            <h4>Sign Up to the Newsletter</h4>
                            <div class="box">
                                <form>
                                    <div class="form-group mb10">
                                        <label>E-mail</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <p class="mb10">Bibendum platea iaculis blandit dapibus non natoque</p>
                                    <input type="submit" class="btn btn-primary" value="Sign Up" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Couponia on Twitter</h4>
                            <!-- START TWITTER -->
                            <div class="twitter-ticker" id="twitter-ticker"></div>
                            <!-- END TWITTER -->
                        </div>
                        <div class="col-md-3">
                            <h4>Recent News</h4>
                            <ul class="thumb-list">
                                <li>
                                    <a href="#">
                                        <img src="img/urbex_esch_lux_with_laney_and_laaaaag_70x70.jpg" alt="Image Alternative text" title="Urbex Esch/Lux with Laney and Laaaaag" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Suscipit sollicitudin</a></h5>
                                        <p class="thumb-list-item-desciption">Interdum commodo purus magna non</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/amaze_70x70.jpg" alt="Image Alternative text" title="AMaze" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Gravida fringilla</a></h5>
                                        <p class="thumb-list-item-desciption">Posuere nisl class donec egestas</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/the_hidden_power_of_the_heart_70x70.jpg" alt="Image Alternative text" title="The Hidden Power of the Heart" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Quam sed</a></h5>
                                        <p class="thumb-list-item-desciption">Litora enim tincidunt libero platea</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Copyright © 2014, Your Store, All Rights Reserved</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="pull-right">
                                <ul class="list-inline list-payment">
                                    <li>
                                        <img src="img/payment/american-express-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="img/payment/cirrus-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="img/payment/discover-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="img/payment/ebay-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="img/payment/maestro-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="img/payment/mastercard-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="img/payment/visa-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //////////////////////////////////
    //////////////END MAIN  FOOTER///////// 
    ////////////////////////////////////-->



        <!-- Scripts queries -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/boostrap.min.js" %}"></script>
        <script src="{% static "js/countdown.min.js" %}"></script>
        <script src="{% static "js/flexnav.min.js" %}"></script>
        <script src="{% static "js/magnific.js" %}"></script>
        <script src="{% static "js/tweet.min.js" %}"></script>
        <script src="{% static "js/fitvids.min.js" %}"></script>
        <script src="{% static "js/mail.min.js" %}"></script>
        <script src="{% static "js/ionrangeslider.js" %}"></script>
        <script src="{% static "js/icheck.js" %}"></script>
        <script src="{% static "js/fotorama.js" %}"></script>
        <script src="{% static "js/card-payment.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>
        <script src="{% static "js/masonry.js" %}"></script>
        <script src="{% static "js/nicescroll.js" %}"></script>

        <!-- Custom scripts -->
        <script src="{% static "js/custom.js" %}"></script>
    </div>
</body>

</html>
