{% extends 'administrator/administrator.html' %}
{% load staticfiles %}
{% load humanize %}
{% block side_menu %}
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'administrator' %}"><i class="fa fa-fw  fa-user "> </i> Admin Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_users' %}"><i class="fa fa-fw fa-shopping-cart "></i> Users</a>
                    </li>

                    <li>
                        <a href="{% url 'admin_products' %}"><i class="fa fa-fw fa-truck"></i> Products</a>
                    </li>
                    
                    <li class="active">
                    <a href="javascript:;" data-toggle="collapse" data-target="#category"><i class="fa fa-fw fa-support "></i> Category <i class="fa  fa-caret-down"></i></a>
                            <ul id="category" class="collapse-on">
                                <li>
                                    <a href="{% url 'admin_categories' %}">All Category</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_category' %}">Create Category</a>
                                </li>   
                            </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-flag "></i> Featured Item <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="">All Featured Item</a>
                            </li>
                            <li>
                                <a href="">Create Featured Item</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#pages"><i class="fa fa-fw fa-file-pdf-o "></i> Pages <i class="fa fa-caret-down"></i></a>
                        <ul id="pages" class="collapse">
                            <li>
                                <a href="{% url 'admin_pages' %}">All Page</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_page' %}">Create Page</a>
                            </li>       
                        </ul>
                    </li>      
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#region"><i class="fa fa-fw fa-moon-o "></i> Region <i class="fa fa-caret-down"></i></a>
                        <ul id="region" class="collapse">
                            <li>
                                <a href="{% url 'admin_regions' %}">All Region</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="{% url 'admin_search' %}">
                            <i class="fa fa-fw fa-search"></i> 
                            Search
                        </a>
                    </li>                                                                                                                           
                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-lock"></i> 
                            Security Question 
                        </a>
                    </li>

                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#slider"><i class="fa fa-fw fa-sliders"></i> Slider <i class="fa  fa-caret-down"></i></a>
                            <ul id="slider" class="collapse">
                                <li>
                                    <a href="{% url 'admin_slider' %}">All Slider</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_slider' %}">Create Slider</a>
                                </li>   
                            </ul>
                    </li>                

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#blogpost"><i class="fa fa-fw fa-archive"></i> Blog <i class="fa  fa-caret-down"></i></a>
                        <ul id="blogpost" class="collapse">
                            <li>
                                <a href="{% url 'admin_blogs' %}">All Blog Post</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_blog' %}">Create a Post</a>
                            </li>       
                        </ul>
                    </li> 

                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-rss"></i> 
                            Subscriber 
                        </a>
                    </li>                                                            
                </ul> 
                {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
			Edit Category
			</h2>

			<ol class="breadcrumb">

			<li>
				<i class="fa fa-fw fa-dashboard"></i> Administrator
			</li>
			<li>
				<i class="fa fa-fw fa-support"></i> Category
			</li>
			<li class="active">
				{{ category.category_name }}
			</li>
                        
			</ol>
		</div>
	</div>
	
	<div class="clearfix"></div>

	<div class="row">
    {% if messages %}
                                        {% for message in messages %}
                                           
                                           {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                            <div class="alert alert-success">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Sukses!</strong> {{ message }}
                                            </div>
                                            {% endif %}

                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Terjadi Kesalahan!</strong> {{ message }}
                                            </div>
                                            {% endif %}    

                                        {% endfor %}
                            {% endif %} 
		
            <div class="col-md-6">
            <form action="{% url 'admin_edit_category' id=category.id %}" method="POST">
                
                    <div class="form-group">
                        <label>Category Name</label>
                        <input name="category_name" class="form-control" value="{{category.category_name}}">
                    </div>

                    <div class="form-group">
                        <label>Icon CSS Name:</label>
                        <input name="css_name" class="form-control" value="{{ category.css_class_name}}">
                    </div>

                    <div class="form-group">
                        <label>Slug URL:</label>
                        <input name="slug_url" class="form-control" value="{{ category.slug_url }}">
                    </div>
                            
                    <button type="submit" class="btn btn-default btn-primary">Change Category</button>
                </form>
            </div>            
                       

	</div>

</div>




{% endblock %}