{% extends 'administrator/administrator.html' %}
{% load staticfiles %}
{% load humanize %}
{% block side_menu %}
             <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'administrator' %}"><i class="fa fa-fw  fa-user "> </i> Admin Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_users' %}"><i class="fa fa-fw fa-shopping-cart "></i> Users</a>
                    </li>

                    <li class="active">
                        <a href="{% url 'admin_products' %}"><i class="fa fa-fw fa-truck"></i> Products</a>
                    </li>

                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#category"><i class="fa fa-fw fa-support "></i> Category <i class="fa  fa-caret-down"></i></a>
                            <ul id="category" class="collapse">
                                <li>
                                    <a href="{% url 'admin_categories' %}">All Category</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_category' %}">Create Category</a>
                                </li>   
                            </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-flag "></i> Featured Item <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="">All Featured Item</a>
                            </li>
                            <li>
                                <a href="">Create Featured Item</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#pages"><i class="fa fa-fw fa-file-pdf-o "></i> Pages <i class="fa fa-caret-down"></i></a>
                        <ul id="pages" class="collapse">
                            <li>
                                <a href="{% url 'admin_pages' %}">All Page</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_page' %}">Create Page</a>
                            </li>       
                        </ul>
                    </li>      
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#region"><i class="fa fa-fw fa-moon-o "></i> Region <i class="fa fa-caret-down"></i></a>
                        <ul id="region" class="collapse">
                            <li>
                                <a href="{% url 'admin_regions' %}">All Region</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="{% url 'admin_search' %}">
                            <i class="fa fa-fw fa-search"></i> 
                            Search
                        </a>
                    </li>                                                                                                                           
                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-lock"></i> 
                            Security Question 
                        </a>
                    </li>

                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#slider"><i class="fa fa-fw fa-sliders"></i> Slider <i class="fa  fa-caret-down"></i></a>
                            <ul id="slider" class="collapse">
                                <li>
                                    <a href="{% url 'admin_slider' %}">All Slider</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_slider' %}">Create Slider</a>
                                </li>   
                            </ul>
                    </li>                

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#blogpost"><i class="fa fa-fw fa-archive"></i> Blog <i class="fa  fa-caret-down"></i></a>
                        <ul id="blogpost" class="collapse">
                            <li>
                                <a href="{% url 'admin_blogs' %}">All Blog Post</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_blog' %}">Create a Post</a>
                            </li>       
                        </ul>
                    </li> 

                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-rss"></i> 
                            Subscriber 
                        </a>
                    </li>                                                            
                </ul> 
                {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
			Edit Product
			</h2>

			<ol class="breadcrumb">

			<li>
				<i class="fa fa-fw fa-dashboard"></i> Administrator
			</li>
			<li>
				<i class="fa fa-fw fa-truck"></i> Edit Product
			</li>
			<li class="active">
				{{ edit_product.product_name }}
			</li>
                        
			</ol>
		</div>
	</div>
	
	<div class="clearfix"></div>

	<div class="row">
    {% if messages %}
                                        {% for message in messages %}
                                           
                                           {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                            <div class="alert alert-success">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Sukses!</strong> {{ message }}
                                            </div>
                                            {% endif %}

                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Terjadi Kesalahan!</strong> {{ message }}
                                            </div>
                                            {% endif %}    

                                        {% endfor %}
                            {% endif %} 
		
            <div class="col-md-6">
                        <form method="POST" action="{% url 'admin_edit_product' id=edit_product.id %}" enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="name">Nama Produk </label>
                            <input type="text" name="name" value="{{ edit_product.product_name }}" id="name" maxlength="200" class="form-control" > 
                          </div>
                          
                          <div class="form-group">
                            <label for="category">Kategori Produk</label>
                            <select  name="category" id="category" class="form-control selectpicker show-tick" data-live-search="true" >
                            {% for product_category in product_category %}
                            <option data-icon="fa fa-fw {{ product_category.css_class_name }}" {% if edit_product.category.category_name == product_category.category_name  %} selected="" {% endif %} value="{{ product_category.id }}">{{ product_category.category_name }}</option>
                            {% endfor %}
                            </select>
                          </div>

                          <div class="form-group" id="status_sub_category">
                            <label for="sub_category">Sub Kategori Produk</label>
                              <select name="sub_category" id="sub_category" class="form-control selectpicker show-tick" title='Pilih Sub Kategori' data-live-search="true" disabled>
                              </select>
                          </div>
                    </div>
                        
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="price">Harga Produk </label>
                        
                        <div class="input-group">
                          <div class="input-group-addon">Rp.</div>
                            <input class="form-control" value="{{ edit_product.price | intcomma }}" id="price" name="price" maxlength="50" placeholder="" type="text"  >
                            <div class="input-group-addon">.00</div>
                          </div>

                        </div>
                            <div class="form-group">
                              <label for="price">Kondisi</label>
                              <select name="condition" id="category" class="form-control selectpicker show-tick">            
                                {% if edit_product.condition %}
                                <option value="new">Baru</option>
                                <option value="second">Bekas</option>
                                {% else %}
                                <option value="second">Bekas</option>
                                <option value="new">Baru</option>
                                {% endif %}
                              </select>
                            </div>

                            <div class="form-group">
                              <label for="price">Stok</label>
                               <input class="form-control" value="{{ edit_product.quantity }}" type="number" name="quantity" min="1" max="100">
                            </div>
                     <!--        <div class="form-group">
                                 <label> Tags (gunakan tanda koma) </label><br>
                                 <input type="text" value="{% for tags in edit_product.tags %} {{tags}} {%endfor%}" name="tags" data-role="tagsinput" class="form-control ">
                             </div>                              -->


                    </div>
                    <div class="gap gap-mini"></div>

                    <!-- <div class="row center">
                      <div class="col-md-6 col-md-offset-3">
                          <div id="owl_edit_product">
                             {% for file_img in edit_product.images %}
                               <div class="item"> 
                               <img  src="{{WEBSITES.upload.product}}{{edit_product.kedai.id}}/{{ file_img }}" href="{{WEBSITES.upload.product}}{{edit_product.kedai.id}}/{{ file_img }}">  
                               </div>
                             {% endfor %}
                          </div>    
                      </div>
                    </div> -->

                    <br>

                    <!-- <div class="form-group center">
                      <input  type="file" name="photo" multiple="true">
                      <figure class="note"><strong>Petunjuk: </strong>Anda dapat meng-upload semua gambar sekaligus (<strong>CTRL</strong> untuk menandai)</figure>
                    </div> 
                      -->
                     <div class="form-group">
                                <label>Informasi Produk </label>
                                  <textarea name="information" rows="6" maxlength="1000" class="form-control ckeditor">{{ edit_product.information }}</textarea>
                             </div>
                               <div class="form-group">
                                <label>Pengiriman dan Pembayaran </label>
                                  <textarea name="shipping_payment" rows="3" maxlength="1000" class="form-control ckeditor">{{ edit_product.shipping_and_payment }}</textarea>
                             </div>



                                                          <input type="submit" value="Simpan Perubahan" class="btn btn-primary">

                             </form>

	</div>

</div>




{% endblock %}