{% extends 'administrator/administrator.html' %}
{% load staticfiles %}
{% load humanize %}
{% block side_menu %}
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'administrator' %}"><i class="fa fa-fw  fa-user "> </i> Admin Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_users' %}"><i class="fa fa-fw fa-shopping-cart "></i> Users</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_products' %}"><i class="fa fa-fw fa-truck"></i> Products</a>
                    </li>
                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#category"><i class="fa fa-fw fa-support "></i> Category <i class="fa  fa-caret-down"></i></a>
                            <ul id="category" class="collapse">
                                <li>
                                    <a href="{% url 'admin_categories' %}">All Category</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_category' %}">Create Category</a>
                                </li>   
                            </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-flag "></i> Featured Item <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="">All Featured Item</a>
                            </li>
                            <li>
                                <a href="">Create Featured Item</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#pages"><i class="fa fa-fw fa-file-pdf-o "></i> Pages <i class="fa fa-caret-down"></i></a>
                        <ul id="pages" class="collapse">
                            <li>
                                <a href="{% url 'admin_pages' %}">All Page</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_page' %}">Create Page</a>
                            </li>       
                        </ul>
                    </li>      
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#region"><i class="fa fa-fw fa-moon-o "></i> Region <i class="fa fa-caret-down"></i></a>
                        <ul id="region" class="collapse">
                            <li>
                                <a href="{% url 'admin_regions' %}">All Region</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="{% url 'admin_search' %}">
                            <i class="fa fa-fw fa-search"></i> 
                            Search
                        </a>
                    </li>                                                                                                                           
                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-lock"></i> 
                            Security Question 
                        </a>
                    </li>

                    <li class="active">
                    <a href="javascript:;" data-toggle="collapse" data-target="#slider"><i class="fa fa-fw fa-sliders"></i> Slider <i class="fa  fa-caret-down"></i></a>
                            <ul id="slider" class="collapse-on">
                                <li>
                                    <a href="{% url 'admin_slider' %}">All Slider</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_slider' %}">Create Slider</a>
                                </li>   
                            </ul>
                    </li>                

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#blogpost"><i class="fa fa-fw fa-archive"></i> Blog <i class="fa  fa-caret-down"></i></a>
                        <ul id="blogpost" class="collapse">
                            <li>
                                <a href="{% url 'admin_blogs' %}">All Blog Post</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_blog' %}">Create a Post</a>
                            </li>       
                        </ul>
                    </li> 

                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-rss"></i> 
                            Subscriber 
                        </a>
                    </li>                                                            
                </ul> 
                {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
			Edit Slider
			</h2>

			<ol class="breadcrumb">

			<li>
				<i class="fa fa-fw fa-dashboard"></i> Administrator
			</li>
			<li>
				<i class="fa fa-fw fa-sliders"></i> Slider
			</li>
			<li class="active">
				{{ slider.slider_name }}
			</li>
                        
			</ol>
		</div>
	</div>
	
	<div class="clearfix"></div>

	<div class="row">
    {% if messages %}
                                        {% for message in messages %}
                                           
                                           {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                            <div class="alert alert-success">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Sukses!</strong> {{ message }}
                                            </div>
                                            {% endif %}

                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Terjadi Kesalahan!</strong> {{ message }}
                                            </div>
                                            {% endif %}    

                                        {% endfor %}
                            {% endif %} 
    <div class="col-md-12">
        <form action="{% url 'admin_edit_slider' id=slider.id %}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Slider Name</label>
                        <input name="slider-name" value="{{ slider.slider_name }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Image Thumbnail</label><br>
                            {% if slider.image %}
                            <img src="{{ WEBSITES.upload.slider}}{{ slider.image }}" style="width: 100%; height: 100%px;" class="img-thumbnail" onclick="document.getElementById('fileimage1').click(); return false;"><br><br>
                            {% else %}
                            <img src="{% static 'img/1500x300.png' %}" style="width: 100%; height: 100%px;" class="img-thumbnail" onclick="document.getElementById('fileimage1').click(); return false;"><br><br>
                            {% endif %}

                            <a class="btn btn-default" onclick="document.getElementById('fileimage1').click(); return false;">Pilih gambar</a>
                            <input type="file" name="post-image" id="fileimage1" style="visibility: hidden;" required="">
                            
                        
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <textarea name="slider-content" class="form-control" rows="9">{{ slider.content }}
</textarea>
                    </div>

                    <div class="form-group">
                        <label>Link Redirect</label>
                        <input name="redirect_url" value="{{ slider.redirect_url }}" class="form-control">
                    </div>
                
                    <button type="submit" class="btn btn-default btn-primary">Change Slider</button>
                </form>
    </div>
	</div>


</div>




{% endblock %}