{% extends 'administrator/administrator.html' %}
{% load staticfiles %}
{% load humanize %}
{% block side_menu %}
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'administrator' %}"><i class="fa fa-fw  fa-user "> </i> Admin Dashboard</a>
                    </li>
                    <li class="active" >
                        <a href="{% url 'admin_users' %}"><i class="fa fa-fw fa-shopping-cart "></i> Users</a>
                    </li>
                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#category"><i class="fa fa-fw fa-support "></i> Category <i class="fa fa-caret-down"></i></a>
                            <ul id="category" class="collapse">
                                <li>
                                    <a href="/administrator/category">All Category</a>
                                </li>
                                
                                <li> 
                                    <a href="/administrator/category/create">Create Category</a>
                                </li>   
                            </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-flag "></i> Featured Item <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="/administrator/featured_item">All Featured Item</a>
                            </li>
                            <li>
                                <a href="/administrator/featured_item/create">Create Featured Item</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#pages"><i class="fa fa-fw fa-file-pdf-o "></i> Pages <i class="fa fa-caret-down"></i></a>
                        <ul id="pages" class="collapse">
                            <li>
                                <a href="{% url 'admin_pages' %}">All Page</a>
                            </li>
                            <li>
                                <a href="/administrator/page/create">Create Page</a>
                            </li>       
                        </ul>
                    </li>      
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#region"><i class="fa  fa-moon-o "></i> Region <i class="fa fa-caret-down"></i></a>
                        <ul id="region" class="collapse">
                            <li>
                                <a href="/administrator/region">All Region</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="/administrator/searched_by_people">
                            <i class="fa fa-search"></i> 
                            Search
                        </a>
                    </li>                                                                                                                           
                    <li>
                        <a href="/administrator/security_question">
                            <i class="fa fa-lock"></i> 
                            Security Question 
                        </a>
                    </li>

                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#slider"><i class="fa fa-sliders"></i> Slider <i class="fa  fa-caret-down"></i></a>
                            <ul id="slider" class="collapse">
                                <li>
                                    <a href="/administrator/slider">All Slider</a>
                                </li>
                                
                                <li> 
                                    <a href="/administrator/slider/create">Create Slider</a>
                                </li>   
                            </ul>
                    </li>                

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#blogpost"><i class="fa  fa-archive"></i> Blog <i class="fa  fa-caret-down"></i></a>
                        <ul id="blogpost" class="collapse">
                            <li>
                                <a href="/administrator/blog">All Blog Post</a>
                            </li>
                            <li>
                                <a href="/administrator/blog/create">Create a Post</a>
                            </li>       
                        </ul>
                    </li> 

                    <li>
                        <a href="/administrator/all_subscriber">
                            <i class="fa fa-rss"></i> 
                            Subscriber 
                        </a>
                    </li>                                                            
                </ul>
                {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
			Edit Users
			</h2>

			<ol class="breadcrumb">

			<li>
				<i class="fa fa-fw fa-dashboard"></i> Administrator
			</li>
			<li>
				<i class="fa fa-fw fa-users"></i> Users
			</li>
			<li class="active">
				{{ kedai.store_name }}
			</li>
                        
			</ol>
		</div>
	</div>
	
	<div class="clearfix"></div>

	<div class="row">
    {% if messages %}
                                        {% for message in messages %}
                                           
                                           {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                            <div class="alert alert-success">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Sukses!</strong> {{ message }}
                                            </div>
                                            {% endif %}

                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Terjadi Kesalahan!</strong> {{ message }}
                                            </div>
                                            {% endif %}    

                                        {% endfor %}
                            {% endif %} 
		<div class="col-md-6">
                            <form action="{% url 'admin_edit_user' id=kedai.id %}" method="POST" enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label for="kedai">Nama Kedai</label>
                                        <input type="text" value="{{ kedai.store_name }}" name="store_name" id="kedai" class="form-control">
                                    </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" value="{{ kedai.author.email }}" name="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="nohp">No. Handphone</label>
                                    <input type="text" value="{{ kedai.phone_number }}"  name="phone_number" id="nohp" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="address">Alamat </label>
                                    <textarea rows="2" name="address" maxlength="200" class="form-control" id="address">{{ kedai.address }}</textarea>
                                 </div>

                                 <div class="form-group">
                                  <label>Status Active</label>
                                  <select name="is_active" class="form-control">            
                                    {% if kedai.author.is_active %}

                                    <option value="active">Active</option>
                                    <option value="suspend">Suspend</option>
                                    
                                    {% else %}

                                    <option value="suspend">Suspend</option>
                                    <option value="active">Active</option>
                                    {% endif %}
                                  </select>
                                </div>   

                                <div class="form-group">
                                  <label>Email Confimation</label>
                                  <select name="is_validated" class="form-control">            
                                    {% if kedai.author.is_validated %}

                                    <option value="confirmed">Confirmed</option>
                                    <option value="unconfirmed">Unconfirmed</option>
                                    
                                    {% else %}

                                    <option value="unconfirmed">Unconfirmed</option>
                                    <option value="confirmed">Confirmed</option>
                                    
                                    {% endif %}
                                  </select>
                                </div>   
                                 
                        </div>

                        <div class="col-md-6">
                            <div class="row">

                                <div class="col-md-3">
                                           <div class="form-group">
                                            {% if kedai.logo_image %}
                                            <img style="width: 100px; height: 80px; " src="{{WEBSITES.upload.photo_profile}}{{ kedai.logo_image}}" class="img-circle img-rounded">
                                            {% else %}
                                            <img style="width: 100px; height: 80px; " src="{% static 'img/no-avatar.gif' %}" class="img-circle img-rounded">
                                            {% endif %}
                                            </div>
                                            
                                </div>
                                <div class="col-xs-3" style="margin-top: 20px;">

                                    <label for="choose_file" class="btn btn-default"><i class="fa fa-file-photo-o fa-fw"></i> Ganti Photo Profile</label>
                                    <input type="file" id="choose_file" name="logo_img" class="btn btn-default" style="display:none;" >
                                </div>            

                            </div>

                            <div class="form-group">
                                    <label>Link Kedai</label>
                                    <a href="#">
                                    <div class="input-group">
                                      <div class="input-group-addon">kedaia.com/author/</div>
                                      <input type="text" class="form-control"  name="store" disabled="" value="{{ kedai.store_url_slug }}">
                                    </div>
                                    </a>
                            </div>
                            <div class="form-group">
                                    <label for="owner_name">Nama Pemilik</label>
                                    <input type="text" value="{{ kedai.author.full_name }}" name="owner_name" id="owner_name" class="form-control">
                            </div>
                            <div class="form-group">
                                    <label for="postal_code">Kode Pos</label>
                                    <input type="text" value="{{ kedai.postal_code }}" name="postal_code" id="postal_code" class="form-control">
                            </div>
                            <div class="form-group">
                                    <label for="">Kabupaten/Kota:</label>
                                    <select name="region" class="form-control selectpicker show-tick" data-live-search="true">
                                        {% for list_region in list_region %}
                                       <option value="{{ list_region.id }}"
                                        {% if list_region.region == kedai.region.region %} selected
                                        {% endif %}>{{ list_region.region }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label>Tentang</label>
                            <textarea rows="3" name="about" maxlength="200" class="form-control ckeditor">{{ kedai.about_store }}</textarea>
                        </div>
                        <input type="submit" value="Simpan Perubahan" class="btn btn-primary">

                        </form>

	</div>

</div>




{% endblock %}