{% extends 'purchase/shopping-cart.html' %}
{% load staticfiles %}
{% load humanize %}

{% block meta %}
    <title>Konfirmasi | {{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="{{ WEBSITES.meta_information.keywords }}" />
    <meta name="description" content="{{ WEBSITES.meta_information.description }}">
    <meta name="author" content="{{ WEBSITES.meta_information.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
{% endblock %}

{% block content %}

<style type="text/css">
	
	.box {
		margin-left: 20px;
	}
</style>

<div class="container">
            <div class="row">

            	<div class="col-md-6 box">
                    {% if messages %}
                                        {% for message in messages %}
                                           
                                           {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                            <div class="alert alert-success">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Sukses!</strong> {{ message }}
                                            </div>
                                            {% endif %}

                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Terjadi Kesalahan!</strong> {{ message }}
                                            </div>
                                            {% endif %}    

                                        {% endfor %}
                            {% endif %}      
            		<p>Untuk proses pemesanan selanjutnya, mohon konfirmasi pembayaran Anda dengan mengisi formulir online.
            		Semua isian wajib diisi. Proses konfimasi akan memakan waktu maksimal 2 hari kerja.</p>
            		<hr>

            		<h3>FORMULIR KONFIRMASI PEMBAYARAN</h3>

            		<form action="{% url 'confirmation' %}" method="POST" enctype="multipart/form-data">
            		<div class="form-group">
						<label for="kedai"><b>Nama Pembeli</b></label>
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-users"></i></div>
                            <input type="text" maxlength="30" name="buyer_name" id="kedai" class="form-control" placeholder="Nama pembeli yang bertransaksi" required>
                        </div>
					</div>

            		<div class="form-group">
						<label for="code_payment"><b>Kode Pembayaran</b></label>
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-shopping-cart"></i></div>
                            <input type="text" maxlength="100" name="code_payment" id="code_payment" class="form-control" placeholder="Nomor kode pemesanan Anda" required>
                        </div>
					</div>

					<div class="form-group">
                        <label for="total_transfer"><b>Jumlah Transfer</b></label>
                        
                        <div class="input-group">
                          <div class="input-group-addon">Rp.</div>
                            <input class="form-control" id="total_transfer" name="total_transfer" maxlength="50" placeholder="Jumlah dana yang ditranfer" type="text" required>
                            <div class="input-group-addon">.00</div>
                          </div>

                    </div>

                    <div class="form-group">
						<label for="name_passbook"><b>Nama sesuai Buku Tabungan</b></label>
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-money"></i></div>
                            <input type="text" maxlength="100" name="name_passbook" id="name_passbook" class="form-control" placeholder="Nama yang tertera pada buku tabungan" required>
                        </div>
					</div>

					<div class="form-group">
						<label><b>Upload Bukti Transfer</b></label><br>
						<label for="bukti_transfer" class="btn btn-default"><i class="fa fa-upload fa-fw"></i> Unggah bukti pembayaran</label><br>
						Maksimum ukuran file 5 MB
						<input type="file" id="bukti_transfer" name="bukti_transfer" class="btn btn-default" style="display:none;" accept="image/x-png, image/gif, image/jpeg" required>
					</div>	

					<input type="submit" value="Kirim" class="btn btn-primary btn-lg">

					</form>


            	</div>
            </div>

            <div class="gap gap-mini"></div>
</div>

{% endblock %}