{% extends 'purchase/shopping-cart.html' %}
{% load staticfiles %}
{% load humanize %}

{% block meta %}
    <title>Konfirmasi | {{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="{{ WEBSITES.meta_information.keywords }}" />
    <meta name="description" content="{{ WEBSITES.meta_information.description }}">
    <meta name="author" content="{{ WEBSITES.meta_information.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
{% endblock %}

{% block content %}

<style type="text/css">
	
	.box {
		margin-left: 0px;
	}

    <style type="text/css">
    .transaction-card {
float: left;
background-color: #fff;
border: 1px solid #DDD;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075);
transition: .2s;
-webkit-transition: .2s;
-moz-transition: .2s;
-o-transition: .2s;}
.transaction-card-header {
padding-top: 15px;
cursor: pointer; }
    .transaction-card-action, .transaction-card-footer, .transaction-card-product, .transaction-card-total {
padding-top: 10px;
padding-bottom: 10px;
border-top: 1px solid #DDD;
background-color: #f4f4f4; }
</style>


</style>

<div class="container">
            <div class="row">

            	<div class="col-md-4 box">
                    {% if messages %}
                                        {% for message in messages %}
                                           
                                           {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                            <div class="alert alert-success">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Sukses!</strong> {{ message }}
                                            </div>
                                            {% endif %}

                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Terjadi Kesalahan!</strong> {{ message }}
                                            </div>
                                            {% endif %}    

                                        {% endfor %}
                            {% endif %}      
            		<p>Untuk proses pemesanan selanjutnya, mohon konfirmasi pembayaran Anda dengan mengisi formulir online.
            		Semua isian wajib diisi. Proses konfimasi akan memakan waktu maksimal 2 hari kerja.</p>
            		<hr>

            		<h3>FORMULIR KONFIRMASI PEMBAYARAN</h3>

            		<form action="/konfirmasi/{{ purchase.id }}" method="POST" enctype="multipart/form-data">
            		<div class="form-group">
						<label for="kedai"><b>Nama Pembeli</b></label>
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-users"></i></div>
                            <input type="text" maxlength="30" name="buyer_name" id="kedai" class="form-control" placeholder="Nama pembeli yang bertransaksi" value="{{ purchase.name_buyer }}" required>
                        </div>
					</div>

            		<div class="form-group">
						<label for="code_payment"><b>Kode Pembayaran</b></label>
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-shopping-cart"></i></div>
                            <input type="text" maxlength="100" name="code_payment" id="code_payment" class="form-control" placeholder="Nomor kode pemesanan Anda" value="{{ purchase.id }}" required>
                        </div>
					</div>

					<div class="form-group">
                        <label for="total_transfer"><b>Jumlah Transfer</b></label>
                        
                        <div class="input-group">
                          <div class="input-group-addon">Rp.</div>
                            <input class="form-control" id="total_transfer" name="total_transfer" maxlength="50" placeholder="Jumlah dana yang ditranfer" type="text" required>
                            <div class="input-group-addon">.00</div>
                          </div>

                    </div>

                    <div class="form-group">
						<label for="name_passbook"><b>Nama sesuai Buku Tabungan</b></label>
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-money"></i></div>
                            <input type="text" maxlength="100" name="name_passbook" id="name_passbook" class="form-control" placeholder="Nama yang tertera pada buku tabungan" required>
                        </div>
					</div>

					<div class="form-group">
						<label><b>Upload Bukti Transfer</b></label><br>
						<label for="bukti_transfer" class="btn btn-default"><i class="fa fa-upload fa-fw"></i> Unggah bukti pembayaran</label><br>
						Maksimum ukuran file 5 MB
						<input type="file" id="bukti_transfer" name="bukti_transfer" class="btn btn-default" style="display:none;" accept="image/x-png, image/gif, image/jpeg" required>
					</div>	

					<input type="submit" value="Kirim" class="btn btn-primary btn-lg">

					</form>
            	</div>

                <div class="col-md-8">
                    <div class="transaction-card box">
                                <div class="row transaction-card-header" data-toggle="collapse" href="#transaction-card-body-0" aria-expanded="true" aria-controls="transaction-card-body-0">
                                    <div class="col-xs-8">
                                    <p><b> Pembeli <i>{{ purchase.name_buyer }}</i> <br>Email  <i>{{ purchase.email_buyer }}</i><br> HP  <i>{{ purchase.hp_buyer }} </i><br> Kode Transaksi  <i>{{ purchase.id }} </i></b> 
                                    <br> STATUS  <i> {{ purchase.status }} </i></b> 
                                    <span class="tips"></span></p>

                                    </div>
                                    
                                    <div class="col-xs-4">
                                        <p align="right"><b> Penerima <i>{{ purchase.to_name_buyer }}</i> <br> HP  <i>{{ purchase.hp_buyer }} </i></b> 
                                    <span class="tips"></span></p>
                                    <p align="right">
                                        <span class="fa fa-map-marker"></span>
                                        <span class="tips">{{ purchase.to_province.province }}, {{ purchase.to_region }}. <br> {{ purchase.address }}</span>
                                    </p>
                                    </div>
                                </div>
                                <div class="row collapse in" id="transaction-card-body-0">  <div class="col-xs-12">
                                    <div class="row transaction-card-product">
                                        <div class="col-md-2 col-sm-3 col-xs-5">
                                            <p><img src="{{ WEBSITES.upload.product_thumbnails}}{{purchase.product.kedai.id}}/{{ purchase.product.images.0 }}"></p></div><div class="col-md-6 col-sm-5 col-xs-7"><p><b class="one-liner-text">{{ purchase.product.product_name }}</b></p>
                                            {% if purchase.status == "Sudah Mengirim Bukti Pembayaran" %} <a href="{{ WEBSITES.upload.purchase}}/{{ payment.evidence_payment }}" class="del-butt-product" cart-id="1"><span class="qicon qicon-trash"></span>Bukti Pembayaran </a>{% endif %}


                                        </div>
                                        <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-7 col-xs-offset-5">{{ purchase.quantity }} item<br>@ Rp {{ purchase.satuan_product | intcomma }}</div><div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-7 col-xs-offset-5">Rp {{ purchase.basic_price | intcomma }}
                                        </div>
                                    </div>
                                   </div>
                                </div>

                                <div class="expedition-div row transaction-card-detail" style=""><br>
                                    <div class="col-md-2 col-sm-3 col-xs-5">
                                           <p>Menggunakan<br> 
                                           <b>Ekspedisi JNE</b>
                                    </div>
                                    <div id="expedition-message-373" class="col-md-6 col-sm-5 hidden-xs">
                                        <p class="hidden-sm hidden-xs tips">Biaya kirim akan ditanggung oleh pembeli, dan untuk saat ini hanya bisa menggunakan pengiriman melalui JNE.</p>
                                    </div>

                                    <div class="col-md-2 col-sm-4 col-xs-7">Biaya Kirim</div>

                                    <div id="shipping-cost-373" class="col-md-2 col-sm-4 col-xs-7"><span class="tips">Rp. {{ purchase.to_province.shipping_cost |intcomma}}</span>
                                    </div>
                                </div>

                                <hr style="margin-top : 0px;">

                                <div class="expedition-div row transaction-card-detail" style="margin-top: -30px; margin-bottom: 10px;"><br>
                                    <div class="col-md-2 col-sm-3 col-xs-5">
                                    Uang dikirim ke <b>Bank  {{ purchase.product.kedai.bank_account}}</b>
                                    </div>
                                    <div id="expedition-message-373" class="col-md-6 col-sm-5 hidden-xs">
                                        <h5 class="hidden-sm hidden-xs tips" style="margin-top: 15px;">No. Rekening <b>{{ purchase.product.kedai.bank_no_account}}</b></h5>
                                    </div>

                                    <div class="col-md-2 col-sm-4 col-xs-7"><b>Total Keseluruhan</b></div>

                                    <div id="shipping-cost-373" class="col-md-2 col-sm-4 col-xs-7"><span class="tips"><b>Rp. {{ purchase.total_payment |intcomma}}</b></span>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-mini"></div>
</div>

{% endblock %}