{% extends 'purchase/shopping-cart.html' %}

{% load staticfiles %}
{% load humanize %}
{% block content %}


<div class="container">
            <div class="row">
            
                <form method="POST" action="{% url 'shopping_cart_confirmation' id=product.id %}">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Form Pembeli</h3><hr>
                            {% if kedai %}

                            <div class="form-group">
                                <label>Nama Pembeli</label>
                                <input type="text" name="buyer_name" value="{{ product.kedai.author.full_name }}" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Email Pembeli</label>
                                <input type="text" name="email_buyer" value="{{ product.kedai.author.email }}" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>No HP Pembeli</label>
                                <input type="text" name="hp_buyer" value="{{ product.kedai.phone_number }}" class="form-control" required>
                            </div>
                            {% else %}
                            <div class="form-group">
                                <label>Nama Pembeli</label>
                                <input type="text" name="buyer_name" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Email Pembeli</label>
                                <input type="text" name="email_buyer" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>No HP Pembeli</label>
                                <input type="text" name="hp_buyer" class="form-control" required>
                            </div>
                            {% endif %}

                            <hr>
                            <div class="form-group">
                                <label>Nama Penerima</label>
                                <input type="text" name="buyer_name_reciever" class="form-control" required>
                            </div>
                            <div class="gap gap-mini"></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>No HP</label>
                                    <input type="text" name="buyer_reciever_hp1" class="form-control" required>
                                </div>
                                <div class="col-md-6">
                                    <label>No Lainnya</label>
                                    <input type="text" name="buyer_reciever_hp2" class="form-control" required>
                                </div>
                            </div>

                            <div class="gap gap-mini"></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Jumlah</label>
                                    <input type="number" name="quantity" data-price="{{ product.price }}" max="{{ product.quantity }}" min="1" class="form-control quantity_product" value="1">
                                </div>
                                <div class="col-md-6">
                                    <label>Harga</label>  
                                    <div class="input-group">
                                      <div class="input-group-addon">Rp.</div>
                                        <input class="form-control price_result" name="price" maxlength="50" value="{{ product.price | intcomma}}" type="text" readonly="">
                                      </div>
                                </div>
                            </div>

                            <div class="gap gap-mini"></div>

                            <div class="form-group">
                                    <label>Provinsi</label>
                                    <select name="to_province" title="Pilih Provinsi" class="form-control selectpicker show-tick" data-live-search="true" required>
                                        {% for list_province in list_province %}
                                       <option value="{{ list_province.id }}">{{ list_province.province }}</option>
                                        {% endfor %}
                                    </select>
                            </div>

                            <div class="form-group">
                                    <label>Kota/Kabupaten</label>
                                    <input type="text" name="to_region" class="form-control" required>
                            </div>
                            <div class="form-group">
                                    <label>Alamat Lengkap Penerima</label>
                                    <textarea class="form-control" name="address"></textarea required>
                            </div>

                            <div class="gap gap-mini"></div>


                            <input type="submit" class="btn btn-primary" value="Simpan dan Lanjut Pembayaran">
                        <div class="gap gap-mini"></div>


                        </div>
                        <div class="col-md-6">
                            <h3>Produk</h3><hr>
                            <h4><a href="{% url 'display_product' slug=product.slug_url %}" target="blank">{{ product.product_name }}</a></h4>
                            <div class="edit-shopping-cart">
                                     <div class="item"> 
                                       <img src="{{WEBSITES.upload.product_thumbnails}}{{product.kedai.id}}/{{ product.images.0 }}" href="{{WEBSITES.upload.product_thumbnails}}{{product.kedai.id}}/{{ product.images.0 }}">
                                    </div>     
                            </div>
                            <div class="gap gap-mini"></div>
                            <table class="table table-order">
                                <thead>
                                  <tr>
                                    <th><b>Informasi Produk</b></th>
                                  </tr>
                                </thead>    
                                </thead>
                                    <tbody>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>@ Rp. {{ product.price | intcomma}}</td>
                                        </tr>
                                        <tr>
                                            <td>Status Produk</td>
                                            <td>:</td>
                                            {% if product.condition %}
                                            <td> Baru</td>
                                            {% else %}
                                            <td>Bekas</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td>Jumlah Stok</td>
                                            <td>:</td>
                                            <td>{{ product.quantity  }}</td>
                                        </tr>
                                        <tr>
                                            <td>Berat</td>
                                            <td>:</td>
                                            <td>{{ product.weight }} kg</td>
                                        </tr>
                                    </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                </form>
                
                <div class="col-md-4">
                   <div class="product-info box">
                                <h5><b>PENJUAL</b></h5>
                                <div class="row">
                                    <div class="col-md-4">
                                    {% if product.kedai.logo_image %}
                                            <img style="margin-top: 13px;width: 100px; height: 80px; border:1px solid gray;" src="{{WEBSITES.upload.photo_profile}}{{ product.kedai.logo_image}}" class="img-circle img-rounded">
                                            {% else %}
                                            <img style="width: 100px; height: 80px; " src="{% static 'img/no-avatar.gif' %}" class="img-circle img-rounded">
                                            {% endif %}
                                    </div>
                                    <div class="col-md-7" style="margin-top: 8px; margin-left: 8px;">
                                        <h3 class="show-product-brand-name">
                                            <a href="{% url 'author' slug_url=product.kedai.store_url_slug %}" style="text-decoration:underline;">{{ product.kedai.store_name }}
                                            </a>
                                        </h3>    
                                        <ul class="list-inline">
                                            <li><i class="fa fa-map-marker fa-fw"></i> {{ product.kedai.region.region }}</li>
                                            <li><i class="fa fa-phone fa-fw"></i> {{ product.kedai.phone_number }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="list-inline" style="margin-top: 3px; text-align:center;">
                                    <li><small>Bergabung <b> {{ product.kedai.author.date_joined | date:"d M, y" }}</b>.</small></li><br>
                                    <li><small>Login Terakhir <b>{{ product.kedai.author.last_login | naturalday }}</b></small>.</li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="" style="width:100%;" class="btn btn-success btn-small">14 FEEDBACK </a>
                                    </div>   
                                    <div class="col-md-6"> 

                                        <a href="" style="width:100%;" class="btn btn-default btn-small"><i class="fa fa-fw fa-envelope-o" style="color: red;"></i>KIRIM PESAN </a>
                                    </div>    
                                </div> 
                            </div>   
                </div>
                
            </div>
            <div class="gap"></div>
        </div>
        {% endblock %}