{% load staticfiles %}
{% load humanize %}
<!DOCTYPE HTML>
<html>

<head>
    {% block meta %}
    <title>{{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="{{ WEBSITES.meta_information.keywords }}" />
    <meta name="description" content="{{ WEBSITES.meta_information.description }}">
    <meta name="author" content="{{ WEBSITES.meta_information.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% endblock %}
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/boostrap.css" %}" type="text/css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="{% static "css/font_awesome.css" %}">
    <!-- Bootstrap Tagsinput-->
    <link rel="stylesheet" href="{% static "library/bootstrap-tagsinput/src/bootstrap-tagsinput.css" %}">
    <!-- Bootstrap Fileinput-->
    <link rel="stylesheet" href="{% static "library/bootstrap-fileinput/css/fileinput.min.css" %}">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="{% static "library/bootstrap-select/dist/css/bootstrap-select.min.css" %}">
    <!-- Icheck -->
    <link href="{% static "library/icheck/skins/minimal/minimal.css" %}" rel="stylesheet">
    <!-- owl-carousel -->
    <link href="{% static "library/carousel/owl-carousel/owl.carousel.css" %}" rel="stylesheet">
    <link href="{% static "library/carousel/owl-carousel/owl.theme.css" %}" rel="stylesheet">
    <!-- Magnific-Popup -->
    <link rel="stylesheet" href="{% static "library/Magnific-Popup/dist/magnific-popup.css" %}" type="text/css">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

    
    <!-- pace -->
    <script src="{% static "library/pace/pace.min.js" %}"></script>
    <link href="{% static "library/pace/themes/blue/pace-theme-flash.css" %}" rel="stylesheet" />

    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logos/favicon.ico" />

    
</head>
<body>


    <div class="global-wrap">


        <!-- //////////////////////////////////
	//////////////MAIN HEADER///////////// 
	////////////////////////////////////-->
        <div class="top-main-area text-center">
            <div class="container">
                <a href="{% url 'index' %}" class="">
                            <img style="width:130px; margin-left:10px;" src="{% static 'img/logos/keudee.png' %}" alt="Kedaia" title="{{ WEBSITES.meta_information.title }}" />
                        </a>
            </div>
        </div>
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- MAIN NAVIGATION -->
                        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
                        <nav>
                            <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                                <li><a href="{% url 'index' %}">Beranda</a> </li>
                                <li><a>Tentang</a>
                                    <ul>
                                        
                                        <li><a href="{% url 'page' page='tentang.html' %}">Kedaia.com</a>
                                        </li>
                                        <li><a href="{% url 'page' page='syarat-dan-ketentuan-layanan.html' %}">Syarat dan Ketentuan Layanan</a>
                                        </li>

                                    </ul>
                                </li>

                                <li><a href="{% url 'blogs' %}">Blog</a></li>
                                <li><a href="{% url 'page' page='faq.html' %}">Faq</a></li>
                                <li><a href="{% url 'page' page='kontak.html' %}">Kontak</a></li>
                                        
                            </ul>
                        </nav>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                    <div class="col-md-6">
                        <!-- LOGIN REGISTER LINKS -->
                        <ul class="login-register">
                            {% if kedai %}
                            <li>
                                <a href="{% url 'profile' %}"><i class="fa fa-user"></i>Hi, {{ kedai.store_name }}</a>
                            </li>
                            <li>
                                <a href="{% url 'log_out' %}">
                                <i class="fa fa-sign-out"></i>Log Out</a>
                            </li>

                            {% else %}

                            <li>
                                <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}"><i class="fa fa-edit"></i>Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>


        <!-- SEARCH AREA -->
        <form action="{% url 'search' %}" method="GET" class="search-area form-group form-group search-area-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 clearfix">
                        <label><i class="fa fa-search"></i><span>Saya mencari</span>
                        </label>
                        <div class="search-area-division search-area-division-input">
                            <input name="q" {% if get_search %} value="{{ get_search }}" {% endif %}class="form-control" type="text" placeholder="Laptob" />
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <label><i class="fa fa-map-marker"></i><span>di</span>
                        </label>
                        <div class="search-area-division search-area-division-location">
                            <input class="form-control" type="text" placeholder="Banda Aceh" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <!-- //////////////////////////////////
	//////////////END MAIN HEADER////////// 
	////////////////////////////////////-->


        <!-- //////////////////////////////////
	//////////////PAGE CONTENT///////////// 
	////////////////////////////////////-->


        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <table class="table cart-table">
                        <p>DIJUAL OLEH <a href="#">Serba Agung</a></p>
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Produk</th>
                                <th>Banyak</th>
                                <th>Harga</th>
                                <th style="text-align:center;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cart-item-image">
                                    <a href="#">
                                        <img class="images" src="/home/fird0s/kedaia/kedaia/media/products/thumbnails/55b818b0fe546210784e9f7e/wuyaTRpyRN.jpg"/>
                                    </a>
                                </td>
                                <td><a href="#">Bubuk Kopi Ulee Kareng</a>
                                </td>
                                <td class="cart-item-quantity"><i class="fa fa-minus cart-item-minus"></i>
                                    <input type="text" name="cart-quantity" class="cart-quantity" value="3" /><i class="fa fa-plus cart-item-plus"></i>
                                </td>
                                <td>Rp. 90.000</td>
                                <td>
                                    <a href="{% url 'shopping_cart_confirmation' id='asdasd' %}" data-toggle="tooltip" title="Konfirmasi" class="btn btn-primary btn-mini fa fa-gear"> Konfirmasi</a>
                                    <a href="" onclick="return confirm('Yakin membatalkan?');" data-effect="mfp-move-from-top" data-id="" data-toggle="tooltip" title="Batalkan Pembelian" class="btn btn-danger btn-mini fa fa-trash-o popup-text delete-item"> Batal</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>	<!-- <a href="#" class="btn btn-primary">Update the cart</a> -->
                </div>
                
                <!-- <br>
                <div class="col-md-3">
                    <ul class="cart-total-list">
                        <li><span>Harga Satuan Produk</span><span>Rp. 30.000</span>
                        </li>
                        <li><span>Pengiriman</span><span>Rp. 15.000</span>
                        </li>
                        <li><span>Total</span><span>$500.00</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg">Lakukan Pembayaran</a>
                </div> -->
                
            </div>
            <div class="gap"></div>
        </div>
        {% endblock %}


        <!-- //////////////////////////////////
	//////////////END PAGE CONTENT///////// 
	////////////////////////////////////-->



        <!-- //////////////////////////////////
	//////////////MAIN FOOTER////////////// 
	////////////////////////////////////-->

         <footer class="main">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <a href="{% url 'index' %}">
                                <img style="width: 110px; margin-left: 0px;" src="{% static 'img/logos/keudee.png' %}" alt="{{ WEBSITES.meta_information.title }}" title="{{ WEBSITES.meta_information.title }}" class="logo">
                            </a>
                            <ul class="list list-social">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="{{ WEBSITES.social_media.facebook }}" target="blank" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="{{ WEBSITES.social_media.twitter }}" target="blank" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr box-icon" href="{{ WEBSITES.social_media.flickr }}" target="blank" data-toggle="tooltip" title="Flickr"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr box-icon" href="#" data-toggle="tooltip" title="Tumblr"></a>
                                </li>
                            </ul>
                            <p>{{ WEBSITES.meta_information.description }}</p>
                        </div>
                        <div class="col-md-3">
                            <h4>Berlangganan Berita</h4>
                            <div class="box">
                                <form>
                                    <div class="form-group mb10">
                                        <label>E-mail</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <p class="mb10">Dapatkan pemberitahuan otomatis, diskon, artikel dan banyak lagi.</p>

                                    <input type="submit" class="btn btn-primary" value="Berlangganan" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Informasi Umum</h4>
                            <li><a href="/page/tentang.html">Tentang Kami</a></li>
                            <li><a href="{% url 'confirmation' %}">Konfirmasi Pembayaran</a></li>
                            <li><a href="#">Kebijakan Privasi</a></li>
                             <li><a href="/page/syarat-dan-ketentuan-layanan.html">Syarat dan Ketentuan Layanan</a></li>
                             <li><a href="{% url 'blogs' %}">Blog dan Artikel</a></li>
                             <li><a href="/page/kontak.html">Layanan Kontak</a></li>
                             <li><a href="/page/faq.html">FAQ (Pertanyaan yang sering diajukan</a></li>
                        </div>
                        <div class="col-md-3">
                            <h4>Artikel Terbaru</h4>
                            <ul class="thumb-list">
                                {% for blogs in blogs %}
                                <li>
                                    <a href="{% url 'display_blog' slug=blogs.slug_url %}">
                                        <img src="{{ WEBSITES.upload.blog }}{{ blogs.image_thumbnail }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">{{ blogs.date_created | naturalday  }}</p>
                                        <h5 class="thumb-list-item-title">
                                            <a href="{% url 'display_blog' slug=blogs.slug_url %}" style="color: white;">{{ blogs.post_name }}
                                            </a>
                                        </h5>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>{{ WEBSITES.meta_information.copyright }}</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="pull-right">
                                <ul class="list-inline list-payment">
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-aceh.jpg" %}" alt="Bank Aceh" title="Bank Aceh" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bni.png" %}" alt="Bank BNI" title="Bank BNI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-mandiri.png" %}" alt="Bank Mandiri" title="Bank Mandiri" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/Bank-BRI.png" %}" alt="Bank BRI" title="Bank BRI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bca.jpg" %}" alt="Bank BCA" title="Bank BCA" />
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- //////////////////////////////////
	//////////////END MAIN  FOOTER///////// 
	////////////////////////////////////-->



        <!-- Scripts queries -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/boostrap.min.js" %}"></script>
        <script src="{% static "js/countdown.min.js" %}"></script>
        <script src="{% static "js/flexnav.min.js" %}"></script>
        <script src="{% static "js/magnific.js" %}"></script>
        <script src="{% static "js/tweet.min.js" %}"></script>
        <script src="{% static "js/fitvids.min.js" %}"></script>
        <script src="{% static "js/mail.min.js" %}"></script>
        <script src="{% static "js/ionrangeslider.js" %}"></script>
        <script src="{% static "js/icheck.js" %}"></script>
        <script src="{% static "js/fotorama.js" %}"></script>
        <script src="{% static "js/card-payment.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>
        <script src="{% static "js/masonry.js" %}"></script>
        <script src="{% static "js/nicescroll.js" %}"></script>
        <script src="{% static "library/icheck/icheck.js" %}"></script>
        <script src="{% static "library/ckeditor/ckeditor.js" %}"></script>
        <script src="{% static "library/bootstrap-fileinput/js/fileinput.min.js" %}"></script>
        <script src="{% static "library/carousel/owl-carousel/owl.carousel.min.js" %}"></script>
        <script src="{% static "library/bootstrap-tagsinput/src/bootstrap-tagsinput.js" %}"></script>

        <script type="text/javascript" src="{% static "library/Magnific-Popup/dist/jquery.magnific-popup.min.js" %}"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        
        <script src="{% static "js/mystyles.js" %}"></script>


        <!-- Custom scripts -->
        <script src="{% static "library/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>
    </div>
</body>

</html>
