{% load staticfiles %}
{% load humanize %}

<!DOCTYPE HTML>
<html>

<head>
    {% block meta %}
    <title>Blog | {{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->

    <!-- Facebook Meta -->
    <meta property="fb:app_id"       content="514632702050782" />
    <meta property="og:type"          content="ecommerce" />
    <meta property="og:title"         content="Blog | {{ WEBSITES.meta_information.title }}" />
    <meta property="og:description"   content="{{ WEBSITES.meta_information.description }}" />
    <meta property="og:image"         content="{{ request.META.HTTP_HOST }}{% static 'img/logos/keudee.png' %}" />


    {% endblock %}

    <!-- Google fonts -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/boostrap.css" %}" type="text/css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="{% static "css/font_awesome.css" %}">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

    <!-- pace -->
    <script src="{% static "library/pace/pace.min.js" %}"></script>
    <link href="{% static "library/pace/themes/blue/pace-theme-flash.css" %}" rel="stylesheet" />


    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logos/favicon.ico" />
    
    <style type="text/css">
    .product-thumb .product-title {
        font-size: 14px;
    }
    </style>
</head>

<body>


    <div class="global-wrap">


        <!-- //////////////////////////////////
	//////////////MAIN HEADER///////////// 
	////////////////////////////////////-->
        <div class="top-main-area text-center">
            <div class="container">
               <a href="{% url 'index' %}" class="">
                            <img style="width:130px; margin-left:10px;" src="{% static 'img/logos/keudee.png' %}" alt="Keudee" title="{{ WEBSITES.meta_information.title }}" />
                        </a>
            </div>
        </div>
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- MAIN NAVIGATION -->
                        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
                        <nav>
                           <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                                <li><a href="{% url 'index' %}">Beranda</a> </li>
                                <li><a>Tentang</a>
                                    <ul>
                                        
                                        <li><a href="{% url 'page' page='tentang.html' %}">Keudee.com</a>
                                        </li>
                                        <li><a href="{% url 'page' page='syarat-dan-ketentuan-layanan.html' %}">Syarat dan Ketentuan Layanan</a>
                                        </li>

                                    </ul>
                                </li>

                                <li><a href="{% url 'blogs' %}">Blog</a></li>
                                <li><a href="{% url 'page' page='faq.html' %}">Faq</a></li>
                                <li><a href="{% url 'page' page='kontak.html' %}">Kontak</a></li>
                                        
                            </ul>
                        </nav>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                    <div class="col-md-6">
                        <!-- LOGIN REGISTER LINKS -->
                        <ul class="login-register">
                            {% if kedai %}
                            <li>
                                <a href="{% url 'profile' %}"><i class="fa fa-user"></i>Hi, {{ kedai.store_name }}</a>
                            </li>
                            <li>
                                <a href="{% url 'log_out' %}">
                                <i class="fa fa-sign-out"></i>Log Out</a>
                            </li>

                            {% else %}

                            <li>
                                <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}"><i class="fa fa-edit"></i>Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        


        <!-- PAGE TITLE -->
        <!-- <div class="top-title-area">
			<div class="container">
				<h1 class="title-page"></h1>
			</div>
		</div> -->
        <!-- END PAGE TITLE -->

        <!-- SEARCH AREA -->
        <form action="{% url 'search' %}" method="GET" class="search-area form-group search-area-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 clearfix">
                        <label><i class="fa fa-search"></i><span>Saya mencari</span>
                        </label>
                        <div class="search-area-division search-area-division-input">
                            <input name="q" {% if get_search %} value="{{ get_search }}" {% endif %}class="form-control" type="text" placeholder="Laptob" />
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <label><i class="fa fa-map-marker"></i><span>di</span>
                        </label>
                        <div class="search-area-division search-area-division-location">
                            <input class="form-control" type="text" placeholder="Banda Aceh" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <!-- //////////////////////////////////
	//////////////END MAIN HEADER////////// 
	////////////////////////////////////-->


        <!-- //////////////////////////////////
	//////////////PAGE CONTENT///////////// 
	////////////////////////////////////-->


        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <!-- BLOG POST -->
                    
                    {% for blogs in blogs %}
                    
                    <article class="post">
                        <header class="post-header">
                            <!-- HOVER IMAGE -->
                            <a class="hover-img" href="{% url 'display_blog' slug=blogs.slug_url %}">
                                <img style="height:400px" src="{{ WEBSITES.upload.blog }}{{ blogs.image_thumbnail }}" />
                                <i class="fa fa-link hover-icon"></i>
                            </a>
                        </header>
                        <div class="post-inner">
                            <h4 class="post-title"><a href="{% url 'display_blog' slug=blogs.slug_url %}">{{ blogs.post_name }}</a></h4>
                            
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">{{ blogs.date_created | date:"d M, Y"  }}</a>
                                </li>
                                </li>
                                <li><i class="fa fa-user"></i><a href="#">Firdaus</a>
                                </li>
                                <li><i class="fa fa-tags"></i><a href="#"> Ecommerce, Bisnis Aceh</a>, <a href="#">Digital</a>
                                </li>
                                <li><i class="fa fa-comments"></i><a href="#">2 Comments</a>
                                </li>

                            </ul>
                            
                            <p class="post-desciption">
                                {{ blogs.content | safe | truncatechars:1000 |striptags}}
                            </p>

                            <a class="btn btn-small btn-primary" href="{% url 'display_blog' slug=blogs.slug_url %}">Baca Selengkapnya ...</a>

                        </div>
                    </article>
                    
                    {% endfor %}

                    {% if paginator.num_pages > 1%}         
                     <ul class="pagination">

                        {% if blogs.has_previous %}
                        <li class="prev">
                            <a href="?page={{ blogs.previous_page_number }}"></a>
                        </li>
                        {% endif %}

                        {% for page_range in paginator.page_range %}
                        <li {% if blogs.number  == page_range  %} class="active"{% endif %}><a href="?page={{ page_range }}">{{ page_range }}</a></li> 
                        {% endfor %}
                        

                        {% if blogs.has_next %}
                        <li class="next">
                            <a href="?page={{ blogs.next_page_number }}"></a>
                        </li>
                        {% endif %}
                    </ul>
                        {% endif %}
                    
                    
                    <div class="gap"></div>
                </div>
                <div class="col-md-3">
                    <aside class="sidebar-right hidden-phone">
                        <div class="sidebar-box">
                            <h5>Halaman Penting</h5>
                            <ul class="icon-list blog-category-list">
                                
                                <li>
                                    <a href="{% url 'page' page='tentang.html' %}">
                                        <i class="fa fa-angle-right"></i>Tentang Keudee.com
                                    </a>
                                </li>
                            
                                <li>
                                    <a href="{% url 'page' page='faq.html' %}">
                                        <i class="fa fa-angle-right"></i>Faq (Pertanyaan yang sering diajukan)
                                    </a>
                                </li>
                            
                                <li>
                                    <a href="{% url 'page' page='kontak.html' %}">
                                        <i class="fa fa-angle-right"></i>Kontak
                                    </a>
                                </li>
                            
                                <li>
                                    <a href="{% url 'page' page='syarat-dan-ketentuan-layanan.html' %}">
                                        <i class="fa fa-angle-right"></i>Syarat dan Ketentuan Layanan
                                    </a>
                                </li>
                                
                            </ul>
                        </div>


                        <div class="sidebar-box">
                            <h5>Artikel Terbaru</h5>
                            <ul class="thumb-list">
                                {% for blogs in blogs %}

                                <li>
                                    <a href="{% url 'display_blog' slug=blogs.slug_url %}">
                                        <img src="{{ WEBSITES.upload.blog }}{{ blogs.image_thumbnail }}" title="{{blogs.post_name}}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="{% url 'display_blog' slug=blogs.slug_url %}">{{blogs.post_name}}</a></h5>
                                        <!-- <p class="thumb-list-item-meta">{{ blogs.date_created | naturalday  }}</p> -->

                                    </div>
                                </li>
                                {% endfor %}

                                
                                
                            </ul>
                        </div>

                         <div class="sidebar-box">
                            <h5>Popular Tags</h5>
                            <ul class="tags-list">
                                <li><a href="#">Ecommerce</a>
                                </li>
                                <li><a href="#">Bisnis Aceh</a>
                                </li>
                                <li><a href="#">Online Shop</a>
                                </li>
                                <li><a href="#">Diskon</a>
                                </li>
                                <li><a href="#">Tip dan Trik</a>
                                </li>
                            </ul>
                        </div>


                        <div class="sidebar-box">
                            <h5>Produk Popular</h5>
                            <ul class="thumb-list">
                                {% for popular_products in popular_products %}
                                <li>
                                    <a href="{% url 'display_product' slug=popular_products.slug_url %}">
                                        <img src="{{WEBSITES.upload.product}}{{ popular_products.kedai.id }}/{{ popular_products.images.0 }}"  />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                        <a href="{% url 'display_product' slug=popular_products.slug_url %}">{{ popular_products.product_name }}</a>
                                        </h5>
                                        <p>Rp. {{ popular_products.price | intcomma }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>


                        <div class="sidebar-box">
                            <h5>Komentar Terbaru</h5>
                            <ul class="thumb-list thumb-list-right">
                                <li>
                                    <a href="#">
                                        <img src="img/50x50.png" alt="Image Alternative text" title="Gamer Chick" class="rounded" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">5 hari lalu</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Dr. Nazamuddin, MA</a></h5>
                                        <p class="thumb-list-item-desciption">Wah, Semakin Maju ya</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/50x50.png" alt="Image Alternative text" title="Ana 29" class="rounded" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">8 hari lalu</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Mirza Tabrani, MBA</a></h5>
                                        <p class="thumb-list-item-desciption">Adanya keudee.com membuat para pengusaha muda lebih banyak lagi.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </aside>


                </div>
            </div>

        </div>

        {% endblock %}

        <!-- //////////////////////////////////
	//////////////END PAGE CONTENT///////// 
	////////////////////////////////////-->



        <!-- //////////////////////////////////
	//////////////MAIN FOOTER////////////// 
	////////////////////////////////////-->

        <!-- MAIN FOOTER -->
        <script src="/static/js/jquery.js"></script>

</script>
<footer class="main">

            <div class="footer-top-area">
                <div class="container">
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <a href="{% url 'index' %}">
                                <img style="width: 110px; margin-left: 0px;" src="{% static 'img/logos/keudee.png' %}" alt="{{ WEBSITES.meta_information.title }}" title="{{ WEBSITES.meta_information.title }}" class="logo">
                            </a>
                            <ul class="list list-social">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="{{ WEBSITES.social_media.facebook }}" target="blank" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="{{ WEBSITES.social_media.twitter }}" target="blank" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr box-icon" href="{{ WEBSITES.social_media.flickr }}" target="blank" data-toggle="tooltip" title="Flickr"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr box-icon" href="#" data-toggle="tooltip" title="Tumblr"></a>
                                </li>
                                
                            </ul>
                            
                            <p>{{ WEBSITES.meta_information.description }}</p>
                        </div>
                        <div class="col-md-3">
                            <h4>Berlangganan Berita</h4>
                            <div class="box">
                                    <div class="form-group mb10">
                                        <label>E-mail</label>
                                        <input type="text" id="subscriber-email" class="form-control" />
                                    </div>
                                    <p class="mb10">Dapatkan pemberitahuan otomatis, diskon, artikel dan banyak lagi.</p>


                                    <a id="subscriber-button" class="btn btn-primary">Daftar</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Informasi Umum</h4>
                            <li><a href="/page/tentang.html">Tentang Kami</a></li>
                            <li><a href="{% url 'confirmation' %}">Konfirmasi Pembayaran</a></li>
                            <li><a href="#">Kebijakan Privasi</a></li>
                             <li><a href="/page/syarat-dan-ketentuan-layanan.html">Syarat dan Ketentuan Layanan</a></li>
                             <li><a href="{% url 'blogs' %}">Blog dan Artikel</a></li>
                             <li><a href="/page/kontak.html">Layanan Kontak</a></li>
                             <li><a href="/page/faq.html">FAQ (Pertanyaan yang sering diajukan</a></li>
                        </div>
                        <div class="col-md-3">
                            <h4>Artikel Terbaru</h4>
                            <ul class="thumb-list blogpost">
                                {% for blogs in blogs %}
                                <li>
                                    <a href="#">
                                        <img src="{{ WEBSITES.upload.blog }}{{ blogs.image_thumbnail }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                            <a href="{% url 'display_blog' slug=blogs.slug_url %}" style="color: white;">{{ blogs.post_name }}
                                            </a>
                                        </h5>
                                        <p class="thumb-list-item-meta">{{ blogs.date_created | naturalday  }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>{{ WEBSITES.meta_information.copyright }}</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="pull-right">
                                <ul class="list-inline list-payment">
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-aceh.jpg" %}" alt="Bank Aceh" title="Bank Aceh" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bni.png" %}" alt="Bank BNI" title="Bank BNI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-mandiri.png" %}" alt="Bank Mandiri" title="Bank Mandiri" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/Bank-BRI.png" %}" alt="Bank BRI" title="Bank BRI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bca.jpg" %}" alt="Bank BCA" title="Bank BCA" />
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


    	<!-- END FOOTER -->
        <!-- //////////////////////////////////
	//////////////END MAIN  FOOTER///////// 
	////////////////////////////////////-->



       <!-- Scripts queries -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/boostrap.min.js" %}"></script>
        <script src="{% static "js/countdown.min.js" %}"></script>
        <script src="{% static "js/flexnav.min.js" %}"></script>
        <script src="{% static "js/magnific.js" %}"></script>
        <script src="{% static "js/tweet.min.js" %}"></script>
        <script src="{% static "js/fitvids.min.js" %}"></script>
        <script src="{% static "js/mail.min.js" %}"></script>
        <script src="{% static "js/ionrangeslider.js" %}"></script>
        <script src="{% static "js/icheck.js" %}"></script>
        <script src="{% static "js/fotorama.js" %}"></script>
        <script src="{% static "js/card-payment.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>
        <script src="{% static "js/masonry.js" %}"></script>
        <script src="{% static "js/nicescroll.js" %}"></script>

        <!-- Custom scripts -->
        <script src="{% static "js/custom.js" %}"></script>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '514632702050782',
              xfbml      : true,
              version    : 'v2.5'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/id_ID/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>

    </div>
</body>

</html>