{% extends 'blog/blogs.html' %}
{% load staticfiles %}

{% load humanize %}
{% block meta %}
    <title>{{show_blog.post_name}} | {{ WEBSITES.meta_information.title }} </title>
    <!-- meta info -->

    <!-- Facebook Meta -->
    <meta property="fb:app_id"       content="514632702050782" />
    <meta property="og:type"          content="ecommerce" />
    <meta property="og:title"         content="{{show_blog.post_name}} | {{ WEBSITES.meta_information.title }}" />
    <meta property="og:description"   content="{{ WEBSITES.meta_information.description }}" />
    <meta property="og:image"         content="{{ request.META.HTTP_HOST }}{{ WEBSITES.upload.blog }}{{ show_blog.image_thumbnail }}" />

{% endblock %}

 {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <!-- BLOG POST -->
                    
                    <article class="post">

    <header class="post-header">
        <!-- HOVER IMAGE -->
        <img style="height:400px" src="{{ WEBSITES.upload.blog }}{{ show_blog.image_thumbnail }}" />
    </header>

    <div class="post-inner">
        <h4 class="post-title">{{ show_blog.post_name }}</h4>

        <ul class="post-meta">
            <li>
                <i class="fa fa-calendar"></i>
                {{ show_blog.date_created | date:"d M Y"  }}
            </li>
            <li><i class="fa fa-comments"></i>
                <span class="fb-comments-count"></span> komentar
            </li>
            
        </ul>

        <div class="gap gap-mini"></div>

        <p>
        {{ show_blog.content | safe }}
        </p>
        
    </div>
</article>
        <h3 class="mb20">Komentar</h3>
            <div class="fb-comments" mobile="auto-detect" data-numposts="5" data-width="100%"></div>    
        <div class="gap"></div>
                </div>
                <div class="col-md-3">
                    <aside class="sidebar-right hidden-phone">
                        <div class="sidebar-box">
                            <h5>Halaman Penting</h5>
                            <ul class="icon-list blog-category-list">
                                
                                 <li>
                                    <a href="{% url 'page' page='tentang.html' %}">
                                        <i class="fa fa-angle-right"></i>Tentang kedaia.com
                                    </a>
                                </li>
                            
                                <li>
                                    <a href="{% url 'page' page='faq.html' %}">
                                        <i class="fa fa-angle-right"></i>Faq (Pertanyaan yang sering diajukan)
                                    </a>
                                </li>
                            
                                <li>
                                    <a href="{% url 'page' page='kontak.html' %}">
                                        <i class="fa fa-angle-right"></i>Kontak
                                    </a>
                                </li>
                            
                                <li>
                                    <a href="{% url 'page' page='syarat-dan-ketentuan-layanan.html' %}">
                                        <i class="fa fa-angle-right"></i>Syarat dan Ketentuan Layanan
                                    </a>
                                </li>
                                
                            </ul>
                        </div>


                        <div class="sidebar-box">
                            <h4>Artikel Terbaru</h4>
                            <ul class="thumb-list blogpost">
                                {% for blogs in blogs %}
                                <li>
                                    <a href="#">
                                        <img src="{{ WEBSITES.upload.blog }}{{ blogs.image_thumbnail }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                            <a href="{% url 'display_blog' slug=blogs.slug_url %}">{{ blogs.post_name }}
                                            </a>
                                        </h5>
                                        <p class="thumb-list-item-meta">{{ blogs.date_created | naturalday  }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="sidebar-box">
                            <h5>Produk Popular</h5>
                            <ul class="thumb-list">
                                {% for popular_products in popular_products %}
                                <li>
                                    <a href="{% url 'display_product' slug=popular_products.slug_url %}">
                                        <img src="{{WEBSITES.upload.product}}{{ popular_products.kedai.id }}/{{ popular_products.images.0 }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                        <a href="{% url 'display_product' slug=popular_products.slug_url %}">{{ popular_products.product_name }}</a>
                                        </h5>
                                        <p>Rp. {{ popular_products.price | intcomma }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        

                    </aside>


                </div>
            </div>

        </div>

        {% endblock %}