{% load staticfiles %}
{% load humanize %}
{% load custom_tag %}
<!DOCTYPE HTML>
<html>

<head>
    <title>{{ product.product_name }} | {{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="{{ product.product_name.split|join:", " }}" />
    <meta name="description" content="{{ product.information |striptags }}">
    <meta name="author" content="{{ product.kedai.store_name }}, {{ product.kedai.author.full_name }} ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

    <!-- Facebook Meta -->
    <meta property="fb:app_id"       content="514632702050782" />
    <meta property="og:type"          content="ecommerce" />
    <meta property="og:title"         content="{{ product.product_name }} - {{ WEBSITES.meta_information.title }}" />
    <meta property="og:description"   content="{{ product.information | striptags | truncatewords:20 }}" />
    <meta property="og:image"         content="{{ request.META.HTTP_HOST }}{{WEBSITES.upload.product}}{{product.kedai.id}}/{{ product.images.0 }}" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@keudee">
    <meta name="twitter:creator" content="@keudee">
    <meta name="twitter:title" content="{{ product.product_name }} - Keudee.com">
    <meta name="twitter:image" content="{{ request.META.HTTP_HOST }}{{WEBSITES.upload.product}}{{product.kedai.id}}/{{ product.images.0 }}">
    <meta name="twitter:label1" content="{{ product.category.category_name }}">
    <meta name="twitter:data1" content="Kategori">
    <meta name="twitter:label2" content="Rp. {{ product.price | intcomma }}">
    <meta name="twitter:data2" content="Harga">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/boostrap.css" %}" type="text/css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="{% static "css/font_awesome.css" %}">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

    <!-- pace -->
    <script src="{% static "library/pace/pace.min.js" %}"></script>
    <link href="{% static "library/pace/themes/blue/pace-theme-flash.css" %}" rel="stylesheet" />

    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logos/favicon.ico" />

    <style type="text/css">
        .product-info-price {
            font-size: 23px;
        }
        .sidebar-left {
            margin-right : 0px;
        }

        .tabbable >.nav {
            border-radius: 5px 5px 0px 0px;
            border: 0px solid #d9d9d9;
            background: white;
            border-bottom: 1px solid #d9d9d9;
        }

        .tabbable .tab-content {
            border: 1px solid white; 
        }
    </style>

</head>


<body>


    <div class="global-wrap">


        <!-- //////////////////////////////////
	//////////////MAIN HEADER///////////// 
	////////////////////////////////////-->
        <div class="top-main-area text-center">
            <div class="container">
                <a href="{% url 'index' %}" class="logo mt5">
                            <img style="width: 130px;" src="{% static 'img/logos/keudee.png' %}" alt="Keudee" title="{{ WEBSITES.meta_information.title }}" />
                 </a>
            </div>
        </div>
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- MAIN NAVIGATION -->
                        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
                        <nav>
                            <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                                <li><a href="{% url 'index' %}">Beranda</a> </li>
                                <li><a>Tentang</a>
                                    <ul>
                                        
                                        <li><a href="{% url 'page' page='tentang.html' %}">Keudee.com</a>
                                        </li>
                                        <li><a href="{% url 'page' page='syarat-dan-ketentuan-layanan.html' %}">Syarat dan Ketentuan Layanan</a>
                                        </li>

                                    </ul>
                                </li>

                                <li><a href="{% url 'blogs' %}">Blog</a></li>
                                <li><a href="{% url 'page' page='faq.html' %}">Faq</a></li>
                                <li><a href="{% url 'page' page='kontak.html' %}">Kontak</a></li>
                                        
                            </ul>
                        </nav>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                    <div class="col-md-6">
                        <!-- LOGIN REGISTER LINKS -->
                        <ul class="login-register">
                            {% if kedai %}
                            <li>
                                <a href="{% url 'profile' %}"><i class="fa fa-user"></i>Hi, {{ kedai.store_name }}</a>
                            </li>
                            <li>
                                <a href="{% url 'log_out' %}">
                                <i class="fa fa-sign-out"></i>Log Out</a>
                            </li>

                            {% else %}

                            <li>
                                <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}"><i class="fa fa-edit"></i>Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>

    

        <!-- SEARCH AREA -->
        <form action="{% url 'search' %}" method="GET" class="search-area form-group search-area-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 clearfix">
                        <label><i class="fa fa-search"></i><span>Saya mencari</span>
                        </label>
                        <div class="search-area-division search-area-division-input">
                            <input name="q" {% if get_search %} value="{{ get_search }}" {% endif %}class="form-control" type="text" placeholder="Laptop" />
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <label><i class="fa fa-map-marker"></i><span>di</span>
                        </label>
                        <div class="search-area-division search-area-division-location">
                            <input class="form-control" type="text" placeholder="Banda Aceh" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <!-- //////////////////////////////////
	//////////////END MAIN HEADER////////// 
	////////////////////////////////////-->


        <!-- //////////////////////////////////
	//////////////PAGE CONTENT///////////// 
	////////////////////////////////////-->



        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                        <div class="sidebar-box">
                            <h5>Produk Sejenis</h5>
                            <ul class="thumb-list">
                                {% for recommend_products in recommend_products %}
                                <li>
                                    <a href="{% url 'display_product' slug=recommend_products.slug_url %}">
                                        <img src="{{WEBSITES.upload.product_thumbnails}}{{recommend_products.kedai.id}}/{{ recommend_products.images.0 }}" alt="{{ recommend_products.product_name }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                        <a href="{% url 'display_product' slug=recommend_products.slug_url %}">{{ recommend_products.product_name }}</a>
                                        </h5>
                                        <p>Rp. {{ recommend_products.price | intcomma }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="sidebar-box">
                            <h5>Produk Terkenal</h5>
                            <ul class="thumb-list">
                                {% for popular_products in popular_products %}
                                <li>
                                    <a href="{% url 'display_product' slug=popular_products.slug_url %}">
                                        <img src="{{WEBSITES.upload.product_thumbnails}}{{popular_products.kedai.id}}/{{ popular_products.images.0 }}" alt="{{ popular_products.product_name }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                        <a href="{% url 'display_product' slug=popular_products.slug_url %}">{{ popular_products.product_name }}</a>
                                        </h5>
                                        <p>Rp. {{ popular_products.price | intcomma }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div id="review-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
                        <h3>Add a Review</h3>
                        <form>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" placeholder="e.g. John Doe" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="text" placeholder="e.g. jogndoe@gmail.com" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Review</label>
                                <textarea class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Rating</label>
                                <ul class="icon-list icon-list-inline star-rating" id="star-rating">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="fotorama"   data-keyboard="true" data-transition="crossfade" data-thumbwidth="60" data-autoplay="4000" data-thumbheight="60" data-width="100%" data-maxheight="500" data-hash="false" data-nav="thumbs" data-allowfullscreen="1" data-thumbheight="100" data-thumbwidth="100">
                                {% for file_img in product.images %}
                               <img src="{{WEBSITES.upload.product}}{{ file_img }}" href="{{WEBSITES.upload.product}}{{product.kedai.id}}/{{ file_img }}">  
                             {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-5">

                            <div class="product-info box">
                                <h3>{{ product.product_name }}</h3>
                                <p class="product-info-price" style="letter-spacing: -1px; ">Rp. {{ product.price | intcomma}}</p>
                                <ul class="list-inline">
                                    {% if product.condition %}
                                    <li>
                                        <i class="fa fa-star fa-fw"></i> Baru
                                    </li>
                                    {% else %}
                                    <li>
                                        <i class="fa fa-star fa-fw"></i> Bekas
                                    </li>
                                    {% endif %}
                                    <li>
                                        <i class="fa fa-map-marker fa-fw"></i> {{ product.kedai.region.region }}
                                    </li><br>
                                </ul>
                                {% if owner_product %}
                                <a href="#buy-dialog" class="btn btn-small btn-info popup-text" data-effect="mfp-move-from-top" style="width:100%;"><i style="font-size: 17px;" class="fa fa-shopping-cart fa-fw"></i> BELI</a>
                                {% else %}
                                <a href="#buy-dialog" class="btn btn-small btn-info popup-text" data-effect="mfp-move-from-top" style="width:100%;">BELI</a>
                                {% endif %}

                            </div>

                            <div class="gap gap-mini"></div>

                            <div class="product-info" style="margin-left:-30px;">
                                <ul class="product-share">
                                    <li><b>Bagikan : </b> </li>
                                    <li>
                                        <a class="fa fa-facebook" target="_blank" onclick="window.open('https://facebook.com/sharer/sharer.php?u={{ request.META.HTTP_HOST  }}{{ request.get_full_path }}','_blank','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no, scrollbars=yes, resizable=yes, width=800, height=600');"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-twitter" target="_blank" onclick="window.open('https://twitter.com/home?status={{ product.product_name }} - {{ request.META.HTTP_HOST  }}{{ request.get_full_path }}','_blank','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no, scrollbars=yes, resizable=yes, width=800, height=600');"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-google-plus" ></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-pinterest" ></a>
                                    </li>
                                </ul>
                            </div>

                            <!-- POPUP BELI -->


                            <!-- LOGIN REGISTER LINKS CONTENT -->
                            <div id="buy-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix container">
                                <i class="fa fa-sign-in dialog-icon"></i>
                                <h3>Keranjang Belanja</h3>
                                
                                <form class="dialog-form" method="POST" action="/login_ajax">
                                
                                <div class="row">
                                    <div class="col-md-3">  
                                        <img class="cart-item-image" src="{{WEBSITES.upload.product_thumbnails}}{{product.kedai.id}}/{{ product.images.0 }}">
                                    </div>
                                    <div class="col-md-9">
                                         
                                          <div class="thumb-list-item-caption">
                                            <h5 class="thumb-list-item-title">{{ product.product_name }}</h5>
                                            </h5>
                                            <p>@ Rp. {{ product.price | intcomma }}</p>
                                        </div>
                                    </div>

                                    <div class="gap gap-mini"></div>
                                    <hr style="margin-left: 13px; margin-right: 13px; margin-top: -3px;">


                                   
                                    <dl class="dl-horizontal" style="margin-left: 13px; 
                                    margin-right: 13px;">

                                     <dt style="text-align:left;">Penjual</dt>
                                      <dd class="text-success" style="text-align:right;">
                                          <a target="blank" href="{% url 'author' slug_url=product.kedai.store_url_slug %}">{{ product.kedai.store_name }}</a>
                                      </dd>
                                      <br>


                                      <dt style="text-align:left; padding-top: 5px;">Jumlah Produk</dt>
                                          <div class="text-right">
                                          <select  name="quantity" class="form-control selectpicker show-tick quantity_product" data-live-search="true" >
                                          {% for i in 3|get_range %}
                                            <option value={{ i }}>{{ i }}</option>
                                          {% endfor %}  
                                          </select>

                                          <!-- <input type="number" data-price="{{ product.price }}" style="width:50px;" max="{{ product.quantity }}" min="1" value="1" class="form-group quantity_product" > -->
                                          </div>
                                      

                                      <dt style="text-align:left;">Biaya Kirim</dt>
                                      <dd class="text-success" style="text-align:right;">Belum termasuk</dd>
                                      <br>

                                      <dt style="text-align:left; padding-top: 5px;">Total Harga Produk</dt>
                                      <dd style="text-align:right;" class="">
                                          <div class="input-group">
                                              <div class="input-group-addon">Rp.</div>
                                                <input class="form-control price_result" name="price_product" maxlength="50" value="{{ product.price | intcomma }}" type="text" readonly="">
                                              </div>
                                      </dd>

                                      
                                    </dl>
                                    <hr style="margin-left: 13px; margin-right: 13px;">


                                </div>


                                    <a href="{% url 'shopping_cart_confirmation' id=product.id %}" value="Masuk" class="btn btn-primary"> Lanjut ke Pembayaran <i class="fa fa-chevron-right"></i></a>
                                                                    

                                    <ul class="dialog-alt-links">
                                      <li><a href="#">Tambah Barang Lain</a></li>
                                    </ul>

                                
                                </form>
                            </div>
                            <div class="product-info box">
                                <h5><b>PENJUAL</b></h5>
                                            <div style="text-align:center;">
                                            {% if product.kedai.logo_image %}
                                            <img style="margin-top: 2px;width: 100px; height: 80px; border:1px solid gray;" src="{{WEBSITES.upload.photo_profile}}{{ product.kedai.logo_image}}" class="img-circle img-rounded">
                                            {% else %}
                                            <img style="width: 100px; height: 80px; " src="{% static 'img/no-avatar.gif' %}" class="img-circle img-rounded">
                                            {% endif %}
                                    
                                        <h3 class="show-product-brand-name" style="margin-top:5px;">
                                            <a href="{% url 'author' slug_url=product.kedai.store_url_slug %}" style="text-decoration:underline;">{{ product.kedai.store_name }}
                                            </a>
                                        </h3>    

                                        <ul class="list-inline" style="margin-top: 5px;">
                                            <li><i class="fa fa-map-marker fa-fw"></i> {{ product.kedai.region.region }}</li>
                                            <li><i class="fa fa-phone fa-fw"></i> {{ product.kedai.phone_number }}</li>
                                        </ul>

                                        </div>

                                    
                                
                                <ul class="list-inline" style="margin-top: 3px; text-align:center;">
                                    <li><small>Bergabung Sejak <b> {{ product.kedai.author.date_joined | date:"d M, y" }}</b>.</small></li><br>
                                    <li><small>Terakhir Online  <b>{{ product.kedai.author.last_login | naturalday }}</b></small>.</li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="" style="width:100%;" class="btn btn-success btn-small">14 FEEDBACK </a>
                                    </div>   
                                    <div class="col-md-6"> 
                                        <a href="" style="width:100%;" class="btn btn-default btn-small"><i class="fa fa-fw fa-envelope-o" style="color: red;"> </i> KIRIM PESAN </a>
                                    </div>    
                                </div> 
                            </div> 

                            <div class="gap gap-mini"></div>
                            
                        </div>
                    </div>
                    <div class="gap gap-mini"></div>
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-pencil"></i>Informasi Produk </a>
                            </li>

                            <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-truck"></i>Pengiriman dan Pembayaran</a>
                            </li>

                            <li><a href="#tab-4" data-toggle="tab"><i class="fa fa-comment"></i>Diskusi Produk</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-1">
                                {{ product.information | safe }}
                            </div>
                            <div class="tab-pane fade" id="tab-3">
                            {% if product.shipping_and_payment %}
                               {{ product.shipping_and_payment | safe }}
                            {% else %}   
                                {{ product.kedai.pengiriman_pembayaran | safe }}
                            {% endif %}
                            </div>

                            <div class="tab-pane fade" id="tab-4">
                            <div class="fb-comments" mobile="auto-detect" data-numposts="5" data-width="100%"></div>    
                            </div>
                        </div>
                    </div>
                    <div class="gap gap-small"></div>
                </div>
            </div>

        </div>


        <!-- //////////////////////////////////
	//////////////END PAGE CONTENT///////// 
	////////////////////////////////////-->



        <!-- //////////////////////////////////
	//////////////MAIN FOOTER////////////// 
	////////////////////////////////////-->

        <footer class="main">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <a href="{% url 'index' %}">
                                <img style="width: 110px; margin-left: 0px;" src="{% static 'img/logos/keudee.png' %}" alt="{{ WEBSITES.meta_information.title }}" title="{{ WEBSITES.meta_information.title }}" class="logo">
                            </a>
                            <ul class="list list-social">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="{{ WEBSITES.social_media.facebook }}" target="blank" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="{{ WEBSITES.social_media.twitter }}" target="blank" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr box-icon" href="{{ WEBSITES.social_media.flickr }}" target="blank" data-toggle="tooltip" title="Flickr"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr box-icon" href="#" data-toggle="tooltip" title="Tumblr"></a>
                                </li>
                            </ul>
                            <p>{{ WEBSITES.meta_information.description }}</p>
                        </div>
                        <div class="col-md-3">
                            <h4>Berlangganan Berita</h4>
                            <div class="box">
                                <form>
                                    <div class="form-group mb10">
                                        <label>E-mail</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <p class="mb10">Anda akan mendapatkan email promo dan informasi penting lainnya.</p>
                                    <input type="submit" class="btn btn-primary" value="Berlangaanan" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Informasi Umum</h4>
                            <li><a href="/page/tentang.html">Tentang Kami</a></li>
                            <li><a href="{% url 'confirmation' %}">Konfirmasi Pembayaran</a></li>
                            <li><a href="#">Kebijakan Privasi</a></li>
                             <li><a href="/page/syarat-dan-ketentuan-layanan.html">Syarat dan Ketentuan Layanan</a></li>
                             <li><a href="{% url 'blogs' %}">Blog dan Artikel</a></li>
                             <li><a href="/page/kontak.html">Layanan Kontak</a></li>
                             <li><a href="/page/faq.html">FAQ (Pertanyaan yang sering diajukan</a></li>
                        </div>
                        <div class="col-md-3">
                            <h4>Artikel Terbaru</h4>
                            <ul class="thumb-list">
                               {% for blogs in blogs %}
                                <li>
                                    <a href="#">
                                        <img src="{{ WEBSITES.upload.blog }}{{ blogs.image_thumbnail }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title">
                                            <a href="{% url 'display_blog' slug=blogs.slug_url %}" style="color: white;">{{ blogs.post_name }}
                                            </a>
                                        </h5>
                                        <p class="thumb-list-item-meta">{{ blogs.date_created | naturalday  }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>{{ WEBSITES.meta_information.copyright }}</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="pull-right">
                                <ul class="list-inline list-payment">
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-aceh.jpg" %}" alt="Bank Aceh" title="Bank Aceh" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bni.png" %}" alt="Bank BNI" title="Bank BNI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-mandiri.png" %}" alt="Bank Mandiri" title="Bank Mandiri" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/Bank-BRI.png" %}" alt="Bank BRI" title="Bank BRI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bca.jpg" %}" alt="Bank BCA" title="Bank BCA" />
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //////////////////////////////////
	//////////////END MAIN  FOOTER///////// 
	////////////////////////////////////-->



        <!-- Scripts queries -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/boostrap.min.js" %}"></script>
        <script src="{% static "js/countdown.min.js" %}"></script>
        <script src="{% static "js/flexnav.min.js" %}"></script>
        <script src="{% static "js/magnific.js" %}"></script>
        <script src="{% static "js/tweet.min.js" %}"></script>
        <script src="{% static "js/fitvids.min.js" %}"></script>
        <script src="{% static "js/mail.min.js" %}"></script>
        <script src="{% static "js/ionrangeslider.js" %}"></script>
        <script src="{% static "js/icheck.js" %}"></script>
        <script src="{% static "js/fotorama.js" %}"></script>
        <script src="{% static "js/card-payment.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>
        <script src="{% static "js/masonry.js" %}"></script>
        <script src="{% static "js/nicescroll.js" %}"></script>

        <!-- Custom scripts -->
        <script src="{% static "js/custom.js" %}"></script>
        <script src="{% static "js/mystyles.js" %}"></script>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '514632702050782',
              xfbml      : true,
              version    : 'v2.5'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/id_ID/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
    </div>
</body>

</html>
