{% extends 'login.html' %}
{% block meta %}
    <title>{{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
    
{% endblock %}

{% block side_menu %}
<li>
	<a href="{% url 'login' %}">Login</a>
</li>
<li>
	<a href="{% url 'register' %}">Register</a>
</li>
{% endblock %}

{% block form %}
						<div class="col-md-7">
							<form action="{% url 'email_confirmation' %}" method="POST">
				                <div class="form-group">
				                    <label>Ketik Email Anda </label>
				                    <input type="email" name="email" class="form-control" required>
				                </div>
				                 <input type="submit" value="Konfirmasi Email" class="btn btn-primary">

                            </form>
                         </div>   
                            {% endblock %}