{% extends 'login.html' %}
{% block meta %}
    <title>Forgot Password | {{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="{{ WEBSITES.meta_information.keywords }}" />
    <meta name="description" content="{{ WEBSITES.meta_information.description }}">
    <meta name="author" content="{{ WEBSITES.meta_information.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block side_menu %}
<li>
	<a href="{% url 'login' %}">Login</a>
</li>
<li>
	<a href="{% url 'register' %}">Register</a>
</li>
<li class="active">
	<a href="{% url 'forgot_password' %}">Lupa Password</a>
</li>

{% endblock %}

{% block form %}
						<div class="col-md-7">
							<form action="{% url 'forgot_password' %}" method="POST">
								<h3>Password Recovery</h3>
          						  <h5>Lupa Password? isi email dan kami akan membantunya. </h5>
          						  <hr>
				                <div class="form-group">
				                    <label>Email </label>
				                    <input type="email" name="email" class="form-control" required>
				                </div>
				                 <input type="submit" value="Minta Password" class="btn btn-primary">

                            </form>
                         </div>   
                            {% endblock %}