{% load staticfiles %}
{% load humanize %}
<!DOCTYPE HTML>
<html>

<head>
    {% block meta %}
    <title>{{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="{{ WEBSITES.meta_information.keywords }}" />
    <meta name="description" content="{{ WEBSITES.meta_information.description }}">
    <meta name="author" content="{{ WEBSITES.meta_information.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/boostrap.css" %}" type="text/css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="{% static "css/font_awesome.css" %}">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->

    <!-- pace -->
    <script src="{% static "library/pace/pace.min.js" %}"></script>
    <link href="{% static "library/pace/themes/blue/pace-theme-flash.css" %}" rel="stylesheet" />
    
    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logos/favicon.ico" />

    <style type="text/css">
        .btn--block {
display: block;
text-align: center;
width: 100%;}
    .line-through {
border-top: 1px solid #DDDDDD;
margin: 20px 0;
position: relative;
text-align: center;
}
.line-through span {
background: #f2f2f2;
padding: 0 10px;}

.muted {
color: #999999;
}
.line-through p {
position: absolute;
text-align: center;
top: -13px;
width: 100%;}
    </style>
</head>


<body>


    <div class="global-wrap">


        <!-- //////////////////////////////////
	//////////////MAIN HEADER///////////// 
	////////////////////////////////////-->
        <div class="top-main-area text-center">
            <div class="container">
                <a href="{% url 'index' %}" class="logo mt5">
                             <img style="width:130px; margin-left:10px;" src="{% static 'img/logos/keudee.png' %}" alt="Keudee" title="{{ WEBSITES.meta_information.title }}" />
                        </a>
            </div>
        </div>
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu<span class="touch-button"></span></div>
                        <nav>
                            <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
                                <li><a href="{% url 'index' %}">Beranda</a> </li>
                                <li><a>Tentang</a>
                                    <ul>
                                        
                                        <li><a href="{% url 'page' page='tentang.html' %}">Keudee.com</a>
                                        </li>
                                        <li><a href="{% url 'page' page='syarat-dan-ketentuan-layanan.html' %}">Syarat dan Ketentuan Layanan</a>
                                        </li>

                                    </ul>
                                </li>

                                <li><a href="{% url 'blogs' %}">Blog</a></li>
                                <li><a href="{% url 'page' page='faq.html' %}">Faq</a></li>
                                <li><a href="{% url 'page' page='kontak.html' %}">Kontak</a></li>
                                        
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        <ul class="login-register">
                            <li>
                                <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}"><i class="fa fa-edit"></i>Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>


        <!-- PAGE TITLE -->
        <!-- <div class="top-title-area">
			<div class="container">
				<h1 class="title-page"></h1>
			</div>
		</div> -->
        <!-- END PAGE TITLE -->

        <!-- SEARCH AREA -->
        <form action="{% url 'search' %}" method="GET" class="search-area form-group search-area-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 clearfix">
                        <label><i class="fa fa-search"></i><span>Saya mencari</span>
                        </label>
                        <div class="search-area-division search-area-division-input">
                            <input name="q" {% if get_search %} value="{{ get_search }}" {% endif %}class="form-control" type="text" placeholder="Laptob" />
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <label><i class="fa fa-map-marker"></i><span>di</span>
                        </label>
                        <div class="search-area-division search-area-division-location">
                            <input class="form-control" type="text" placeholder="Banda Aceh" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END SEARCH AREA -->

        <div class="gap"></div>


        <!-- //////////////////////////////////
	//////////////END MAIN HEADER////////// 
	////////////////////////////////////-->


        <!-- //////////////////////////////////
	//////////////PAGE CONTENT///////////// 
	////////////////////////////////////-->



        <div class="container">
            <div class="row col-xs-offset-2" >
                <div class="col-md-3">
                    <aside class="sidebar-left">
                        <ul class="nav nav-pills nav-stacked nav-arrow">
                            {% block side_menu %}
                            <li class="active">
                                <a href="{% url 'login' %}"><i class="fa fa-sign-in fa-fw"></i> Login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}"><i class="fa fa-edit fa-fw"></i> Register</a>
                            </li>
                            {% endblock %}
                        </ul>
                        <br>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="row">
                     {% if messages %}
                                        {% for message in messages %}
                                           
                                           {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                                            <div class="alert alert-success">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Sukses!</strong> {{ message }}
                                            </div>
                                            {% endif %}

                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Terjadi Kesalahan!</strong> {{ message }}
                                            </div>
                                            {% endif %}  
                                        {% endfor %}
                                        {% endif %}  
                        {% block form %}
                        <div class="col-md-7">
                            <form action="{% url 'login' %}" method="POST">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                          <input type="text" name="email" id="email" class="form-control" autofocus>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="pass">Password</label>
                                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                          <input type="password" name="pass" id="pass" class="form-control">
                                        </div>
                                </div>

                                <div>
                                <input type="submit" value="Login" class="btn btn-primary btn-lg">
                                <a class="pull-right" href="{% url 'forgot_password' %}">Lupa Password?</a>

                                </div>

                                <div class="line-through"><p><span class="muted">atau</span></p></div>

                                <div class="center">
                                    <a href="#" style="background-color: #3a5795; color:white; font-weight: bold;" class="btn btn--block"><span class="fa fa-facebook fa-fw"></span> Login dengan Facebook</a>
                                    <a style="background-color: #55acee; color:white; font-weight: bold;" href="#" class="btn btn--block"><span class="fa fa-twitter fa-fw"></span> Login dengan  Twitter</a>
                                </div>
                            </form>
                        </div>


                        {% endblock %}
                    </div>
                    <div class="gap"></div>
                </div>
            </div>

        </div>


        <!-- //////////////////////////////////
	//////////////END PAGE CONTENT///////// 
	////////////////////////////////////-->



        <!-- //////////////////////////////////
	//////////////MAIN FOOTER////////////// 
	////////////////////////////////////-->

        <footer class="main">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <a href="{% url 'index' %}">
                                 <img style="width: 110px; margin-left: 0px;" src="{% static 'img/logos/keudee.png' %}" alt="{{ WEBSITES.meta_information.title }}" title="{{ WEBSITES.meta_information.title }}" class="logo">
                            </a>
                            <ul class="list list-social">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="{{ WEBSITES.social_media.facebook }}" target="blank" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="{{ WEBSITES.social_media.twitter }}" target="blank" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr box-icon" href="{{ WEBSITES.social_media.flickr }}" target="blank" data-toggle="tooltip" title="Flickr"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr box-icon" href="#" data-toggle="tooltip" title="Tumblr"></a>
                                </li>
                            </ul>
                            <p>{{ WEBSITES.meta_information.description }}</p>
                        </div>
                        <div class="col-md-3">
                            <h4>Berlangganan Berita</h4>
                            <div class="box">
                                    <div class="form-group mb10">
                                        <label>E-mail</label>
                                        <input type="text" id="subscriber-email" class="form-control" />
                                    </div>
                                    <p class="mb10">Dapatkan pemberitahuan otomatis, diskon, artikel dan banyak lagi.</p>

                                    <a id="subscriber-button" class="btn btn-primary">Berlangganan</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Informasi Umum</h4>
                            <li><a href="/page/tentang.html">Tentang Kami</a></li>
                            <li><a href="{% url 'confirmation' %}">Konfirmasi Pembayaran</a></li>
                            <li><a href="#">Kebijakan Privasi</a></li>
                             <li><a href="/page/syarat-dan-ketentuan-layanan.html">Syarat dan Ketentuan Layanan</a></li>
                             <li><a href="{% url 'blogs' %}">Blog dan Artikel</a></li>
                             <li><a href="/page/kontak.html">Layanan Kontak</a></li>
                             <li><a href="/page/faq.html">FAQ (Pertanyaan yang sering diajukan</a></li>
                        </div>
                        <div class="col-md-3">
                            <h4>Artikel Terbaru</h4>
                            <ul class="thumb-list">
                                {% for blogs in blogs %}
                                <li>
                                    <a href="{% url 'display_blog' slug=blogs.slug_url %}">
                                        <img src="{{ WEBSITES.upload.blog }}{{ blogs.image_thumbnail }}" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">{{ blogs.date_created | naturalday  }}</p>
                                        <h5 class="thumb-list-item-title">
                                            <a href="{% url 'display_blog' slug=blogs.slug_url %}" style="color: white;">{{ blogs.post_name }}
                                            </a>
                                        </h5>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>{{ WEBSITES.meta_information.copyright }}</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="pull-right">
                                <ul class="list-inline list-payment">
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-aceh.jpg" %}" alt="Bank Aceh" title="Bank Aceh" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bni.png" %}" alt="Bank BNI" title="Bank BNI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-mandiri.png" %}" alt="Bank Mandiri" title="Bank Mandiri" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/Bank-BRI.png" %}" alt="Bank BRI" title="Bank BRI" />
                                    </li>
                                    <li>
                                        <img src="{% static "img/logos/bank/bank-bca.jpg" %}" alt="Bank BCA" title="Bank BCA" />
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //////////////////////////////////
	//////////////END MAIN  FOOTER///////// 
	////////////////////////////////////-->



        <!-- Scripts queries -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/boostrap.min.js" %}"></script>
        <script src="{% static "js/countdown.min.js" %}"></script>
        <script src="{% static "js/flexnav.min.js" %}"></script>
        <script src="{% static "js/magnific.js" %}"></script>
        <script src="{% static "js/tweet.min.js" %}"></script>
        <script src="{% static "js/fitvids.min.js" %}"></script>
        <script src="{% static "js/mail.min.js" %}"></script>
        <script src="{% static "js/ionrangeslider.js" %}"></script>
        <script src="{% static "js/icheck.js" %}"></script>
        <script src="{% static "js/fotorama.js" %}"></script>
        <script src="{% static "js/card-payment.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>
        <script src="{% static "js/masonry.js" %}"></script>
        <script src="{% static "js/nicescroll.js" %}"></script>

        <!-- Custom scripts -->
        <script src="{% static "js/custom.js" %}"></script>
        <script src="{% static "js/mystyles.js" %}"></script>
    </div>
</body>

</html>
