{% extends 'login.html' %}
{% block meta %}
    <title>{{ WEBSITES.meta_information.title }}</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="{{ WEBSITES.meta_information.keywords }}" />
    <meta name="description" content="{{ WEBSITES.meta_information.description }}">
    <meta name="author" content="{{ WEBSITES.meta_information.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block side_menu %}
<li>
                                <a href="{% url 'login' %}"><i class="fa fa-sign-in fa-fw"></i> Login</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'register' %}"><i class="fa fa-edit fa-fw"></i> Register</a>
                            </li>
{% endblock %}

{% block form %}
						<div class="col-md-7">
							<form action="{% url 'register' %}" method="POST">
								<div class="form-group">
				                    <label>Nama Pemilik</label>
				                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                      	  <input type="text" class="form-control"  name="seller_name" required autofocus>     
                                    </div>	
				                </div>
                                <div class="form-group">
				                    <label>Nama Kedai</label>
				                       <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-shopping-cart"></i></div>
				                      	  <input type="text" class="form-control"  name="store" required>
                                       </div>		
				                </div>
				                <div class="form-group">
				                    <label>Email </label>
				                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
				                    	  <input type="email" name="email" class="form-control" required>
                                    </div>		
				                </div>
				                <hr>
				                <div class="form-group">
				                    <label>Password </label>
				                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-key"></i></div>
				                    	  <input type="password" pattern=".{5,}" title="Minimal 5 karakter" name="pass" class="form-control" required>
                                    </div>		
				                    
				                </div>
				                <div class="form-group">
				                    <label>Tulis Password Lagi </label>
				                    <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-key"></i></div>
				                    	  <input type="password" pattern=".{5,}" title="Minimal 5 karakter" name="pass0" class="form-control" required>
                                    </div>		
				                </div>
				                 <input type="submit" value="Register Here" class="btn btn-primary">

                            </form>
                         </div>   
                            {% endblock %}