{% extends 'administrator/administrator.html' %}
{% load humanize %}
{% block side_menu %}
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'administrator' %}"><i class="fa fa-fw  fa-user "> </i> Admin Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_users' %}"><i class="fa fa-fw fa-shopping-cart "></i> Users</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_products' %}"><i class="fa fa-fw fa-truck"></i> Products</a>
                    </li>
                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#category"><i class="fa fa-fw fa-support "></i> Category <i class="fa  fa-caret-down"></i></a>
                            <ul id="category" class="collapse">
                                <li>
                                    <a href="{% url 'admin_categories' %}">All Category</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_category' %}">Create Category</a>
                                </li>   
                            </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-flag "></i> Featured Item <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="">All Featured Item</a>
                            </li>
                            <li>
                                <a href="">Create Featured Item</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#pages"><i class="fa fa-fw fa-file-pdf-o "></i> Pages <i class="fa fa-caret-down"></i></a>
                        <ul id="pages" class="collapse">
                            <li>
                                <a href="{% url 'admin_pages' %}">All Page</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_page' %}">Create Page</a>
                            </li>       
                        </ul>
                    </li>      
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#region"><i class="fa fa-fw fa-moon-o "></i> Region <i class="fa fa-caret-down"></i></a>
                        <ul id="region" class="collapse">
                            <li>
                                <a href="{% url 'admin_regions' %}">All Region</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="{% url 'admin_search' %}">
                            <i class="fa fa-fw fa-search"></i> 
                            Search
                        </a>
                    </li>                                                                                                                           
                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-lock"></i> 
                            Security Question 
                        </a>
                    </li>

                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#slider"><i class="fa fa-fw fa-sliders"></i> Slider <i class="fa  fa-caret-down"></i></a>
                            <ul id="slider" class="collapse">
                                <li>
                                    <a href="{% url 'admin_slider' %}">All Slider</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_slider' %}">Create Slider</a>
                                </li>   
                            </ul>
                    </li>                

                    <li class="active">
                        <a href="javascript:;" data-toggle="collapse" data-target="#blogpost"><i class="fa fa-fw fa-archive"></i> Blog <i class="fa  fa-caret-down"></i></a>
                        <ul id="blogpost" class="collapse-on">
                            <li>
                                <a href="{% url 'admin_blogs' %}">All Blog Post</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_blog' %}">Create a Post</a>
                            </li>       
                        </ul>
                    </li> 

                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-rss"></i> 
                            Subscriber 
                        </a>
                    </li>                                                            
                </ul> 
                {% endblock %}

{% block content %}

<div class="container-fluid">

                 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            New Blog
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-dashboard"></i> Administrator
                            </li>
                            <li>
                                <i class="fa fa-fw fa-archive"></i> Blog
                            </li>
                            <li class="active">
                                New Blog
                            </li>
                        </ol>
                    </div>
                </div>

                <form action="{% url 'admin_create_blog' %}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Post Name</label>
                        <input name="post-name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Image Thumbnail</label><br>
                            <img src="/static/img/900x400.png" style="width: 50%; height: 200px;" class="img-thumbnail"><br><br>

                                        <a class="btn btn-default" onclick="document.getElementById('fileimage1').click(); return false;">Pilih gambar</a>
                                        <input type="file" name="post-image" id="fileimage1" style="visibility: hidden;" required="">
                    </div>
                     <div class="form-group">
                            <label>Content</label>
                            <textarea rows="3" name="post-content" maxlength="200" class="form-control ckeditor"></textarea>
                        </div>


                    <button type="submit" class="btn btn-default btn-primary">Create Blog</button>
                </form>
</div>




{% endblock %}