{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ WEBSITES.meta_information.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "css/boostrap.css" %}" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "admin/sb-admin.css" %}" type="text/css">
    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="{% static "admin/morris.css" %}" type="text/css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static "css/font_awesome.css" %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="{% static "library/bootstrap-select/dist/css/bootstrap-select.min.css" %}">

    <!-- pace -->
    <script src="{% static "library/pace/pace.min.js" %}"></script>
    <link href="{% static "library/pace/themes/blue/pace-theme-flash.css" %}" rel="stylesheet" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logos/favicon.ico" />

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'administrator' %}">Administrator - {{ WEBSITES.meta_information.title }}</a>
            </div>
            <!-- Top Menu Items -->
            <!-- <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul> -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                {% block side_menu %}
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{% url 'administrator' %}"><i class="fa fa-fw  fa-user "> </i> Admin Dashboard</a>
                    </li>
                    <li >
                        <a href="{% url 'admin_users' %}"><i class="fa fa-fw fa-shopping-cart "></i> Users</a>
                    </li>

                    <li>
                        <a href="{% url 'admin_products' %}"><i class="fa fa-fw fa-truck"></i> Products</a>
                    </li>

                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#category"><i class="fa fa-fw fa-support "></i> Category <i class="fa  fa-caret-down"></i></a>
                            <ul id="category" class="collapse">
                                <li>
                                    <a href="{% url 'admin_categories' %}">All Category</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_category' %}">Create Category</a>
                                </li>   
                            </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-flag "></i> Featured Item <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="">All Featured Item</a>
                            </li>
                            <li>
                                <a href="">Create Featured Item</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#pages"><i class="fa fa-fw fa-file-pdf-o "></i> Pages <i class="fa fa-caret-down"></i></a>
                        <ul id="pages" class="collapse">
                            <li>
                                <a href="{% url 'admin_pages' %}">All Page</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_page' %}">Create Page</a>
                            </li>       
                        </ul>
                    </li>      
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#region"><i class="fa fa-fw fa-moon-o "></i> Region <i class="fa fa-caret-down"></i></a>
                        <ul id="region" class="collapse">
                            <li>
                                <a href="{% url 'admin_regions' %}">All Region</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="{% url 'admin_search' %}">
                            <i class="fa fa-fw fa-search"></i> 
                            Search
                        </a>
                    </li>                                                                                                                           
                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-lock"></i> 
                            Security Question 
                        </a>
                    </li>

                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#slider"><i class="fa fa-fw fa-sliders"></i> Slider <i class="fa  fa-caret-down"></i></a>
                            <ul id="slider" class="collapse">
                                <li>
                                    <a href="{% url 'admin_slider' %}">All Slider</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_slider' %}">Create Slider</a>
                                </li>   
                            </ul>
                    </li>                

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#blogpost"><i class="fa fa-fw fa-archive"></i> Blog <i class="fa  fa-caret-down"></i></a>
                        <ul id="blogpost" class="collapse">
                            <li>
                                <a href="{% url 'admin_blogs' %}">All Blog Post</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_blog' %}">Create a Post</a>
                            </li>       
                        </ul>
                    </li> 

                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-rss"></i> 
                            Subscriber 
                        </a>
                    </li>                                                            
                </ul>
                {% endblock %}
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        
        <div id="page-wrapper">
        {% block content %}
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Summary Dashboard 
                        </h1>
                        
                    </div>
                </div>
                
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-user fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ all_kedai.count }}</div>
                                        <div>All Users</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'admin_users' %}">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ all_products.count }}</div>
                                        <div>Products</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'admin_products' %}">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-money fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">124</div>
                                        <div>Articles and Page</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'admin_pages' %}">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ all_categories.count }}</div>
                                        <div>List Categories</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'admin_categories' %}">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        </div>
        
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/boostrap.min.js" %}"></script>
    <!-- Ckeditor  -->
    <script src="{% static "library/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "library/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>
        <script>
    <!-- Mystyles -->
    <script src="{% static "js/mystyles.js" %}"></script>


</body>

</html>