{% extends 'administrator/administrator.html' %}
{% load humanize %}
{% block side_menu %}
               <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'administrator' %}"><i class="fa fa-fw  fa-user "> </i> Admin Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_users' %}"><i class="fa fa-fw fa-shopping-cart "></i> Users</a>
                    </li>

                    <li>
                        <a href="{% url 'admin_products' %}"><i class="fa fa-fw fa-truck"></i> Products</a>
                    </li>

                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#category"><i class="fa fa-fw fa-support "></i> Category <i class="fa  fa-caret-down"></i></a>
                            <ul id="category" class="collapse">
                                <li>
                                    <a href="{% url 'admin_categories' %}">All Category</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_category' %}">Create Category</a>
                                </li>   
                            </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-flag "></i> Featured Item <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="">All Featured Item</a>
                            </li>
                            <li>
                                <a href="">Create Featured Item</a>
                            </li>
                        </ul>
                    </li>
                     <li  class="active">
                        <a href="javascript:;" data-toggle="collapse" data-target="#pages"><i class="fa fa-fw fa-file-pdf-o "></i> Pages <i class="fa fa-caret-down"></i></a>
                        <ul id="pages" class="collapse-on">
                            <li>
                                <a href="{% url 'admin_pages' %}">All Page</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_page' %}">Create Page</a>
                            </li>       
                        </ul>
                    </li>      
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#region"><i class="fa fa-fw fa-moon-o "></i> Region <i class="fa fa-caret-down"></i></a>
                        <ul id="region" class="collapse">
                            <li>
                                <a href="{% url 'admin_regions' %}">All Region</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="{% url 'admin_search' %}">
                            <i class="fa fa-fw fa-search"></i> 
                            Search
                        </a>
                    </li>                                                                                                                           
                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-lock"></i> 
                            Security Question 
                        </a>
                    </li>

                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#slider"><i class="fa fa-fw fa-sliders"></i> Slider <i class="fa  fa-caret-down"></i></a>
                            <ul id="slider" class="collapse">
                                <li>
                                    <a href="{% url 'admin_slider' %}">All Slider</a>
                                </li>
                                
                                <li> 
                                    <a href="{% url 'admin_create_slider' %}">Create Slider</a>
                                </li>   
                            </ul>
                    </li>                

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#blogpost"><i class="fa fa-fw fa-archive"></i> Blog <i class="fa  fa-caret-down"></i></a>
                        <ul id="blogpost" class="collapse">
                            <li>
                                <a href="{% url 'admin_blogs' %}">All Blog Post</a>
                            </li>
                            <li>
                                <a href="{% url 'admin_create_blog' %}">Create a Post</a>
                            </li>       
                        </ul>
                    </li> 

                    <li>
                        <a href="">
                            <i class="fa fa-fw fa-rss"></i> 
                            Subscriber 
                        </a>
                    </li>                                                            
                </ul> 
                {% endblock %}

{% block content %}

<div class="container-fluid">

				 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            Pages
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-dashboard"></i> Administrator
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-file-pdf-o"></i> Pages
                            </li>
                        </ol>
                    </div>
                </div>

               <table class="table table-order ">
                <thead>
                    <tr class="breadcrumb ">
                        <th>page name</th>
                        <th>location</th>
                        <th>page viewer </th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                	{% for pages in pages %}
                	<tr>
                		<td> {{ pages.page_name }} </td>
                		<td> 
                            <a href="{% url 'page' page=pages.slug_url %}">{{ pages.slug_url }} </a>
                        </td>
                		<td> {{ pages.page_viewer  }} </td>
						<td>
                            <a href="{% url 'admin_edit_page' id=pages.id %}" data-effect="mfp-move-from-top" data-toggle="tooltip" title="Edit"  class="btn btn-primary btn-mini fa fa-gear popup-text"></a>

                            <a href="{% url 'admin_delete_page' id=pages.id %}" onclick="return confirm('Are you sure want to Remove?');" data-effect="mfp-move-from-top" data-toggle="tooltip" title="Hapus"  class="btn btn-danger btn-mini fa fa-trash-o popup-text"></a>

                        </td>
                	</tr>
                	{% endfor %}

                </tbody>
                </table>

                <nav style="text-align:center;">
                  <ul class="pagination">
                   {% for page_range in paginator.page_range %}
                   <li {% if all_kedai.number  == page_range  %} class="active"{% endif %}><a href="?page={{ page_range }}">{{ page_range }}</a></li> 
                   {% endfor %}
                  </ul>
                </nav>
</div>




{% endblock %}