{% extends 'administrator/administrator.html' %}
{% load humanize %}
{% block side_menu %}
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'administrator' %}"><i class="fa fa-fw  fa-user "> </i> Admin Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_users' %}"><i class="fa fa-fw fa-shopping-cart "></i> Users</a>
                    </li>
                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#category"><i class="fa fa-fw fa-support "></i> Category <i class="fa fa-caret-down"></i></a>
                            <ul id="category" class="collapse">
                                <li>
                                    <a href="{% url 'admin_categories' %}">All Category</a>
                                </li>
                                
                                <li> 
                                    <a href="/administrator/category/create">Create Category</a>
                                </li>   
                            </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-flag "></i> Featured Item <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="/administrator/featured_item">All Featured Item</a>
                            </li>
                            <li>
                                <a href="/administrator/featured_item/create">Create Featured Item</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#pages"><i class="fa fa-fw fa-file-pdf-o "></i> Pages <i class="fa fa-caret-down"></i></a>
                        <ul id="pages" class="collapse">
                            <li>
                                <a href="{% url 'admin_pages' %}">All Page</a>
                            </li>
                            <li>
                                <a href="/administrator/page/create">Create Page</a>
                            </li>       
                        </ul>
                    </li>    
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#region"><i class="fa fa-fw  fa-moon-o "></i> Region <i class="fa fa-caret-down"></i></a>
                        <ul id="region" class="collapse">
                            <li>
                                <a href="/administrator/region">All Region</a>
                            </li>
                        </ul>
                    </li> 
                    <li class="active">
                        <a href="/administrator/searched_by_people">
                            <i class="fa fa-search"></i> 
                            Search
                        </a>
                    </li>                                                                                                                           
                    <li>
                        <a href="/administrator/security_question">
                            <i class="fa fa-lock"></i> 
                            Security Question 
                        </a>
                    </li>

                    <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#slider"><i class="fa fa-sliders"></i> Slider <i class="fa  fa-caret-down"></i></a>
                            <ul id="slider" class="collapse">
                                <li>
                                    <a href="/administrator/slider">All Slider</a>
                                </li>
                                
                                <li> 
                                    <a href="/administrator/slider/create">Create Slider</a>
                                </li>   
                            </ul>
                    </li>                

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#blogpost"><i class="fa  fa-archive"></i> Blog <i class="fa  fa-caret-down"></i></a>
                        <ul id="blogpost" class="collapse">
                            <li>
                                <a href="/administrator/blog">All Blog Post</a>
                            </li>
                            <li>
                                <a href="/administrator/blog/create">Create a Post</a>
                            </li>       
                        </ul>
                    </li> 

                    <li>
                        <a href="/administrator/all_subscriber">
                            <i class="fa fa-rss"></i> 
                            Subscriber 
                        </a>
                    </li>                                                            
                </ul>
                {% endblock %}

{% block content %}

<div class="container-fluid">

				 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            Search
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-dashboard"></i> Administrator
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-search"></i> Regions
                            </li>
                        </ol>
                    </div>
                </div>

               <table class="table table-order ">
                <thead>
                    <tr class="breadcrumb ">
                        <th>search </th>
                        <th>viewer</th>
                        <th>date</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                	{% for search in search %}
                	<tr>
                		<td> {{ search.search }} </td>
                		<td> {{ search.date_searched | naturalday }} </td>
                        <td> {{ search.viewer }}
						<td>

                             <a href="" data-effect="mfp-move-from-top" data-toggle="tooltip" title="Hapus"  class="btn btn-danger btn-mini fa fa-trash-o popup-text"></a>

                        </td>
                	</tr>
                	{% endfor %}

                </tbody>
                </table>

                <nav style="text-align:center;">
                  <ul class="pagination">
                   {% for page_range in paginator.page_range %}
                   <li {% if all_kedai.number  == page_range  %} class="active"{% endif %}><a href="?page={{ page_range }}">{{ page_range }}</a></li> 
                   {% endfor %}
                  </ul>
                </nav>
</div>




{% endblock %}