{% extends 'account/profile.html' %}
{% load humanize %}
{% block side_menu %}
<style type="text/css">
    .transaction-card {
float: left;
background-color: #fff;
border: 1px solid #DDD;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075);
transition: .2s;
-webkit-transition: .2s;
-moz-transition: .2s;
-o-transition: .2s;}
.transaction-card-header {
padding-top: 15px;
cursor: pointer; }
    .transaction-card-action, .transaction-card-footer, .transaction-card-product, .transaction-card-total {
padding-top: 10px;
padding-bottom: 10px;
border-top: 1px solid #DDD;
background-color: #f4f4f4;}
</style>
                        <aside class="sidebar-left">
                            <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                                <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profil</a>
                                </li>
                                <li><a href="{% url 'social_media' %}"><i class="fa fa-bullhorn"></i>Social Media</a>
                                </li>
                                <li>
                                    <a href="{% url 'account_settings' %}"><i class="fa fa-truck"></i>Pengaturan</a>
                                </li>
                            </ul>
                        </aside>    
                        <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'products' %}"><i class="fa fa-file-text-o"></i>Semua Produk</a>
                            </li>
                            <li><a href="{% url 'add_product' %}"><i class="fa fa-plus"></i>Tambah Produk</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li class="active"><a href="{% url 'account_transaction' %}"><i class="fa fa-credit-card"></i>Transaksi</a>
                            </li>
                            <li><a href="{% url 'account_feedback'  %}"><i class="fa fa-hand-o-right"></i>Feedback</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'change_password'  %}"><i class="fa fa-unlock"></i>Ganti Password</a>
                            </li>
                        </ul>
                    </aside>         
                        {% endblock %}
{% block form %}
<div class="col-md-12">
					<div class="row">
                        <div class="col-md-12">
                            <div class="transaction-card col-md-12">
                                <div class="row transaction-card-header" data-toggle="collapse" href="#transaction-card-body-0" aria-expanded="true" aria-controls="transaction-card-body-0">
                                    <div class="col-xs-8">
                                    <p><b> Pembeli <i>{{ purchase.name_buyer }}</i> <br>Email  <i>{{ purchase.email_buyer }}</i><br> HP  <i>{{ purchase.hp_buyer }} </i><br> Kode Transaksi  <i>{{ purchase.id }} </i></b> 
                                    <br> STATUS  <i> {{ purchase.status }} </i></b> 
                                    <span class="tips"></span></p>

                                    </div>
                                    
                                    <div class="col-xs-4">
                                        <p align="right"><b> Penerima <i>{{ purchase.to_name_buyer }}</i> <br> HP  <i>{{ purchase.hp_buyer }} </i></b> 
                                    <span class="tips"></span></p>
                                    <p align="right">
                                        <span class="fa fa-map-marker"></span>
                                        <span class="tips">{{ purchase.to_province.province }}, {{ purchase.to_region }}. <br> {{ purchase.address }}</span>
                                    </p>
                                    </div>
                                </div>
                                <div class="row collapse in" id="transaction-card-body-0">  <div class="col-xs-12">
                                    <div class="row transaction-card-product">
                                        <div class="col-md-2 col-sm-3 col-xs-5">
                                            <p><img src="{{ WEBSITES.upload.product_thumbnails}}{{purchase.product.kedai.id}}/{{ purchase.product.images.0 }}"></p></div><div class="col-md-6 col-sm-5 col-xs-7"><p><b class="one-liner-text">{{ purchase.product.product_name }}</b></p><a href="#" class="modal-link" cart-id="1" data-toggle="modal" data-target="#product-modal"><span class="qicon qicon-writer"></span>Ubah</a>  · <a href="{% url 'account_delete_transaction' id=purchase.id %}" onclick="return confirm('Apakah Anda yakin ingin menghapus?');" class="del-butt-product" cart-id="1"><span class="qicon qicon-trash"></span>Hapus </a> {% if payment %} · <a href="{{ WEBSITES.upload.purchase}}/{{ payment.evidence_payment }}" class="del-butt-product" cart-id="1"><span class="qicon qicon-trash"></span>Bukti Pembayaran </a>{% endif %}


                                        </div>
                                        <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-7 col-xs-offset-5">{{ purchase.quantity }} item<br>@ Rp {{ purchase.satuan_product | intcomma }}</div><div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-7 col-xs-offset-5">Rp {{ purchase.basic_price | intcomma }}
                                        </div>
                                    </div>
                                   </div>
                                </div>

                                <div class="expedition-div row transaction-card-detail" style=""><br>
                                    <div class="col-md-2 col-sm-3 col-xs-5">
                                           <p>Menggunakan<br> 
                                           <b>Ekspedisi JNE</b>
                                    </div>
                                    <div id="expedition-message-373" class="col-md-6 col-sm-5 hidden-xs">
                                        <p class="hidden-sm hidden-xs tips">Biaya kirim akan ditanggung oleh pembeli, dan untuk saat ini hanya bisa menggunakan pengiriman melalui JNE.</p>
                                    </div>

                                    <div class="col-md-2 col-sm-4 col-xs-7">Biaya Kirim</div>

                                    <div id="shipping-cost-373" class="col-md-2 col-sm-4 col-xs-7"><span class="tips">Rp. {{ purchase.to_province.shipping_cost |intcomma}}</span>
                                    </div>
                                </div>

                                <hr style="margin-top : 0px;">

                                <div class="expedition-div row transaction-card-detail" style="margin-top: -30px; margin-bottom: 10px;"><br>
                                    <div class="col-md-2 col-sm-3 col-xs-5">
                                    </div>
                                    <div id="expedition-message-373" class="col-md-6 col-sm-5 hidden-xs">
                                        <!-- <p class="hidden-sm hidden-xs tips">Total Keseluruhan merupakan total biaya kirim ditambah dengan total jumlah produk yang dibeli.</p> -->
                                    </div>

                                    <div class="col-md-2 col-sm-4 col-xs-7"><b>Total Keseluruhan</b></div>

                                    <div id="shipping-cost-373" class="col-md-2 col-sm-4 col-xs-7"><span class="tips"><b>Rp. {{ purchase.total_payment |intcomma}}</b></span>
                                    </div>
                                </div>

                            </div>
                                    
                        </div>
					</div>
					<div class="gap gap-mini">
                        </div>
</div>
                               
                                
{% endblock %}
