{% extends 'account/profile.html' %}
{% load humanize %}
{% block side_menu %}
                        <aside class="sidebar-left">
                            <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                                <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profil</a>
                                </li>
                                <li><a href="{% url 'social_media' %}"><i class="fa fa-bullhorn"></i>Social Media</a>
                                </li>
                                <li>
                                    <a href="{% url 'account_settings' %}"><i class="fa fa-truck"></i>Pengaturan</a>
                                </li>
                            </ul>
                        </aside>    
                        <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'products' %}"><i class="fa fa-file-text-o"></i>Semua Produk</a>
                            </li>
                            <li><a href="{% url 'add_product' %}"><i class="fa fa-plus"></i>Tambah Produk</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li class="active"><a href="{% url 'account_transaction' %}"><i class="fa fa-credit-card"></i>Transaksi</a>
                            </li>
                            <li><a href="{% url 'account_feedback'  %}"><i class="fa fa-hand-o-right"></i>Feedback</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
                            <li><a href="{% url 'change_password'  %}"><i class="fa fa-unlock"></i>Ganti Password</a>
                            </li>
                        </ul>
                    </aside>         
                        {% endblock %}
{% block form %}
<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">	
							<h2>Transaksi</h2>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" name="facebook" class="form-control" placeholder="Cari transaksi">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								 <select name="region" title="Pilih Aktifitas" class="form-control selectpicker show-tick">
									<option value="Semua">Semua</option>
									<option value="Beli">Beli</option>
									<option value="Jual">Jual</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								 <select name="region" title="Pilih Status" class="form-control selectpicker show-tick">
									<option value="Semua">Semua</option>
									<option value="Beli">Menunggu</option>
									<option value="Beli">Dibayar</option>
									<option value="Beli">Dikirim</option>
									<option value="Beli">Diterima</option>
									<option value="Beli">Selesai</option>
								</select>
							</div>
						</div>
					</div>
					<div class="gap gap-mini">
					 <table class="table table-order">
					 	<thead>
						  <tr>
						   <th><b>Gambar</b></th>
						   <th><b>Produk</b></th>
						   <th><b>Tanggal</b></th>
                           <th><b>Jumlah</b></th>
                           <th><b>Total</b></th>
						   <th class="center"><b>Aksi</b></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for purchase in purchase %}
                        	<tr>
                        	 <td class="image_account">
                                      <a target="blank" href="{% url 'display_product' slug=purchase.product.slug_url %}"><img class="images" src="{{WEBSITES.upload.product_thumbnails}}{{purchase.product.kedai.id}}/{{ purchase.product.images.0 }}"></a>
                             </td>
                        	 <td>
                        	 	<a target="blank" href="{% url 'display_product_by_id' id=purchase.product.id %}">{{ purchase.product.product_name }}</a>
                        	 </td>
                        	 <td>{{ purchase.time_purchase | date:"d M y, H:i" }} </td>
                             <td>{{ purchase.quantity}} </td>
                             <td>{{ purchase.basic_price | intcomma }}</td>
                        	 <td class="actions center">
                                            <a href="{% url 'account_detail_transaction' id=purchase.id  %}" data-toggle="tooltip" title="Lihat Transaksi" class="btn btn-primary btn-mini fa fa-eye"> </a>

                                        </td>
                        	</tr> 
                            {% endfor %}
						</tbody>
                     </table>

                            <form action="{%  url 'social_media' %}" method="POST">
                            <input type="hidden" />
                            
                            </form>
                        </div>
</div>
                               
                                
{% endblock %}
